<div class="">
  <mat-drawer-container class="side-container">
    <mat-drawer mode="side"class="sidebar" id="side" #drawer opened>
      <mat-selection-list role="list-container" [multiple]="false">
        <a href="Admin-Carrera/ContadorPublico">
          <mat-list-option>
            Contador Publico
          </mat-list-option>
        </a>
        <a href="Admin-Carrera/Gestion">
          <mat-list-option role="/Logo">
            Gestion Empresarial
          </mat-list-option>
        </a>

        <a href="Admin-Carrera/Aeronautica">
          <mat-list-option role="/Logo">
            Ingenieria Aeronautica
          </mat-list-option>
        </a>

        <a href="Admin-Carrera/Bioquimica">
          <mat-list-option role="/Logo">
            Ingenieria Bioquimica
          </mat-list-option>
        </a>

        <a href="Admin-Carrera/Electronica">
          <mat-list-option role="/Logo">
            Ingenieria Electronica
          </mat-list-option>
        </a>

        <a href="Admin-Carrera/Industrial">
          <mat-list-option role="/Logo">
            Ingenieria Industrial
          </mat-list-option>
        </a>

        <a href="Admin-Carrera/Informatica">
          <mat-list-option role="/Logo">
            Ingenieria Informatica
          </mat-list-option>
        </a>

        <a href="Admin-Carrera/Mecanica">
          <mat-list-option role="/Logo">
            Ingenieria Mecanica
          </mat-list-option>
        </a>

        <a href="Admin-Carrera/Mecatronica">
          <mat-list-option role="/Logo">
            Ingenieria Mecatronica
          </mat-list-option>
        </a>

        <a href="Admin-Carrera/Quimica">
          <mat-list-option role="/Logo">
            Ingenieria Quimica
          </mat-list-option>
        </a>

        <a href="Admin-Carrera/Sistemas">
          <mat-list-option role="/Logo">
            Ingeniería Sistemas Computacionales
          </mat-list-option>
        </a>
      </mat-selection-list>
    </mat-drawer>

    <mat-drawer-content class="side-content">
      <button id="arrow" type="button" mat-button (click)="drawer.toggle()" (click)="open()">
        <mat-icon id="right" class="open">arrow_forward</mat-icon>
        <mat-icon id="left">arrow_back</mat-icon>
      </button>
      <mat-divider class="divider"></mat-divider>

    <div class="text-side">
      <div class="box-shadow= 50px 50px;">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Admin</a></li>
            <li class="breadcrumb-item"><a href="/Admin-Carrera">Carreras</a></li>
            <li class="breadcrumb-item"><a href="/Admin-Carrera/Aeronautica">Aeronautica</a></li>
          </ol>
        </nav>
      </div>
    </div>

    <h1 class="fw-bold lh-sm fs-4 shadow p-3 mb-5 bg-body rounded">Panel Administracion Aeronautica</h1>

    <section  class="lh-sm fs-4 shadow p-3 mb-5 bg-body rounded">

      <label for="inputAddress" class="form-label fw-bold" >Objetivo</label>

      <form [formGroup]="ingresarObjetivo" (ngSubmit)="agregarObjetivo()">
        <div class="row ">
          <span *ngIf="submitedObjetivo && ingresarObjetivo.invalid" class="alert alert-danger">Los campos deben tener datos para ingresar</span>
          <label for="inputAddress" class="form-label fw-bold" >Agregar</label>

          <div class="col-10">
            <input type="text" class="form-control" id="inputAddress" value="" formControlName="titulo_Objetivo" placeholder="Objetivo">
          </div>

          <div class="col">
            <button type="submit" class="btn btn-success">Agregar</button>
          </div>

        </div>
      </form>
      <br>
      <h1 class="fw-bold lh-sm fs-4 shadow p-3 mb-5 bg-body rounded" *ngIf="Objetivo.length==0">No hay datos en Objetivo para mostrar</h1>
      <form *ngIf="Objetivo.length>0">
        <label for="inputAddress" class="form-label fw-bold" >Eliminar y Editar</label>
        <div *ngFor="let Objetivo of Objetivo " class="row" >
          <div class="col-8">
            <input type="text" class="form-control" id="inputAddressObjetivo" value="{{Objetivo.contenido}}">

          </div>
          <div class="col float-rigth">
            <button type="button" (click)="eliminaObjetivo(Objetivo.id)"  class="btn btn-danger">Eliminar</button>
          </div>
          <div class="col float-rigth" >
            <button type="button" (click)="editaObjetivo(Objetivo.id)"  class="btn btn-success">Editar</button>
          </div>
        </div>
        <hr>
      </form>
    </section>


    <section  class="lh-sm fs-4 shadow p-3 mb-5 bg-body rounded">

      <label for="inputAddress" class="form-label fw-bold" >Ingreso</label>

      <form [formGroup]="ingresarIngreso" (ngSubmit)="agregarIngreso()">
        <div class="row ">
          <span *ngIf="submitedIngreso && ingresarIngreso.invalid" class="alert alert-danger">Los campos deben tener datos para ingresar</span>
          <label for="inputAddress" class="form-label fw-bold" >Agregar</label>

          <div class="col-10">
            <input type="text" class="form-control" id="inputAddress" value="" formControlName="titulo_Ingreso" placeholder="Perfil de Ingreso">
          </div>

          <div class="col">
            <button type="submit" class="btn btn-success">Agregar</button>
          </div>

        </div>
      </form>
      <br>
      <h1 class="fw-bold lh-sm fs-4 shadow p-3 mb-5 bg-body rounded" *ngIf="Egreso.length==0">No hay datos en Vision para mostrar</h1>
      <form *ngIf="Egreso.length>0">
        <label for="inputAddress" class="form-label fw-bold" >Eliminar y Editar</label>
        <div *ngFor="let Egreso of Egreso " class="row" >
          <div class="col-8">
            <input type="text" class="form-control" id="inputAddressEgreso" value="{{Egreso.contenido}}">

          </div>
          <div class="col float-rigth">
            <button type="button" (click)="eliminaEgreso(Egreso.id)"  class="btn btn-danger">Eliminar</button>
          </div>
          <div class="col float-rigth" >
            <button type="button" (click)="editaEgreso(Egreso.id)"  class="btn btn-success">Editar</button>
          </div>
        </div>
        <hr>
      </form>
    </section>



    <section  class="lh-sm fs-4 shadow p-3 mb-5 bg-body rounded">

      <label for="inputAddress" class="form-label fw-bold" >Egreso</label>

      <form [formGroup]="ingresarEgreso" (ngSubmit)="agregarEgreso()">
        <div class="row ">
          <span *ngIf="submitedEgreso && ingresarEgreso.invalid" class="alert alert-danger">Los campos deben tener datos para ingresar</span>
          <label for="inputAddress" class="form-label fw-bold" >Agregar</label>

          <div class="col-10">
            <input type="text" class="form-control" id="inputAddress" value="" formControlName="titulo_Egreso" placeholder="Perfil de Egreso">
          </div>

          <div class="col">
            <button type="submit" class="btn btn-success">Agregar</button>
          </div>

        </div>
      </form>
      <br>
      <h1 class="fw-bold lh-sm fs-4 shadow p-3 mb-5 bg-body rounded" *ngIf="Egreso.length==0">No hay datos en Vision para mostrar</h1>
      <form *ngIf="Egreso.length>0">
        <label for="inputAddress" class="form-label fw-bold" >Eliminar y Editar</label>
        <div *ngFor="let Egreso of Egreso " class="row" >
          <div class="col-8">
            <input type="text" class="form-control" id="inputAddressEgreso" value="{{Egreso.contenido}}">

          </div>
          <div class="col float-rigth">
            <button type="button" (click)="eliminaEgreso(Egreso.id)"  class="btn btn-danger">Eliminar</button>
          </div>
          <div class="col float-rigth" >
            <button type="button" (click)="editaEgreso(Egreso.id)"  class="btn btn-success">Editar</button>
          </div>
        </div>
        <hr>
      </form>
    </section>




    <section  class="lh-sm fs-4 shadow p-3 mb-5 bg-body rounded">

      <label for="inputAddress" class="form-label fw-bold" >Campo Laboral</label>

      <form [formGroup]="ingresarCampo" (ngSubmit)="agregarCampo()">
        <div class="row ">
          <span *ngIf="submitedCampo && ingresarCampo.invalid" class="alert alert-danger">Los campos deben tener datos para ingresar</span>
          <label for="inputAddress" class="form-label fw-bold" >Agregar</label>

          <div class="col-10">
            <input type="text" class="form-control" id="inputAddress" value="" formControlName="titulo_Campo" placeholder="Campo Laboral">
          </div>

          <div class="col">
            <button type="submit" class="btn btn-success">Agregar</button>
          </div>

        </div>
      </form>
      <br>
      <h1 class="fw-bold lh-sm fs-4 shadow p-3 mb-5 bg-body rounded" *ngIf="Campo.length==0">No hay datos en Campo Laboral para mostrar</h1>
      <form *ngIf="Campo.length>0">
        <label for="inputAddress" class="form-label fw-bold" >Eliminar y Editar</label>
        <div *ngFor="let Campo of Campo " class="row" >
          <div class="col-8">
            <input type="text" class="form-control" id="inputAddressCampo" value="{{Campo.contenido}}">

          </div>
          <div class="col float-rigth">
            <button type="button" (click)="eliminaCampo(Campo.id)"  class="btn btn-danger">Eliminar</button>
          </div>
          <div class="col float-rigth" >
            <button type="button" (click)="editaCampo(Campo.id)"  class="btn btn-success">Editar</button>
          </div>
        </div>
        <hr>
      </form>
    </section>



    <section  class="lh-sm fs-4 shadow p-3 mb-5 bg-body rounded">

      <label for="inputAddress" class="form-label fw-bold" >Documentos</label>

      <form [formGroup]="ingresarDoc" (ngSubmit)="agregarDoc()">
        <div class="row ">
          <span *ngIf="submitedDoc && ingresarDoc.invalid" class="alert alert-danger">Los campos deben tener datos para ingresar</span>
          <label for="inputAddress" class="form-label fw-bold" >Agregar</label>

          <div class="col-10">
            <input type="number" class="form-control" id="exampleFormControlTextarea1" value="" rows="3" placeholder="Posicion" formControlName="Id_Doc">
            <input type="text" class="form-control" id="inputAddress" value="" formControlName="titulo_Doc" placeholder="Titulo Boton">
            <input type="text" class="form-control" id="inputAddress1" value="" formControlName="contenido_Doc" placeholder="Contenido Boton">
          </div>

          <div class="col">
            <button type="submit" class="btn btn-success">Agregar</button>
          </div>

        </div>
      </form>
      <br>
      <h1 class="fw-bold lh-sm fs-4 shadow p-3 mb-5 bg-body rounded" *ngIf="Doc.length==0">No hay datos en Documentos para mostrar</h1>
      <form *ngIf="Doc.length>0">
        <label for="inputAddress" class="form-label fw-bold" >Eliminar y Editar</label>
        <div *ngFor="let Doc of Doc " class="row" >
          <div class="col-8">
            Id
            <input type="text" class="form-control" id="inputAddressDoc" value="{{Doc.id_doc}}">
            Titulo-Boton
            <input type="text" class="form-control" id="inputAddressDoc1" value="{{Doc.titulo}}">
            Contenido-Boton
            <input type="text" class="form-control" id="inputAddressDoc2" value="{{Doc.contenido}}">
          </div>
          <div class="col float-rigth">
            <button type="button" (click)="eliminaDoc(Doc.id)"  class="btn btn-danger">Eliminar</button>
          </div>
          <div class="col float-rigth" >
            <button type="button" (click)="editaDoc(Doc.id)"  class="btn btn-success">Editar</button>
          </div>
        </div>
        <hr>
      </form>
    </section>



    </mat-drawer-content>
  </mat-drawer-container>
  </div>

