.carousel-item{
    height: 30vh;
    background-size: cover;
    background-color: black;
}

.image{
    opacity: 0.9;
}

@media screen and (min-width: 860px){
    .carousel-item{
        height: 40vh;
    }
}