footer{
    width: 100%;
    background-color: #212121;
    padding: 10px;
    display: flex;
    gap: 10px;
    justify-content: space-around;
}

.links{
    width: 30%;
    color: white;
}

.contact{
    width: 30%;
    color: white;
    background-color: none;
    display: flex;
    flex-flow: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.card h3{
    font-size: 1.3rem;
}

.direction{
    color:white;
    width: 40%;
    text-align: center;
}

.social{
    display: flex;
    flex-flow: row;
    gap: 10px;
}


@media screen and (max-width: 810px){
    footer{
        display: flex;
        flex-flow: column !important;
    }

    footer div{
        width: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    .social{
        display: flex;
        flex-flow: row !important;
        margin-bottom: 10px;
    }

    .direction > iframe{
        margin-bottom: 10px;
    }
}

#linkedin{
    background-color: #fff;
    border-radius: 7px;
}