<footer>
    <div class="links">
        Links de interés
    </div>

    <div class="contact">
        <h3>Tel&eacute;fono:  01 (55) 50 00 23 00</h3>
        <h3>E-mail: webmaster_tese@tese.edu.mx</h3>
        <div class="social">
            <a href="https://www.facebook.com/FamiliaTESE"><img src="../../../../assets/images/facebook.svg" width="50px" alt="facebook"/></a>
            <a href="https://www.instagram.com/familiatese.oficial/"><img src="../../../../assets/images/instagram.svg" width="50px" alt="instagram"/></a>
            <a href="https://www.linkedin.com/school/tecnologico-de-ecatepec/"><img src="../../../../assets/images/linkedin.svg" id="linkedin" width="50px" alt="linkedin"/></a>
        </div>
    </div>
    
    <div class="direction">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3760.72926565232!2d-99.0423488857589!3d19.510280343249207!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1fa94a2bf91f9%3A0x700d93a5d515a259!2sTecNM%20-%20Tecnol%C3%B3gico%20de%20Estudios%20Superiores%20de%20Ecatepec!5e0!3m2!1ses-419!2smx!4v1622836667596!5m2!1ses-419!2smx" width="100%" height="auto" style="border:0;" allowfullscreen="" loading="lazy">
        </iframe>
        
        Av. Tecnológico S/N C.P. 55210 Col. Valle de Anáhuac, Ecatepec de Morelos, Estado de México
    </div>
</footer>
