.dsc-carousel {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  &::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.705);
  }

  &__content {
    text-align: center;
    width: 100%;
    align-self: stretch;
    display: flex;
    overflow: hidden;
    &-item {
      float: left;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      transition: 500ms all ease-in;
      h1 {
        color: white;
        font-weight: 900;
        text-transform: uppercase;
        z-index: 1;
        span {
          color: #eb2a30;
        }
      }
      p {
        z-index: 1;
        color: white;
        font-weight: 500;
        font-size: 20px;
      }
    }
  }

  &__btns {
    position: absolute;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    > i {
      opacity: 0.7;
      color: #fff;
      font-size: 45px;
      cursor: pointer;
      justify-content: space-between;
      &:hover {
        opacity: 1;
      }
    }
  }

  &__steps {
    position: absolute;
    bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    &-step {
      height: 8px;
      width: 25px;
      margin: 0 5px;
      border-radius: 5px;
      border: 1px solid rgba(255, 255, 255, 0.7);
      cursor: pointer;
      transition: 0.75s all ease-in-out;
      &:hover,
      &-active {
        opacity: 0.7;
        background: #fff;
      }
    }
  }
}

a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
  font-size: 1rem;
  cursor: pointer;
  z-index: 23;
  color: #ccc;
  font-weight: 200;
  background-color: rgba(0, 0, 0, 0.87);
  padding: 10px;
  border-radius: 5px;
}

a:hover {
  border-bottom: 1px solid;
  color: #fff;
}


@media screen and (min-width: 820px) {
  .dsc-carousel__content .active h1{
    opacity: 0.6;
  }
  
  .dsc-carousel:hover .dsc-carousel__content .active h1{
    opacity: 1;
  }

  .dsc-carousel:hover{
    &::before {
      background: rgba(0, 0, 0, 0.767);
    }
  }

  .dsc-carousel{
    &::before {
      background: rgba(0, 0, 0, 0);
    }
  }
}

.dsc-carousel__conten div{
  background-color: none;
}