<app-carousel-gestion></app-carousel-gestion>
<body>

  <div class="container-fluid" >




 <mat-drawer-container class="side-container">





     <mat-drawer-content class="side-content">

         <mat-divider class="divider"></mat-divider>

         <!-- Empieza el area para ingresar contenido en el panel lateral -->
         <div class="text-side" >
 <div class="box-shadow= 50px 50px;">





   <!-- Breadcrumb, ayuda a que el sitio sea mas agil y el usuario sepa en donde esta localizado, hacia donde puede ir y que paginas le anteceden -->
   <nav aria-label="breadcrumb">
     <ol class="breadcrumb">
       <li class="breadcrumb-item"><a href="/">Home</a></li>
       <li class="breadcrumb-item"><a href="/Carreras">Carreras</a></li>
       <li class="breadcrumb-item"><a href="/Carreras/Gestion">Gestion</a></li>
     </ol>
   </nav>

   <h1 class="titulo">Ingeniería en Gestión Empresarial
   </h1>


   <div class="card">
     <div class="card-body">
       <h4 class="card-title"><div class="Titulo2">Objetivo de la carrera: </div></h4>
       <p class="card-text"> <p>Formar integralmente profesionales que contribuyan a la gestión de empresas e innovación de procesos así como al diseño, implementación y desarrollo de sistemas estratégicos de negocios, optimizando recursos en un entorno global, con ética y responsabilidad social.
     </div>
   </div>

   <mat-divider></mat-divider>


   <div class="accordion accordion-flush" id="accordionFlushExample">
     <div class="accordion-item">
       <h2 class="accordion-header" id="flush-headingTwo">
         <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          Perfil de Egreso
         </button>
       </h2>
       <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
         <div class="accordion-body">
           <ol start="1">
            <LI >Desarrollar y aplicar habilidades directivas y la ingeniería en el diseño, creación, gestión, desarrollo, fortalecimiento e innovación de las organizaciones, con una orientación sistémica y sustentable para la toma de decisiones en forma efectiva.
            <LI >Diseñar e innovar estructuras administrativas y procesos, con base en las necesidades de las organizaciones para competir eficientemente en mercados globales.
            <LI >Gestionar eficientemente los recursos de la organización con visión compartida, con el fin de suministrar bienes y servicios de calidad.
            <LI >Aplicar métodos cuantitativos y cualitativos para el análisis e interpretación de datos y modelado de sistemas, en los procesos organizacionales para la mejora continua, atendiendo estándares de calidad mundial.
            <LI >Diseñar, evaluar y emprender nuevos negocios y proyectos empresariales, que promuevan el desarrollo sustentable y la responsabilidad social, en un mercado competitivo.
            <LI >Diseñar e implementar estrategias de mercadotecnia basadas en información recopilada de fuentes primarias y secundarias del consumidor o usuario de algún producto, de acuerdo a oportunidades y amenazas del mercado.
            <LI >Establecer programas para el fortalecimiento de la seguridad e higiene en las organizaciones.
            <LI >Gestionar sistemas integrales de calidad, ejerciendo un liderazgo efectivo y un compromiso ético, aplicando las herramientas básicas de la ingeniería.
            <LI >Interpretar y aplicar normas legales que incidan en la creación y desarrollo de las organizaciones.
            <LI >Integrar, dirigir y desarrollar equipos de trabajo para la mejora continua y el crecimiento integral de las organizaciones.
            <LI >Analizar e interpretar la información financiera para detectar oportunidades de mejora e inversión en un mundo global, que incidan en la rentabilidad del negocio.
            <LI >Utilizar las nuevas tecnologías de información en la organización, para optimizar los procesos de comunicación y eficientar la toma de decisiones.
            <LI >Propiciar el desarrollo del capital humano, para la realización de los objetivos organizacionales, dentro de un marco ético y un contexto multicultural.
            <LI >Aplicar métodos de investigación para desarrollar e innovar sistemas, procesos y productos en las diferentes dimensiones de la organización.
            <LI >Gestionar la cadena de suministros de las organizaciones con un enfoque orientado a procesos.
            <LI >Analizar e interpretar la economía global para facilitar la toma de decisiones en la organización.
          </ol>
        </div>
       </div>
     </div>
   </div>

   <mat-divider></mat-divider>

 <mat-divider></mat-divider>



 <!-- Seccion de documentos; Algunas paginas contienen documentos o enlaces a los que el usuario puede acceder/descargar, si lo necesitas puedes implementarlo en cada uno de los "accordion body" cada uno de estos representa a una opcion o documento -->

 <div class="alert alert-primary d-flex align-items-center" role="alert">
   <div>
 Documentos

 <div class="accordion-item">
  <h2 class="accordion-header" id="panelsStayOpen-heading0">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse0" aria-expanded="false" aria-controls="panelsStayOpen-collapse0">
      Documentos Anexos
    </button>
  </h2>
  <div id="panelsStayOpen-collapse0" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading0">

<div class="accordion" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingUno">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseUno" aria-expanded="false" aria-controls="panelsStayOpen-collapseUno">
        Oferta Educativa. Ingeniería Gestión Empresarial
      </button>
    </h2>
    <div id="panelsStayOpen-collapseUno" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingUno">
      <div class="accordion-body">
       <a href="http://www.tese.edu.mx/documentos2004/9004_QNTRRZZ.pdf">Ver</a>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingDos">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseDos" aria-expanded="false" aria-controls="panelsStayOpen-collapseDos">
        Administración de la Salud y Seguridad Ocupacional
      </button>
    </h2>
    <div id="panelsStayOpen-collapseDos" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingDos">
      <div class="accordion-body">
       <a href="http://www.tese.edu.mx/documentos2004/6800_KOZISTW.pdf">Ver</a>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingTres">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTres" aria-expanded="false" aria-controls="panelsStayOpen-collapseTres">
        Álgebra Lineal
      </button>
    </h2>
    <div id="panelsStayOpen-collapseTres" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTres">
      <div class="accordion-body">
       <a href="http://www.tese.edu.mx/documentos2004/6756_JJCYGTG.pdf">Ver</a>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingCuatro">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseCuatro" aria-expanded="false" aria-controls="panelsStayOpen-collapseCuatro">
        Cadena de Suministros
      </button>
    </h2>
    <div id="panelsStayOpen-collapseCuatro" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingCuatro">
      <div class="accordion-body">
       <a href="http://www.tese.edu.mx/documentos2004/6780_PKOUPRX.pdf">Ver</a>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingcinco">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapsecinco" aria-expanded="false" aria-controls="panelsStayOpen-collapsecinco">
        Cálculo Diferencial
      </button>
    </h2>
    <div id="panelsStayOpen-collapsecinco" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingcinco">
      <div class="accordion-body">
       <a href="http://www.tese.edu.mx/documentos2004/6754_MHSSKUY.pdf">Ver</a>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingseis">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseseis" aria-expanded="false" aria-controls="panelsStayOpen-collapseseis">
        Cálculo Integral
      </button>
    </h2>
    <div id="panelsStayOpen-collapseseis" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingseis">
      <div class="accordion-body">
       <a href="http://www.tese.edu.mx/documentos2004/6755_FKTBOUL.pdf">Ver</a>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingsiete">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapsesiete" aria-expanded="false" aria-controls="panelsStayOpen-collapsesiete">
        Calidad Aplicada a la Gestión Empresarial
      </button>
    </h2>
    <div id="panelsStayOpen-collapsesiete" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingsiete">
      <div class="accordion-body">
       <a href="http://www.tese.edu.mx/documentos2004/6768_CQTUBAP.pdf">Ver</a>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingocho">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseocho" aria-expanded="false" aria-controls="panelsStayOpen-collapseocho">
        Contabilidad Orientada a los Negocios
      </button>
    </h2>
    <div id="panelsStayOpen-collapseocho" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingocho">
      <div class="accordion-body">
       <a href="http://www.tese.edu.mx/documentos2004/6781_CIBJTTV.pdf">Ver</a>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingnueve">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapsenueve" aria-expanded="false" aria-controls="panelsStayOpen-collapsenueve">
        Costos Empresariales
      </button>
    </h2>
    <div id="panelsStayOpen-collapsenueve" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingnueve">
      <div class="accordion-body">
       <a href="http://www.tese.edu.mx/documentos2004/6783_XFMPADZ.pdf">Ver</a>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-heading10">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse10" aria-expanded="false" aria-controls="panelsStayOpen-collapse10">
        Desarrollo Humano
      </button>
    </h2>
    <div id="panelsStayOpen-collapse10" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading10">
      <div class="accordion-body">
       <a href="http://www.tese.edu.mx/documentos2004/6784_GGVONRR.pdf">Ver</a>
      </div>
    </div>
  </div>

 </div>
  </div>
 </div>
   </div>
 </div>


       </div>






         </div>




         <!-- Etiqueda de cerrado de la side nav bar, se elimina para retirar la barra de navegacion lateral -->
     </mat-drawer-content>



 </mat-drawer-container>



 <!-- Div del body, esto centra el contenido en modo web y deja fuera los mat card -->





 </div>
 </body>
