<!-- Empieza el area para ingresar contenido en el panel lateral -->
        <div class="text-side" >
       <div class="box-shadow= 50px 50px;">

        <!-- BANNER -->
        <div class="container-fluid px-0">
          <div class="row bg-dark h-100">
            <div class="col-12 px-0">
              <app-carousel-carreras [items]="carouselData"></app-carousel-carreras>
            </div>
          </div>
        </div>


   <h1 class="titulo">MAESTRÍA EN SISTEMAS COMPUTACIONALES</h1>
      <!-- Breadcrumb, ayuda a que el sitio sea mas agil y el usuario sepa en donde esta localizado, hacia donde puede ir y que paginas le anteceden -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
       <li class="breadcrumb-item active" aria-current="page">Egresados y Exalumnos</li>
       <li class="breadcrumb-item"><a routerLink="/egresadosyexalumnos">Posgrados</a></li>
       <li class="breadcrumb-item active" aria-current="page">MaestríaSistemasComputacionales</li>
      </ol>
    </nav>

    <div class="cards">
      <div class="card-body" style="background-color:#E3E3E3; text-align: center;">
        <h4 class="card-title"><div class="Titulo2">CONCEPTOS GENERALES</div></h4>
         <p class="card-text"> La Maestría  es Sistemas Computacionales es un programa profesionalizante,
           escolarizado, presencial de tiempo completo, con antecedentes de Ingeniería en Sistemas Computacionales
           y áreas afines, con una duración de 4 semestres.
         </p>
        <br>
       </div>
     </div>

     <div class="cards">
      <div class="card-body" style="text-align: center;">
       <h4 class="card-title"><div class="Titulo2">DIRIGIDO A:</div></h4>
        <p class="card-text"> Egresados de las carreras de Ingeniería y Licenciatura en Ciencias de la Computación,
          Informática o Sistemas Computacionales que laboran en los sectores productivos de bienes y servicios, o
          que recién hayan concluido la licenciatura y deseen fortalecer y ampliar su formación profesional y áreas
          de Investigación.
        </p>
        <br>
      </div>
    </div>


      <div class="accordion accordion-flush" id="accordionFlushExample">

        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              <h4 class="card-title"><div class="subtitulo">PERFIL DE INGRESO Y EGRESO</div></h4>
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <div class="row row-cols-1 row-cols-md-2 g-1">
                <div class="col">
                  <div class="cards">
                    <div class="card-body">
                      <h4 class="card-title"><div class="Titulo2">PERFIL INGRESO</div></h4>
                      <p class="card-text">El aspirante deberá estar titulado y deberá tener competencias en el uso de: <BR></p>
                        <UL>
                          <LI>Lenguajes de programación.</LI>
                          <LI>Sistemas operativos.</LI>
                          <LI>Manejadores de bases de datos.</LI>
                          <LI>Administrador de redes.</LI>
                          <LI>Matemáticas discretas.</LI>
                        </UL>
                      <BR>

                    </div>
                  </div>
                  </div>

                  <div class="col">
                    <div class="cards">
                      <div class="card-body">
                        <h4 class="card-title"><div class="Titulo2">PERFIL EGRESO</div></h4>
                        <p class="card-text">El egresado debe ser capaz de integrar competencias de matemáticas, de diseño,
                          modelado, programación y tecnologías de información que requiere las empresas tanto del ámbito privado
                           como del público y social, para dar solución a los problemas reales, relacionados con la Ingeniería
                           en Sistemas Computacionales que se les presentan. Integrando competencias de investigación,
                          liderazgo y administrativas dentro de su formación. <BR></p>
                       <BR>
                        <BR>
                      </div>
                    </div>
                    </div>
        </div>
        <br>
        <br>
        </div>
        </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              <h4 class="card-title"><div class="subtitulo">REQUISITOS</div></h4>
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body" style="text-align:justify;">
              <li>Haber cursado una carrera afín a la Ingeniería en Sistemas Computacionales.</li>
              <li>Estar titulado y haber obtenido un promedio general en la ingeniería mayor o igual a 8.00.<br></li>
              <li>Entregar al consejo de posgrado una carta de exposición de motivos, donde indique por qué quiere estudiar en este programa. </li>
              <li>Dos cartas de recomendación, con una vigencia de 15 días. </li>
              <li>Pagar el derecho de examen. </li>
              <li>Aprobar el examen de admisión con un promedio mínimo de 8.00.</li>
              <br>
              <br>
          </div>
        </div>
        </div>

        <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
            <h4 class="card-title"><div class="subtitulo">DOCUMENTOS DE INSCRIPCIÓN</div></h4>
          </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body" style="text-align:justify;">
            <li>Solicitud de ingreso Copia del Título de Licenciatura, en caso de que el título se encuentre en trámite, presentar carta de pasante y el acta de examen profesional. </li>
              <li>Copia de la Cédula Profesional. </li>
              <li>Copia del Certificado de Licenciatura o Constancia de Calificaciones. </li>
              <li>Currículum Vitae, con fotografía. </li>
              <li>Carta de exposición de motivos para ingreso al posgrado. </li>
              <li>Acta de nacimiento.</li>
              <li>CURP. </li>
              <li>Conocer el reglamento interno de estudios de posgrado Forma migratoria (sólo extranjeros). </li>
              <li>Fotografías tamaño infantil a color o en blanco y negro. </li>
              <li>2 Cartas de Recomendación. </li>
              <br>
              <br>

          </div>
        </div>
        </div>


        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              <h4 class="card-title"><div class="subtitulo">MISIÓN Y VISIÓN</div></h4>
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">

              <div class="row row-cols-1 row-cols-md-2 g-2">
                <div class="col">
                  <div class="cards">
                    <div class="card-body">
                      <h4 class="card-title"><div class="Titulo2">MISIÓN</div></h4>
                      <p class="card-text">Formar recursos humanos capaces de integrar competencias de matemáticas,
                        de diseño, modelado, programación y tecnologías de información que requiere las empresas tanto
                        del ámbito privado como del público y social, para dar solución a los problemas reales, relacionados
                        con la Ingeniería en Sistemas Computacionales que se les presentan. Integrando competencias de
                        investigación, liderazgo y administrativas dentro de su formación.</p>

                    </div>
                  </div>
                  <BR>
                  <BR>
                </div>

                  <div class="col">
                    <div class="cards">
                      <div class="card-body">
                        <h4 class="card-title"><div class="Titulo2">VISIÓN</div></h4>
                        <p class="card-text">Ser un posgrado que genere recursos humanos de alta calidad, capaces de dar
                          soluciones optimizadas, con base en teorías de sustentabilidad, a problemas relacionados a la
                          ingeniería en Sistemas Computacionales, que se presenten en su ámbito empresarial, social privado
                          o público.</p>
                          <BR>
                            <BR>
                      </div>
                    </div>
                  </div>
                </div>

            </div>
          </div>
        </div>

        <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingFive">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
          <h4 class="card-title"><div class="subtitulo">LINEAS DE DESARROLLO</div></h4>
        </button>
      </h2>
      <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
        data-bs-parent="#accordionFlushExample">
        <div class="accordion-body" style="text-align: center;">
          <p class="card-text">Diseño y Modelado de Sistemas de Información Ingeniería y Calidad de Software Minería
            de Datos Seguridad y Administración de Redes Visión por computadora Programación de Aplicaciones en
            Dispositivos Móviles Matemática Computacional</p>
           <br>
        </div>
      </div>
        </div>
  </div>
     </div>

