/* Elementos css para el titulo, y subtitulos se configura el color del titulo y se le agrega un borde  por debajo */
.titulo{
  text-align: center;
  font-family: sans-serif;
  font-size: 6ch;
  font-weight: bold;
  color: #2c5234;
  line-height: 1.5ch;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 13px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

/* Se utiliza para el primer subtitulo */
.Titulo2{
  color: #2c5234;
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid #9c8412;
  padding: 5px;
  font-size: 4ch;
}


/* Subtitulo central o ideas */
.subtitulo{
  color: #2c5234;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #fd5c63;
  padding: 5px;
  font-size: 3ch;
}

/* Elementos CSS de la Sidebar

.sidebar {
  background-image: radial-gradient( circle farthest-corner at 47.4% 55%,  rgba(218,61,61,1) 0%, rgba(170,13,71,0.81) 90% );
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
*/
.sidebar {
  /* background-image: radial-gradient(
    circle farthest-corner at 47.4% 55%,
    rgba(218, 61, 61, 1) 0%,
    rgba(170, 13, 71, 0.81) 90%
  ); */

  background-color: #eb2a31da;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.mat-list-option{
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
}

.bane{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 550;
    text-align: center;
}

.social{
  display: flex;
  flex-flow: row;
  gap: 10px;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: center;
}

/* Configuracion de estilos globales */
a{
  text-decoration: none;
}

.side-container{
  height: 100vh;
}

.sidebar {
  padding: 10px;
  width: 20%;
}

.side-content{
  padding: 15px;
}

.cards{
  display: flex;
  flex-flow: column;
  justify-content:center;
  background-color: #fff;
}

.careers{
  width: 98%;
  margin-right: 0;
  margin-left: 0;
  padding-top: 30px;
  margin: 10px;
}

.card-career{
  height: 100px;
}

.card-career > mat-card{
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
}

.card-career > mat-card > span{
  font-size: 1.3rem;
  text-align: center;
}

.card-career:hover > mat-card > span{
  display: none;
}

.card-career:hover > mat-card{
  filter: blur(1px);
}


.act{
  background-color: white;
  color: black;
  text-align: center;
}

.open{
  display: none;
}

@media screen and (max-width: 860px){
  .card-career > mat-card > span{
      font-size: 1rem;
  }

  #side{
      width: 70vw;
  }

  #arrow{
      margin-bottom: 20px;
      font-weight: bold;
      font-size: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .text-side{
      margin-top: 20px;
  }
}

@media screen and (min-width: 860px){
  #arrow{
      display: none;
  }

  .divider{
      display: none;
  }
}


#container {
  overflow:hidden; /* change to hidden */
  margin: 0 auto;
  margin-top:37px;
  height: 100%;
  width:875px;
  -moz-box-shadow: 0 30 30px 5px #999;
  -webkit-box-shadow: 30 0 30px 5px #999;
  -o-box-shadow: 0 30 30px 5px #999;
  border:1px solid black;
  border-top-style:none;
}

.tcard{
  color: WHITE;
  font-size: 4vh;
  font-weight: 500vh;
  text-align: CENTER;
  text-shadow: 5px 5px 15px rgba(0, 0, 0, 2.5);
}

.img{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.card-img-top{
  width: 100%;
  height: 100%;
}

.card{
  width: 100%;
  margin: 10px;
  border-radius: 6px;
  overflow: hidden;
  background: #fff;
  cursor: default;
  transition: all 400ms ease;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.9);
}

.card:hover{
  box-shadow: 5px 5px 20px rgba(0,0,0,0.9);
  transform: translateY(-7%);
  border-radius: 4px;
}

.card{
  width: 100%;
  height: 250px;
}

