<mat-drawer-container class="side-container">

   <!-- Inicio de la SIDE NAV BAR; Si se desea eliminar se borrara este bloque de codigo y el final mat drawer  -->
     <mat-drawer mode="side" class="sidebar" id="side" #drawer opened>
         <mat-selection-list role="list container" [multiple]="false">
             <mat-list-option role="listitem" (click)="getId(1)" style="margin-top: 10%;">
              Vinculación e Incubadora de empresas
             </mat-list-option>
             <br>
             <br>
             <mat-list-option role="listitem" (click)="getId(2)" style="margin-top: 5%;">
              Actividades y Credenciales
             </mat-list-option>
             <br>
             <br>
             <mat-list-option role="listitem" (click)="getId(3)">
              Cursos y Diplomados
             </mat-list-option>
             <br>
             <br>
             <mat-list-option role="listitem">
             <div *ngFor="let item of items | async">
              <a href={{item.BLink}} class=option>{{item.BTitle}}</a>
             </div>
            </mat-list-option>
             <br>
             <br>
             <mat-list-option role="listitem" (click)="getId(4)">
              Historial académico
             </mat-list-option>
             <br>
             <br>
             <mat-list-option role="listitem" (click)="getId(5)">
              Servicio a la comunidad
             </mat-list-option>
             <br>
             <br>
             <br>
             <p class="bane">Redes sociales Egresados</p>
             <div class="social">
              <a href="https://www.facebook.com/teseegresadosac/?ref=br_rs"><img src="../../../../assets/images/facebook.svg" width="40px" alt="facebook"/></a>
              <a href="https://www.instagram.com/egresadostese/?utm_source=ig_profile_share&igshid=91yhwzw12htb"><img src="../../../../assets/images/instagram.svg" width="40px" alt="instagram"/></a>
              <a href="https://twitter.com/EgresadosTese"><img src="https://img.icons8.com/fluent/48/000000/twitter.png" width="40px" alt="twitter"/></a>
            </div>
             <br>
             <br>
         </mat-selection-list>
     </mat-drawer>

     <mat-drawer-content class="side-content">
         <button id="arrow" type="button" mat-button (click)="drawer.toggle()" (click)="open()">
             <mat-icon id="right" class="open">arrow_forward</mat-icon>
             <mat-icon id="left">arrow_back</mat-icon>
         </button>

         <mat-divider class="divider"></mat-divider>

         <!-- Empieza el area para ingresar contenido en el panel lateral -->
         <div class="text-side" >
        <div class="box-shadow= 50px 50px;">


          <!-- BANNER -->
          <div class="container-fluid px-0">
            <div class="row bg-dark h-100">
              <div class="col-12 px-0">
                <app-carousel-carreras [items]="carouselData"></app-carousel-carreras>
              </div>
            </div>
          </div>


    <h1 class="titulo">EGRESADOS Y EXALUMNOS</h1>

    <div *ngIf = "op">
      <!-- Breadcrumb, ayuda a que el sitio sea mas agil y el usuario sepa en donde esta localizado, hacia donde puede ir y que paginas le anteceden -->
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Egresados y Exalumnos</li>
          <li class="breadcrumb-item active" aria-current="page">Posgrados</li>
        </ol>
      </nav>

    <h1 class="Titulo2">POSGRADOS</h1>

    <div class="row row-cols-1 row-cols-md-2 g-3">

      <div class="col">

        <a routerLink="/Mquimica">
        <div class="card">
          <img src="https://firebasestorage.googleapis.com/v0/b/app-tese.appspot.com/o/EgresadosYExalumnos%2FBannerEgresados%2FPOSGRADOS%2FING_QUIMICA1.jpg?alt=media&token=d3386360-bed9-47c0-a9de-b6b5623085da" class="card-img-top">
          <div class="card-img-overlay">
            <h1 class="tcard" style="margin-top:5vh;">MAESTRÍA EN CIENCIAS INGENIERÍA QUÍMICA</h1>
          </div>

        </div>
      </a>

      </div>

      <div class="col">
        <a routerLink="/Mbioquimica">
        <div class="card">

          <img src="https://firebasestorage.googleapis.com/v0/b/app-tese.appspot.com/o/EgresadosYExalumnos%2FBannerEgresados%2FPOSGRADOS%2FING_BIOQUIMICA1.jpg?alt=media&token=d6819f93-abd5-4f19-adf9-406dd3206528" class="card-img-top">
          <div class="card-img-overlay">
            <h1 class="tcard" style="margin-top:5vh;">MAESTRÍA EN CIENCIAS INGENIERÍA BIOQUÍMICA</h1>
          </div>
        </div>
      </a>
      </div>

      <div class="col">
        <a routerLink="/Msistemas">
        <div class="card">
          <img src="https://firebasestorage.googleapis.com/v0/b/app-tese.appspot.com/o/EgresadosYExalumnos%2FBannerEgresados%2FPOSGRADOS%2FING_SISTEMAS1.jpg?alt=media&token=eed529d0-cf2b-4a5a-8fd5-5cce9bc1de93" class="card-img-top">
          <div class="card-img-overlay">
            <h1 class="tcard" style="margin-top:5vh;">MAESTRÍA EN SISTEMAS COMPUTACIONALES</h1>
          </div>
        </div>
        </a>
      </div>

      <div class="col">
        <a routerLink="/Meficienciaenergetica">
        <div class="card">
          <img src="https://firebasestorage.googleapis.com/v0/b/app-tese.appspot.com/o/EgresadosYExalumnos%2FBannerEgresados%2FPOSGRADOS%2FING_ER1.jpg?alt=media&token=1f8ebd78-4310-43f6-8455-3d395c02641a" class="card-img-top">
          <div class="card-img-overlay">
            <h1 class="tcard" style="margin-top:5vh;">MAESTRÍA EN EFICIENCIA ENERGÉTICA Y ENERGÍAS RENOVABLES</h1>
          </div>
        </div>
        </a>
      </div>

      <div class="col">
        <a routerLink="/Mmecatronica">
        <div class="card">
          <img src="https://firebasestorage.googleapis.com/v0/b/app-tese.appspot.com/o/EgresadosYExalumnos%2FBannerEgresados%2FPOSGRADOS%2FING_MECATRONICA1.jpg?alt=media&token=66b7e1a9-9ba2-44b4-8c31-0268f162d3fa" class="card-img-top">
          <div class="card-img-overlay">
            <h1 class="tcard" style="margin-top:5vh;">MAESTRÍA EN CIENCIAS EN INGENIERÍA MECATRÓNICA</h1>
          </div>
        </div>
        </a>
      </div>

      <div class="col">
        <a routerLink="/Mgestion">
        <div class="card">
          <img src="https://firebasestorage.googleapis.com/v0/b/app-tese.appspot.com/o/EgresadosYExalumnos%2FBannerEgresados%2FPOSGRADOS%2FING_GESTION1.jpg?alt=media&token=7b2258b8-162c-464e-a014-7f4322814b28" class="card-img-top">
          <div class="card-img-overlay">
            <h1 class="tcard" style="margin-top:5vh;">MAESTRÍA EN GESTIÓN ADMINISTRATIVA</h1>
          </div>
        </div>
        </a>
      </div>
    </div>
    </div>

    <div *ngIf = "op2">
      <!-- Breadcrumb, ayuda a que el sitio sea mas agil y el usuario sepa en donde esta localizado, hacia donde puede ir y que paginas le anteceden -->
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="#">Home</a></li>
         <li class="breadcrumb-item active" aria-current="page">Egresados y Exalumnos</li>
         <li class="breadcrumb-item"><a href="/egresadosyexalumnos">Posgrados</a></li>
        </ol>
      </nav>

      <div class="cards">
        <div class="card-body">
          <h4 class="card-title"><div class="Titulo2">
            <div *ngFor="let item of items | async">
              {{item.VTitle1}}
            </div>
          </div></h4>

          <p class="card-text">
            <div *ngFor="let item of items | async">
              {{item.VDescripcion1}}
            </div>
          <br>
          <br>
          <h4 class="card-title"><div class="Titulo2">
            <div *ngFor="let item of items | async ">
              {{item.VTitle2}}
            </div>
          </div></h4>
          <ul>
            <li>
              <div *ngFor="let item of items | async">
                {{item.VDescripcion2op1}}
            </div>
          </li>

          <li>
            <div *ngFor="let item of items | async">
              {{item.VDescripcion2op2}}
          </div>
          </li>

          <li>
            <div *ngFor="let item of items | async">
              {{item.VDescripcion2op3}}
          </div>
          </li>
          </ul>
          <BR>
          <BR>

            <div class="row row-cols-1 row-cols-md-2 g-2">
              <div class="col">
                <div class="cards">
                  <div class="card-body">
                    <h4 class="card-title"><div class="Titulo2">
                      <div *ngFor="let item of items | async">
                        {{item.VTitle3}}
                      </div></div></h4>
                    <p class="card-text">
                      <div *ngFor="let item of items | async">
                        {{item.VDescripcion3}}
                      </div>
                      <BR>
                        <BR>
                  </div>
                </div>
              </div>

                <div class="col">
                  <div class="cards">
                    <div class="card-body">
                      <h4 class="card-title"><div class="Titulo2">
                        <div *ngFor="let item of items | async">
                          {{item.VTitle4}}
                        </div>
                      </div></h4>
                      <p class="card-text">
                        <div *ngFor="let item of items | async">
                          {{item.VDescripcion4}}
                        </div>
                      <BR>
                        <BR>
                    </div>
                  </div>
                  </div>
              </div>


          <h4 class="card-title"><div class="Titulo2">
            <div *ngFor="let item of items | async">
              {{item.VTitle5}}
            </div>
          </div></h4>
            <div *ngFor="let item of items | async">
              {{item.VDescripcion5}}
            </div>

              <ul>
                <li>
                  <div *ngFor="let item of items | async">
                    {{item.VDescripcion5op1}}
                  </div>
                </li>

                <li>
                  <div *ngFor="let item of items | async">
                    {{item.VDescripcion5op2}}
                  </div>
                </li>

            </ul>
          <BR>
          <BR>
        </div>
      </div>
      </div>


    <div *ngIf = "op3">
       <!-- Breadcrumb, ayuda a que el sitio sea mas agil y el usuario sepa en donde esta localizado, hacia donde puede ir y que paginas le anteceden -->
       <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
         <li class="breadcrumb-item active" aria-current="page">Egresados y Exalumnos</li>
         <li class="breadcrumb-item"><a href="/egresadosyexalumnos">Posgrados</a></li>
        </ol>
      </nav>

      <div class="cards">
        <div class="card-body">
          <h4 class="card-title"><div class="Titulo2">
            <div *ngFor="let item of items | async">
              {{item.ATitle1}}
            </div>
          </div></h4>
          <ul>
            <li>
              <div *ngFor="let item of items | async">
                {{item.ADescripcion1op1}}
              </div>
            </li>
            <li>
              <div *ngFor="let item of items | async">
                {{item.ADescripcion1op2}}
              </div>
            </li>
            <li>
              <div *ngFor="let item of items | async">
                {{item.ADescripcion1op3}}
              </div>
            </li>
            </ul>

          <BR>
          <BR>

          <h4 class="card-title"><div class="Titulo2">
            <div *ngFor="let item of items | async">
              {{item.ATitle2}}
            </div>
          </div></h4>
          <ul>
            <li>
              <div *ngFor="let item of items | async">
                {{item.ADescripcion2op1}}
              </div>
            </li>
            <li>
              <div *ngFor="let item of items | async">
                {{item.ADescripcion2op2}}
              </div>
            </li>
          </ul>
          <BR>
          <BR>

            <h4 class="card-title"><div class="Titulo2">
              <div *ngFor="let item of items | async">
                {{item.ATitle3}}
              </div>
            </div></h4>
              <p class="card-text">
                <div *ngFor="let item of items | async">
                  {{item.ADescripcion3}}
                </div>
                <br>
                <ol>
                  <li>
                    <div *ngFor="let item of items | async">
                      {{item.ADescripcion3op1}}<a href={{item.ADescripcion3op1Link}}>{{item.ADescripcion3op1Link}}</a>
                    </div>
                  </li>

                  <li>
                    <div *ngFor="let item of items | async">
                      {{item.ADescripcion3op2}}
                    </div>
                  </li>

                  <li>
                    <div *ngFor="let item of items | async">
                      {{item.ADescripcion3op3}}
                    </div>
                  </li>

                  <li>
                    <div *ngFor="let item of items | async">
                      {{item.ADescripcion3op4}}
                    </div>
                  </li>
                </ol>
          <BR>
          <BR>
        </div>
        </div>
    </div>


    <div *ngIf = "op4">
      <!-- Breadcrumb, ayuda a que el sitio sea mas agil y el usuario sepa en donde esta localizado, hacia donde puede ir y que paginas le anteceden -->
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
         <li class="breadcrumb-item active" aria-current="page">Egresados y Exalumnos</li>
         <li class="breadcrumb-item"><a href="/egresadosyexalumnos">Posgrados</a></li>
        </ol>
      </nav>

      <div class="cards">
        <div class="card-body">
          <h4 class="card-title">
            <div class="Titulo2">
              <div *ngFor="let item of items | async">
                {{item.CTitle1}}
              </div>
            </div></h4>
          <p class="card-text">
              <div *ngFor="let item of items | async">
                {{item.CDescripcion1}}
              </div>
          <BR>
          <BR>

          <h4 class="card-title"><div class="Titulo2">
                <div *ngFor="let item of items | async">
                  {{item.CTitle2}}
                </div>
          </div></h4>
          <p class="card-text">
                <div *ngFor="let item of items | async">
                  {{item.CDescripcion2}}
                </div>
          <BR>
          <BR>

            <h1 class="Titulo2">
                  <div *ngFor="let item of items | async">
                    {{item.CTitle3}}
                  </div>
            </h1>
              <p class="card-text">
                    <div *ngFor="let item of items | async">
                      {{item.CDescripcion3}}
                    </div>
          <BR>
          <BR>
            <h1 class="Titulo2">
                  <div *ngFor="let item of items | async">
                    {{item.CTitle4}}
                  </div>
            </h1>
              <p class="card-text">
                    <div *ngFor="let item of items | async">
                      {{item.CDescripcion4}}
                    </div>
                    <br>
                <ul>
                  <li>
                    <div *ngFor="let item of items | async">
                      {{item.CDescripcion4op1}}
                    </div>
                  </li>

                  <li>
                    <div *ngFor="let item of items | async">
                      {{item.CDescripcion4op2}}
                    </div>
                  </li>

                  <li>
                    <div *ngFor="let item of items | async">
                      {{item.CDescripcion4op3}}
                    </div>
                  </li>
                </ul>
              <br>
              <br>
        </div>
      </div>
    </div>


    <div *ngIf = "op5">
      <!-- Breadcrumb, ayuda a que el sitio sea mas agil y el usuario sepa en donde esta localizado, hacia donde puede ir y que paginas le anteceden -->
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
         <li class="breadcrumb-item active" aria-current="page">Egresados y Exalumnos</li>
         <li class="breadcrumb-item"><a href="/egresadosyexalumnos">Posgrados</a></li>
        </ol>
      </nav>

      <div class="cards">
        <div class="card-body">
          <h4 class="card-title"><div class="Titulo2">
            <div *ngFor="let item of items | async">
              {{item.HTitle1}}
            </div>
          </div></h4>
          <p class="card-text">
            <div *ngFor="let item of items | async">
              {{item.HDescripcion1}}
            </div>
          <br>
          <br>

          <div class="row row-cols-1 row-cols-md-2 g-2">
            <div class="col">
            <h4 class="card-title"><div class="Titulo2">
              <div *ngFor="let item of items | async">
                {{item.HTitle2}}
              </div>
              </div></h4>
              <p class="card-text">
                <div *ngFor="let item of items | async">
                  {{item.HDescripcion2}}
                </div>
                <br>
                <br>
            </div>
            <div class="col">
              <h4 class="card-title"><div class="Titulo2">
                <div *ngFor="let item of items | async">
                  {{item.HTitle3}}
                </div>
              </div></h4>
              <p class="card-text">
                <div *ngFor="let item of items | async">
                  {{item.HDescripcion3}}
                </div>
          <br>
          <br>
          </div>
          </div>

            <h1 class="Titulo2">
              <div *ngFor="let item of items | async">
                {{item.HTitle4}}
              </div>
            </h1>
              <p class="card-text">
                <div *ngFor="let item of items | async">
                  {{item.HDescripcion4}}
                </div>
                <ul>
                  <li>
                    <div *ngFor="let item of items | async">
                      {{item.HDescripcion4op1}}
                    </div>
                  </li>

                  <li>
                    <div *ngFor="let item of items | async">
                      {{item.HDescripcion4op2}}
                    </div>
                  </li>

                  <li>
                    <div *ngFor="let item of items | async">
                      {{item.HDescripcion4op3}}
                    </div>
                  </li>
                </ul>
                <br>
        </div>
      </div>
    </div>

    <div *ngIf = "op6">
      <!-- Breadcrumb, ayuda a que el sitio sea mas agil y el usuario sepa en donde esta localizado, hacia donde puede ir y que paginas le anteceden -->
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
         <li class="breadcrumb-item active" aria-current="page">Egresados y Exalumnos</li>
         <li class="breadcrumb-item"><a href="/egresadosyexalumnos">Posgrados</a></li>
        </ol>
      </nav>

      <div class="cards">
        <p class="card-body">
          <h4 class="card-title"><div class="Titulo2">
            <div *ngFor="let item of items | async">
              {{item.STitle1}}
            </div>
          </div></h4>
          <p class="card-text">
            <div *ngFor="let item of items | async">
              {{item.SDescripcion1}}
            </div>
            <ul>
              <li>
                <div *ngFor="let item of items | async">
                  {{item.SDescripcion1op1}}
                </div>
              </li>

              <li>
                <div *ngFor="let item of items | async">
                  {{item.SDescripcion1op2}}
                </div>
              </li>

              <li>
                <div *ngFor="let item of items | async">
                  {{item.SDescripcion1op3}}
                </div>
              </li>
            </ul>
          <BR>
          <BR>

          <h4 class="card-title"><div class="Titulo2">
              <div *ngFor="let item of items | async">
                {{item.STitle2}}
              </div>
          </div></h4>
          <ul>
            <li>
              <div *ngFor="let item of items | async">
              {{item.SDescripcion2op1}}
            </div>
          </li>
          <li>
            <div *ngFor="let item of items | async">
            {{item.SDescripcion2op2}}
          </div>
        </li>
        <li>
          <div *ngFor="let item of items | async">
          {{item.SDescripcion2op3}}
        </div>
      </li>
    </ul>

          <p class="card-text">
            <div *ngFor="let item of items | async">
              {{item.SDescripcion2}}
            </div>
            <ol>
              <li>
                <div *ngFor="let item of items | async">
                  {{item.SDescripcion2op4a}}
                </div>
              </li>
                <ul>
                  <li>
                    <div *ngFor="let item of items | async">
                      {{item.SDescripcion2op5a}}
                    </div>
                  </li>
                  <li>
                    <div *ngFor="let item of items | async">
                      {{item.SDescripcion2op5b}}
                    </div>
                  </li>
                </ul>
                <li>
                  <div *ngFor="let item of items | async">
                    {{item.SDescripcion2op4b}}
                  </div>
                </li>
                <ul>
                  <li>
                    <div *ngFor="let item of items | async">
                      {{item.SDescripcion2op6a}}
                    </div>
                  </li>
                </ul>
                <LI>
                  <div *ngFor="let item of items | async">
                    {{item.SDescripcion2op4c}}
                  </div>
                </LI>
                <ul>
                  <li>
                    <div *ngFor="let item of items | async">
                      {{item.SDescripcion2op7a}}
                    </div>
                  </li>
                </ul>
            </ol>
            <br>
            <br>
        </div>
      </div>
    </div>
  </div>
  </mat-drawer-content>
</mat-drawer-container>
