  <!-- Empieza el area para ingresar contenido en el panel lateral -->
        <div class="text-side" >
       <div class="box-shadow= 50px 50px;">

        <!-- BANNER -->
        <div class="container-fluid px-0">
          <div class="row bg-dark h-100">
            <div class="col-12 px-0">
              <app-carousel-carreras [items]="carouselData"></app-carousel-carreras>
            </div>
          </div>
        </div>


   <h1 class="titulo">MAESTRÍA EN EFICIENCÍA ENERGÉTICA Y ENERGÍAS RENOVABLES</h1>
    <div *ngIf = "op">
      <!-- Breadcrumb, ayuda a que el sitio sea mas agil y el usuario sepa en donde esta localizado, hacia donde puede ir y que paginas le anteceden -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Egresados y Exalumnos</li>
        <li class="breadcrumb-item"><a routerLink="/egresadosyexalumnos">Posgrados</a></li>
       <li class="breadcrumb-item active" aria-current="page">MaestríaEficiencíaEnergética</li>
      </ol>
    </nav>

    <div class="cards">
      <div class="card-body" style="background-color:#C0C0C0; text-align: center;">
        <h4 class="card-title"><div class="Titulo2">CONCEPTOS GENERALES</div></h4>
         <p class="card-text"> Formar a los alumnos en la optimización de los consumos energéticos empresariales.<br>
           Además, serán capaces de buscar en todo momento un desarrollo sostenible y la generación de alternativas,
            renovables y limpias, a las energías tradicionales.
         </p>
        <br>
       </div>
     </div>

     <div class="cards">
      <div class="card-body" style="text-align: center;">
       <h4 class="card-title"><div class="Titulo2">OBJETIVO</div></h4>
        <p class="card-text"> Formar recursos humanos de calidad en las áreas  en Eficiencia Energética y Energías
          Renovables, con una preparación académica rigurosa y sólida en su campo de conocimiento, a través del
          empleo de la investigación aplicada como estrategia formativa, permitiendo el desarrollo sustentable,
          el uso eficiente de la energía y la producción de energía limpia aprovechando al máximo los recursos
          naturales con los que cuenta el país, que le permita interactuar en el sector productivo o continuar
          con estudios de nivel doctorado.
        </p>
        <br>
      </div>
    </div>

    </div>

      <div class="accordion accordion-flush" id="accordionFlushExample">

        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              <h4 class="card-title"><div class="subtitulo">PERFIL DEL EGRESADO</div></h4>
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <div class="row row-cols-1 row-cols-md-2 g-2">
                <div class="col">
                  <div class="cardS">
                    <div class="card-body" style="text-align: justify;">
                    <p class="card-text">El egresado de la Maestría en Eficiencia Energética y Energías Renovables
                    tendrá la capacidad de resolver problemas técnicos, administrativos y económicos en el manejo,
                    mejora y aplicación de procesos energéticos y transformación de energía, así como la identificación
                    y selección de las áreas de aplicación y suministro de potencia térmica y eléctrica obtenida de
                    fuentes renovables. Además de incursionar en la investigación básica y aplicada para la solución
                    de problemas energéticos abiertos en la sociedad actual. El egresado de la Maestría tiene la capacidad
                    de continuar sus estudios de doctorado en cualquiera de las áreas a fines de energías renovables y
                    eficiencia energética.</p>
               <BR>
               <BR>
                </div>
              </div>
              </div>
                <div class="col">
                  <div class="card">
                    <img src="../../../../../assets/IMAGENES_EGRESADOS/A.jpg" class="card-img-top">
                  </div>
                </div>
                </div>
        </div>
        <br>
        <br>
        </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              <h4 class="card-title"><div class="subtitulo">MATERIAS</div></h4>
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">

              <div class="row row-cols-1 row-cols-md-2 g-2">
                <div class="col">
                  <div class="cards">
                    <div class="card-body">
                      <h4 class="card-title"><div class="Titulo2">BASICAS</div></h4>
                      <ul>
                        <li>Termodinámica.</li>
                        <li>Matemáticas.</li>
                        <li>Fenómenos de transporte.</li>
                        <li>Procesos de separación.</li>
                        <li>Ingeniería de reactores.</li>
                        <li>Simulación de procesos.</li>
                        <li>Control de procesos.</li>
                        <li>Diseño y análisis de experimentos.</li>
                        <li>Química ambiental.</li>
                         <li>Ciencia de los materiales.</li>
                      </ul>
                      <BR>
                      <BR>
                    </div>
                  </div>
                  </div>

                  <div class="col">
                    <div class="cards">
                      <div class="card-body">
                        <h4 class="card-title"><div class="Titulo2">OPTATIVAS</div></h4>
                        <ul>
                          <li>Catálisis heterogénea.</li>
                          <li>Tópicos de nuevos materiales catalíticos.</li>
                          <li>Catálisis homogénea avanzada.</li>
                          <li>Ingeniería de fluidización.</li>
                          <li>Diseño de equipos y plantas industriales.</li>
                          <li>Instrumentación de control de procesos.</li>
                          <li>Síntesis y escalamiento de procesos.</li>
                          <li>Teoría de optimización.</li>
                          <li>Desarrollo sostenible y economía ambiental.</li>
                          <li>Procesos fisicoquímicos para el tratamiento de aguas.</li>
                          <li>Ingeniería del medio ambiente.</li>
                          <li>Diseño de reactores bioquímicos.</li>
                          <li>Manejo y disposición de desechos sólidos.</li>
                          <li>Manejo, tratamiento y aprovechamientos de lodos residuales.</li>
                          <li>Control de contaminación del aire.</li>
                          <li>Microbiología ambiental.</li>
                          <li>Bioseparadores.</li>
                          <li>Introducción a la nanotecnología.</li>
                          <li>Reología en ingeniería</li>
                          <li>Transferencia de masa y calor avanzado.</li>
                          <li>Termodinámica estadística.</li>
                          <li>Cristalización de polímeros.</li>
                          <li>Cinética de polimerización, procesamiento de polímeros.</li>
                          <li>Caracterización de polímeros.</li>
                          <li>Biopolímeros.</li>
                        </ul>
                        <BR>
                        <BR>
                      </div>
                    </div>
                    </div>
                </div>

            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              <h4 class="card-title"><div class="subtitulo">CAMPOS DE ACCIÓN</div></h4>
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p class="card-text">El maestro en Eficiencia Energética y Energías Renovables tiene los siguientes campos de acción:</p>
                <li>Desarrollar, administrar e implementar proyectos de negocios de la industria energética en el país.</li>
                <li>Investigar y desarrollar tecnologías para el aprovechamiento racional y eficiente de la energía en el país.</li>
                <li>Evaluar integralmente los impactos tecnológicos económicos, sociales y ambientales de las tecnologías de aprovechamiento de las energías renovables en el país.</li>
                <li>Implementar nuevos sistemas integrales de gestión energética en el sector productivo y de servicios del país.</li>
                  <br>
          </div>
        </div>
      </div>
    </div>


  <mat-divider></mat-divider>

   </div>
</div>
