<div class="">
  <mat-drawer-container class="side-container">
    <mat-drawer mode="side"class="sidebar" id="side" #drawer opened>
      <mat-selection-list role="list-container" [multiple]="false">
        <a routerLink="/ControlVinculacion">
          <mat-list-option style="margin-top: 10%;">
            VINCULACION EMPRESARIAL E INCUBADORA DE EMPRESAS
          </mat-list-option>
        </a>
          <br>
          <br>
        <a routerLink="/ControlActividades">
          <mat-list-option>
           ACTIVIDADES Y CREDENCIALES EGRESADOS
          </mat-list-option>
        </a>
          <br>
          <br>
        <a routerLink="/ControlCursos">
          <mat-list-option>
           CURSOS Y DIPLOMADOS
          </mat-list-option>
        </a>
          <br>
          <br>
        <a routerLink="/ControlHistorial">
          <mat-list-option>
           HISTORIAL ACADEMICO
          </mat-list-option>
        </a>
          <br>
          <br>
        <a routerLink="/ControlServicio">
          <mat-list-option>
           SERVICIO A LA COMUNIDAD
          </mat-list-option>
        </a>
      </mat-selection-list>
    </mat-drawer>

    <mat-drawer-content class="side-content">
      <button id="arrow" type="button" mat-button (click)="drawer.toggle()" (click)="open()">
        <mat-icon id="right" class="open">arrow_forward</mat-icon>
        <mat-icon id="left">arrow_back</mat-icon>
      </button>
      <mat-divider class="divider"></mat-divider>

     <!--ENLACE-->
     <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#" class="Link">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">ControlEgresados</li>
        <li class="breadcrumb-item"><a routerLink="/ControlEgresados" class="Link">Posgrados</a></li>
        <li class="breadcrumb-item active" aria-current="page">MaestríaIngenieríaMecatrónica</li>
      </ol>
    </nav>

    <h1 class="fw-bold lh-sm fs-4 shadow p-3 mb-5 bg-body rounded titulo">CONTROL MAESTRÍA EN CIENCIAS INGENIERÍA MECATRÓNICA</h1>

    <section  class="lh-sm fs-4 shadow p-3 mb-5 bg-body rounded">

      <label for="inputAddress" class="form-label fw-bold subtitulo">CONCEPTO</label>

      <form [formGroup]="ingresarConcepto" (ngSubmit)="agregarConcepto()">
        <div class="row ">
          <span *ngIf="submitedConcepto && ingresarConcepto.invalid" class="alert alert-danger">DEBE LLENAR LOS CAMPOS...</span>
          <label for="inputAddress" class="form-label fw-bold" >Agregar</label>

          <div class="col-10">
            <input type="text" class="form-control" id="inputAddress" value="" formControlName="ConceptoMecatronica" placeholder="CONCEPTO*">
          </div>

          <div class="col">
            <button type="submit" class="btn btn-success">Agregar</button>
          </div>

        </div>
      </form>
      <br>
      <h1 class="fw-bold lh-sm fs-4 shadow p-3 mb-5 bg-body rounded" *ngIf="Concepto.length==0">AUN NO HAY DATOS</h1>
      <form *ngIf="Concepto.length>0">
        <label for="inputAddress" class="form-label fw-bold" >Eliminar/Editar</label>
        <div *ngFor="let Concepto of Concepto " class="row" >
          <div class="col-8">
            <input type="text" class="form-control mb-2" id="inputAddressConcepto" value="{{Concepto.ConceptosMmecatronicaDesc}}">
          </div>

          <div class="col float-rigth">
            <button type="button" (click)="eliminaConcepto(Concepto.id)"  class="btn btn-danger">Eliminar</button>
          </div>


        </div>
        </form>
        </section>

        <section  class="lh-sm fs-4 shadow p-3 mb-5 bg-body rounded">
        <label for="inputAddress" class="form-label fw-bold subtitulo" >OBJETIVO</label>

      <form [formGroup]="ingresarObjetivo" (ngSubmit)="agregarObjetivo()">
        <div class="row ">
          <span *ngIf="submitedObjetivo && ingresarObjetivo.invalid" class="alert alert-danger">DEBE LLENAR LOS CAMPOS...</span>
          <label for="inputAddress" class="form-label fw-bold" >Agregar</label>

          <div class="col-10">
            <input type="text" class="form-control" id="inputAddress" value="" formControlName="ObjetivoMecatronica" placeholder="OBJETIVO*">
          </div>

          <div class="col">
            <button type="submit" class="btn btn-success">Agregar</button>
          </div>

        </div>
      </form>
      <br>
      <h1 class="fw-bold lh-sm fs-4 shadow p-3 mb-5 bg-body rounded" *ngIf="Objetivo.length==0">AUN NO HAY DATOS</h1>
      <form *ngIf="Objetivo.length>0">
        <label for="inputAddress" class="form-label fw-bold" >Eliminar/Editar</label>
        <div *ngFor="let Objetivo of Objetivo" class="row">
          <div class="col-8">
            <input type="text" class="form-control mb-2" id="inputAddressObjetivo" value="{{Objetivo.ObjetivoMmecatronicaDesc}}">
          </div>
          <div class="col float-rigth">
            <button type="button" (click)="eliminaObjetivo(Objetivo.id)"  class="btn btn-danger">Eliminar</button>
          </div>
        </div>
      </form>
    </section>

    <section  class="lh-sm fs-4 shadow p-3 mb-5 bg-body rounded">
      <label for="inputAddress" class="form-label fw-bold subtitulo" >PERFIL DEL EGRESADO</label>

    <form [formGroup]="ingresarPerfil" (ngSubmit)="agregarPerfil()">
      <div class="row ">
        <span *ngIf="submitedPerfil && ingresarPerfil.invalid" class="alert alert-danger">DEBE LLENAR LOS CAMPOS...</span>
        <label for="inputAddress" class="form-label fw-bold" >Agregar</label>

        <div class="col-10">
          <input type="text" class="form-control" id="inputAddress" value="" formControlName="PerfilMecatronica" placeholder="PERFIL*">
        </div>

        <div class="col">
          <button type="submit" class="btn btn-success">Agregar</button>
        </div>

      </div>
    </form>
    <br>
    <h1 class="fw-bold lh-sm fs-4 shadow p-3 mb-5 bg-body rounded" *ngIf="Perfil.length==0">AUN NO HAY DATOS</h1>
    <form *ngIf="Perfil.length>0">
      <label for="inputAddress" class="form-label fw-bold" >Eliminar/Editar</label>
      <div *ngFor="let Perfil of Perfil" class="row">
        <div class="col-8">
          <input type="text" class="form-control mb-2" id="inputAddressPerfil" value="{{Perfil.PerfilMmecatronicaOpc}}">
        </div>
        <div class="col float-rigth">
          <button type="button" (click)="eliminaPerfil(Perfil.id)"  class="btn btn-danger">Eliminar</button>
        </div>
      </div>
    </form>
  </section>


  <section  class="lh-sm fs-4 shadow p-3 mb-5 bg-body rounded">
    <label for="inputAddress" class="form-label fw-bold subtitulo" >ESTRUCTURA DEL PLAN DE ESTUDIO</label>

  <form [formGroup]="ingresarEstructura" (ngSubmit)="agregarEstructura()">
    <div class="row ">
      <span *ngIf="submitedEstructura && ingresarEstructura.invalid" class="alert alert-danger">DEBE LLENAR LOS CAMPOS...</span>
      <label for="inputAddress" class="form-label fw-bold" >Agregar</label>

      <div class="col-10">
        <input type="text" class="form-control" id="inputAddress" value="" formControlName="EstructuraMecatronica" placeholder="ESTRUCTURA DEL PLAN DE ESTUDIO*">
      </div>

      <div class="col">
        <button type="submit" class="btn btn-success">Agregar</button>
      </div>

    </div>
  </form>
  <br>
  <h1 class="fw-bold lh-sm fs-4 shadow p-3 mb-5 bg-body rounded" *ngIf="Estructura.length==0">AUN NO HAY DATOS</h1>
  <form *ngIf="Estructura.length>0">
    <label for="inputAddress" class="form-label fw-bold" >Eliminar/Editar</label>
    <div *ngFor="let Estructura of Estructura" class="row">
      <div class="col-8">
        <input type="text" class="form-control mb-2" id="inputAddressEstructura" value="{{Estructura.EstructuraMmecatronicaopc}}">
      </div>
      <div class="col float-rigth">
        <button type="button" (click)="eliminaEstructura(Estructura.id)" class="btn btn-danger">Eliminar</button>
      </div>
    </div>
  </form>
</section>

<section  class="lh-sm fs-4 shadow p-3 mb-5 bg-body rounded">
  <label for="inputAddress" class="form-label fw-bold subtitulo" >AREAS DE INVESTIGACIÓN</label>

<form [formGroup]="ingresarArea" (ngSubmit)="agregarArea()">
  <div class="row ">
    <span *ngIf="submitedArea && ingresarArea.invalid" class="alert alert-danger">DEBE LLENAR LOS CAMPOS...</span>
    <label for="inputAddress" class="form-label fw-bold" >Agregar</label>

    <div class="col-10">
      <input type="text" class="form-control" id="inputAddress" value="" formControlName="AreaMecatronica" placeholder="AREAS DE INVESTIGACIÓN*">
    </div>

    <div class="col">
      <button type="submit" class="btn btn-success">Agregar</button>
    </div>

  </div>
</form>
<br>
<h1 class="fw-bold lh-sm fs-4 shadow p-3 mb-5 bg-body rounded" *ngIf="Area.length==0">AUN NO HAY DATOS</h1>
<form *ngIf="Area.length>0">
  <label for="inputAddress" class="form-label fw-bold" >Eliminar/Editar</label>
  <div *ngFor="let Area of Area" class="row">
    <div class="col-8">
      <input type="text" class="form-control mb-2" id="inputAddressArea" value="{{Area.AreasMmecatronicaOpc}}">
    </div>
    <div class="col float-rigth">
      <button type="button" (click)="eliminaArea(Area.id)" class="btn btn-danger">Eliminar</button>
    </div>
  </div>
</form>
</section>

    </mat-drawer-content>
  </mat-drawer-container>
</div>

