<div>
<div style="text-align: center;">

  <input type="checkbox" id="btn-modal">
  <label for="btn-modal" class="lbl-modal">Crear Nuevo</label>
  <div class="modal">
    <div class="contenedor">
      <header>Bienvenido</header>
      <label for="btn-modal">X</label>
      <div class="contenido">
        <form>
          <div class="form-group">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>nombre</th>
        <th>apellido</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of collection.data">
        <td>{{item.id}}</td>
        <td>{{item.nombre}}</td>
        <td>{{item.apellido}}</td>
        <td>
          <button type="button" class="btn btn-info">Actualizar</button>
          <button type="button" class="btn btn-danger" (click)="eliminar(item)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>



</div>



