
<hr>
<br>


<h1 class="center">LOGO</h1>
<div class="justificar">
  <span>
    El diseño de la imagen que identifica al TESE, reviste un triple significado:
    retoma, en primera instancia el topónimo de Ecatepec, que en náhuatl significa Cerro del Viento.
  </span>
  <br>
</div>
<div class="justificar">
  <span>
    Expresa también el carácter industrial del municipio, al quedar representado el Centro de evaporación
    "El Caracol". Perteneciente a la empresa más antigua de la zona, Sosa Texcoco.
     Su configuración geométrica, formada por círculos, triángulos y el cuadrado, simboliza el carácter
     tecnológico de la institución.
  </span>
</div>
<div class="justificar">
  <span>
    Expresa también el carácter industrial del municipio, al quedar representado el Centro de evaporación
    "El Caracol". Perteneciente a la empresa más antigua de la zona, Sosa Texcoco.
     Su configuración geométrica, formada por círculos, triángulos y el cuadrado, simboliza el carácter
     tecnológico de la institución.
  </span>
</div>
<div class="justificar">
  <ol>
    <li>Los círculos concéntricos sugieren movimiento,
      hechos con líneas delgadas que denotan ligereza,
      características fundamentales del viento.</li>
    <li>El triángulo, es un símbolo de equilibrio y estabilidad,
      trazado con líneas gruesas nos sugiere fuerza, y aquí,
      representa a la imagen del cerro.
      Siguiendo los conceptos anteriores,
      se sintetizó y unificó el grafismo que represente Ecatepec y
      su significado.</li>
    <li>El trazo ascendente de sus líneas, nos evoca avance y superación.</li>
    <li>El círculo como base de diseño nos proporciona una imagen dinámica y actual,
       que aun cuando no está completamente trazado,
       visualmente se interpreta como si lo estuviera constituyendo,
       además de envolvente, una parte integral de la imagen.</li>
    <li>La evolución del trazo de las líneas de delgado a grueso,
      engloba el concepto de trascendencia,
      signo evolutivo en una Institución de Educación Superior.</li>
    <li>La precisión de las líneas, nos indica la tecnología,
      una característica básica de la educación que se imparte.
      Las “entradas” o blancos entre ellas, nos denotan libertad.</li>
  </ol>
</div>
<hr>






