<div class="container">

<br>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Conocenos</a></li>
    <li class="breadcrumb-item"><a href="#">Identidad Institucional</a></li>
    <li class="breadcrumb-item active" aria-current="page">Logo</li>
  </ol>
</nav>
<h1 class="text-center fs-4 fw-bold shadow p-3 mb-5 bg-body rounded">LOGO</h1>
<div class="lh-sm fs-4 shadow p-3 mb-5 bg-body rounded">
  <p>
  El diseño de la imagen que identifica al TESE,
  reviste un triple significado: retoma, en primera instancia el topónimo de Ecatepec,
  que en náhuatl significa Cerro del Viento.
</p>
<br>
<p>
  Expresa también el carácter industrial del municipio, al quedar representado el Centro de evaporación "El Caracol".
  Perteneciente a la empresa más antigua de la zona, Sosa Texcoco. Su configuración geométrica,
  formada por círculos, triángulos y el cuadrado, simboliza el carácter tecnológico de la institución.

</p>
</div>

 <div class="shadow text-center p-3 mb-5 bg-body rounded">
   <p>
     <img src="../../../../../assets/images/Logo-Wallpaper.png" class="img-fluid rounded" alt="...">
   </p>
  <br>
  <h1 class="text-center fs-4 fw-bold mb-3">TECNOLÓGICO DE ESTUDIOS SUPERIORES DE ECATEPEC</h1>
</div>


</div>










