<div class="">
  <mat-drawer-container class="side-container">
    <mat-drawer mode="side"class="sidebar" id="side" #drawer opened>
      <mat-selection-list role="list-container" [multiple]="false">
        <a href="Historia">
          <mat-list-option>
            Historia
          </mat-list-option>
        </a>
        <a href="Mision">
          <mat-list-option role="/Logo">
            Mision Vision
          </mat-list-option>
        </a>

        <a href="http://www.tese.edu.mx/documentos2004/7285_BGNZNIQ.pdf">
          <mat-list-option role="/Logo">
            Organigrama
          </mat-list-option>
        </a>
      </mat-selection-list>
    </mat-drawer>

    <mat-drawer-content class="side-content">
      <button id="arrow" type="button" mat-button (click)="drawer.toggle()" (click)="open()">
        <mat-icon id="right" class="open">arrow_forward</mat-icon>
        <mat-icon id="left">arrow_back</mat-icon>
      </button>
      <mat-divider class="divider"></mat-divider>

    <div class="text-side">
      <div class="box-shadow= 50px 50px;">
        <nav arial-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="ubicacion-pag" href="#">Home</a></li>
            <li class="breadcrumb-item"><a class="ubicacion-pag" href="#">Identidad Institucional</a></li>
            <li class="breadcrumb-item active" aria-current="page">Logo</li>
          </ol>
        </nav>
      </div>
    </div>

    <app-carousel class="mb-5" [items]="carouselData"></app-carousel>
    <section  *ngFor="let item of items | async">

    <div class="lh-sm fs-4 shadow p-3 bg-body rounded">
      <h1 class="text-center fs-4 fw-bold">{{item.Titulo}}</h1>
      <p>
        {{item.Contenido}}
        <br>
    </p>


    </div>
    </section>


     <div class="shadow text-center p-3 mb-5 bg-body rounded" *ngFor="let img of imgs | async">
       <p>
         <img src="{{img.Link}}" class="img-fluid rounded" alt="...">
       </p>
      <br>
      <h1 class="text-center fs-4 fw-bold mb-3"> {{img.Titulo}}</h1>
    </div>



    </mat-drawer-content>
  </mat-drawer-container>
  </div>
