<section>
    <div id="intro2" class=" bg-image shadow-2-strong">
    <div class="container">
        <div class="row">
          <div class="col-sm"><br>
          
            <p style="color:#f5f5f5" class="fs-1" align="center">REGISTRO</p>
            <br>

            <div  class="col input-group mb-4">
                <span class="input-group-text fondo text-light" id="basic-addon1"><h1>APELLIDO PATERNO</h1></span>
                <input type="text" class="form-control" placeholder="Apellido paterno" aria-label="Apellido paterno" aria-describedby="basic-addon1">
            </div>
       
            <div  class="col input-group mb-4">
                <span class="input-group-text fondo text-light" id="basic-addon1"><h1>APELLIDO MATERNO</h1></span>
                <input type="text" class="form-control" placeholder="Apellido materno" aria-label="Apellido materno" aria-describedby="basic-addon1">
            </div>
            <div  class="col input-group mb-4">
                <span class="input-group-text fondo text-light" id="basic-addon1"><h1>NOMBRE</h1></span>
                <input type="text" class="form-control" placeholder="Nombre" aria-label="Nombre" aria-describedby="basic-addon1">
            </div>
       
                <div class="input-group mb-4">
                    <input type="text" class="form-control"  placeholder="Email" aria-label="Email" aria-describedby="basic-addonaddon2">
                    <span class="input-group-text fondo text-light" id="basic-addon2"><h1>@example.com</h1></span>
                </div>
       
                <div  class="col input-group mb-4">
                    <span class="input-group-text fondo text-light" id="basic-addon1"><h1>MATRICULA</h1></span>
                    <input type="text" class="form-control" placeholder="Matricula" aria-label="Matricula" aria-describedby="basic-addon1">
                </div>
                <div  class="col input-group mb-4">
                    <span class="input-group-text fondo text-light" id="basic-addon1"><h1>TELEFONO</h1></span>
                    <input type="text" class="form-control" placeholder="Numero" aria-label="Numero" aria-describedby="basic-addon1">
                </div>
          <br>
              </div>
          
          <button type="button" align="center" class="btn btn-danger"><h1>ENVIAR</h1></button>
        </div>
      </div><br>
    </div>
</section>
<style>
#intro2 {
  background-image: url('../../../../assets/images/biblio1.jpg');
}
.fondo{
background:rgb(206, 77, 77);
}
     
</style>
