<div class="container">
  <div>
    <h2>Contenido central</h2>
    <div class="input-group my-3">
      <span class="input-group-text">Contenido</span>
      <textarea class="form-control" aria-label="With textarea"></textarea>
    </div>
  </div>

  <div>
    <h2>Links</h2>

    <form class="form-floating mb-3">
      <input type="email" class="form-control" id="floatingInput" placeholder="Nombre del link">
      <label for="floatingInput">Agrega un link</label>
    </form>

    <form class="form-floating mb-3">
      <input type="email" class="form-control" id="floatingInput" placeholder="Nombre del link">
      <label for="floatingInput">Agrega la url del link</label>
    </form>
  </div>
</div>
