<!-- Empieza el area para ingresar contenido en el panel lateral -->
<div class="text-side" >
  <div class="box-shadow= 50px 50px;">

    <!-- BANNER -->
      <div class="container-fluid px-0">
        <div class="row bg-dark h-100">
          <div class="col-12 px-0">
            <app-carousel-carreras [items]="carouselData"></app-carousel-carreras>
          </div>
        </div>
      </div>

      <!-- Breadcrumb, ayuda a que el sitio sea mas agil y el usuario sepa en donde esta localizado, hacia donde puede ir y que paginas le anteceden -->
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#" class="Link">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Egresados y Exalumnos</li>
          <li class="breadcrumb-item"><a routerLink="/egresadosyexalumnos" class="Link">Posgrados</a></li>
          <li class="breadcrumb-item active" aria-current="page">MaestríaIngenieríaQuímica</li>
        </ol>
      </nav>

      <h1 class="titulo">
        <div *ngFor="let item of items | async">
          {{item.QuimicaTitulo}}
        </div>
      </h1>

      <div class="cards">
        <div class="card-body" style="background-color:#E3E3E3; text-align: center;">
          <h4 class="card-title"><div class="Titulo2">
            CONCEPTOS GENERALES
          </div></h4>
          <h3>
            <div *ngFor="let Concepto of Conceptos | async">
            {{Concepto.ConceptosMQuimicaDesc}}
          </div>
          </h3>
       </div>
     </div>

     <div class="cards">
      <div class="card-body" style="text-align: center;">
       <h4 class="card-title"><div class="Titulo2">
        OBJETIVO
       </div></h4>
        <p class="card-text">
          <div *ngFor="let Objetivo of Objetivos | async">
            {{iteObjetivom.ObjetivoMquimicaDesc}}
          </div>
        <br>
        <br>
      </div>
    </div>

  <div class="accordion accordion-flush" id="accordionFlushExample">

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne" >
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          <h4 class="card-title"><div class="subtitulo">
            PERFIL DEL EGRESADO
          </div></h4>
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
        data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <p class="card-text">
            <UL *ngFor="let Perfil of Perfiles | async">
              <LI>
                {{Perfil.PerfilMquimicaOpc}}
              </LI>

              <LI>
                <div *ngFor="let item of items | async">
                  {{item.QuimicaPerfilop2}}
                </div>
              </LI>

              <LI>
                <div *ngFor="let item of items | async">
                  {{item.QuimicaPerfilop3}}
                </div>
              </LI>

              <LI>
                <div *ngFor="let item of items | async">
                  {{item.QuimicaPerfilop4}}
                </div>
              </LI>

              <LI>
                <div *ngFor="let item of items | async">
                  {{item.QuimicaPerfilop5}}
                </div>
              </LI>

              <LI>
                <div *ngFor="let item of items | async">
                  {{item.QuimicaPerfilop6}}
                </div>
              </LI>

              <LI>
                <div *ngFor="let item of items | async">
                  {{item.QuimicaPerfilop7}}
                </div>
              </LI>

            </UL>
    </div>
    <br>
    <br>
    </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          <h4 class="card-title"><div class="subtitulo">
            MATERIAS
          </div></h4>
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
        data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">

          <div class="row row-cols-1 row-cols-md-2 g-2">
            <div class="col">
              <div class="cards">
                <div class="card-body">
                  <h4 class="card-title"><div class="Titulo2">
                    <div *ngFor="let item of items | async">
                      {{item.Basicas}}
                    </div>
                  </div></h4>
                  <ul>
                    <div *ngFor="let materiasBasicas of materiasB | async">
                      <li>{{materiasBasicas.QuimicaMateriaBasica}}</li>
                    </div>
                  </ul>
                </div>
              </div>
            </div>

              <div class="col">
                <div class="cards">
                  <div class="card-body">
                    <h4 class="card-title"><div class="Titulo2">
                      <div *ngFor="let item of items | async">
                        {{item.Optativas}}
                      </div>
                    </div></h4>
                    <ul>
                      <div *ngFor="let materiasOptativas of materiasO | async">
                        <li>{{materiasOptativas.QuimicaMateriaOptativa}}</li>
                      </div>
                    </ul>
                  </div>
                </div>
                </div>
            </div>

        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          <h4 class="card-title"><div class="subtitulo">
              AREAS DE INVESTIGACIÓN
          </div></h4>
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
        data-bs-parent="#accordionFlushExample">
        <div class="accordion-body" style="text-align: center;">
          <ul style="list-style-type: none;">
          <li>
            <div *ngFor="let item of items | async">
            {{item.QuimicaAreasop1}}
            </div>
          </li>
          <li>
            <div *ngFor="let item of items | async">
              {{item.QuimicaAreasop2}}
              </div>
          </li>
        </ul>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>
</div>
   </div>

