<app-carousel-electronica></app-carousel-electronica>
<body>

  <div class="container-fluid" >




 <mat-drawer-container class="side-container">





     <mat-drawer-content class="side-content">

         <mat-divider class="divider"></mat-divider>

         <!-- Empieza el area para ingresar contenido en el panel lateral -->
         <div class="text-side" >
 <div class="box-shadow= 50px 50px;">





   <!-- Breadcrumb, ayuda a que el sitio sea mas agil y el usuario sepa en donde esta localizado, hacia donde puede ir y que paginas le anteceden -->
   <nav aria-label="breadcrumb">
     <ol class="breadcrumb">
       <li class="breadcrumb-item"><a href="/">Home</a></li>
       <li class="breadcrumb-item"><a href="/Carreras">Carreras</a></li>
       <li class="breadcrumb-item"><a href="/Carreras/Electronica">Electronica</a></li>
     </ol>
   </nav>

   <h1 class="titulo">Ingeniería Electrónica
   </h1>


   <div class="card">
     <div class="card-body">
       <h4 class="card-title"><div class="Titulo2">Objetivo de la carrera: </div></h4>
       <p class="card-text"><div *ngFor="let item of items | async">{{item.ObjetivoElectronica}}</div>
     </div>
   </div>

   <mat-divider></mat-divider>


   <div class="accordion accordion-flush" id="accordionFlushExample">
     <div class="accordion-item">
       <h2 class="accordion-header" id="flush-headingTwo">
         <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          Perfil de Egreso
         </button>
       </h2>
       <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
         <div class="accordion-body">
           <ol start="1">
            <LI ><div *ngFor="let item of items | async">{{item.PerfilEgresoElectronica1}}</div>
            <LI ><div *ngFor="let item of items | async">{{item.PerfilEgresoElectronica2}}</div>
            <LI ><div *ngFor="let item of items | async">{{item.PerfilEgresoElectronica3}}</div>
            <LI ><div *ngFor="let item of items | async">{{item.PerfilEgresoElectronica4}}</div>
            <LI ><div *ngFor="let item of items | async">{{item.PerfilEgresoElectronica5}}</div>
            <LI ><div *ngFor="let item of items | async">{{item.PerfilEgresoElectronica6}}</div>
            <LI ><div *ngFor="let item of items | async">{{item.PerfilEgresoElectronica7}}</div>
            <LI ><div *ngFor="let item of items | async">{{item.PerfilEgresoElectronica8}}</div>
            <LI ><div *ngFor="let item of items | async">{{item.PerfilEgresoElectronica9}}</div>
            <LI ><div *ngFor="let item of items | async">{{item.PerfilEgresoElectronica10}}</div>
            <LI ><div *ngFor="let item of items | async">{{item.PerfilEgresoElectronica11}}</div>
            <LI ><div *ngFor="let item of items | async">{{item.PerfilEgresoElectronica12}}</div>
            <LI ><div *ngFor="let item of items | async">{{item.PerfilEgresoElectronica13}}</div>
            <LI ><div *ngFor="let item of items | async">{{item.PerfilEgresoElectronica14}}</div>
            <LI ><div *ngFor="let item of items | async">{{item.PerfilEgresoElectronica15}}</div>
            <LI ><div *ngFor="let item of items | async">{{item.PerfilEgresoElectronica16}}</div>
            <LI ><div *ngFor="let item of items | async">{{item.PerfilEgresoElectronica17}}</div>
            <LI ><div *ngFor="let item of items | async">{{item.PerfilEgresoElectronica18}}</div>
            <LI ><div *ngFor="let item of items | async">{{item.PerfilEgresoElectronica19}}</div>
          </ol>
        </div>
       </div>
     </div>
     <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          Perfil Profesional
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <ul>
            <LI ><div *ngFor="let item of items | async">{{item.PerfilProfesionalElectronica1}}</div>
            <LI ><div *ngFor="let item of items | async">{{item.PerfilProfesionalElectronica2}}</div>
            <LI ><div *ngFor="let item of items | async">{{item.PerfilProfesionalElectronica3}}</div>
            <LI ><div *ngFor="let item of items | async">{{item.PerfilProfesionalElectronica4}}</div>
            <LI ><div *ngFor="let item of items | async">{{item.PerfilProfesionalElectronica5}}</div>
            <LI ><div *ngFor="let item of items | async">{{item.PerfilProfesionalElectronica6}}</div>
            <LI ><div *ngFor="let item of items | async">{{item.PerfilProfesionalElectronica7}}</div>
            <LI ><div *ngFor="let item of items | async">{{item.PerfilProfesionalElectronica8}}</div>
            <LI ><div *ngFor="let item of items | async">{{item.PerfilProfesionalElectronica9}}</div>
            <LI ><div *ngFor="let item of items | async">{{item.PerfilProfesionalElectronica10}}</div>
            <LI ><div *ngFor="let item of items | async">{{item.PerfilProfesionalElectronica11}}</div>
            <LI ><div *ngFor="let item of items | async">{{item.PerfilProfesionalElectronica12}}</div>
            <LI ><div *ngFor="let item of items | async">{{item.PerfilProfesionalElectronica13}}</div>
            <LI ><div *ngFor="let item of items | async">{{item.PerfilProfesionalElectronica14}}</div>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThr">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThr" aria-expanded="false" aria-controls="flush-collapseThr">
          Visión
        </button>
      </h2>
      <div id="flush-collapseThr" class="accordion-collapse collapse" aria-labelledby="flush-headingThr" data-bs-parent="#accordionFlushExample">
        <div *ngFor="let item of items | async">{{item.VisionElectronica}}</div>
        <br>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTh">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTh" aria-expanded="false" aria-controls="flush-collapseTh">
          Objetivo
        </button>
      </h2>
      <div id="flush-collapseTh" class="accordion-collapse collapse" aria-labelledby="flush-headingTh" data-bs-parent="#accordionFlushExample">
        <div *ngFor="let item of items | async">{{item.Objetivo1Electronica}}</div>
        <br>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingCua">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseCua" aria-expanded="false" aria-controls="flush-collapseCua">
          Funciones
        </button>
      </h2>
      <div id="flush-collapseCua" class="accordion-collapse collapse" aria-labelledby="flush-headingCua" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <ul>
            <LI><div *ngFor="let item of items | async">{{item.FuncionElectronica1}}</div>
            <LI><div *ngFor="let item of items | async">{{item.FuncionElectronica2}}</div>
            <LI><div *ngFor="let item of items | async">{{item.FuncionElectronica3}}</div>
            <LI><div *ngFor="let item of items | async">{{item.FuncionElectronica4}}</div>
            <LI><div *ngFor="let item of items | async">{{item.FuncionElectronica5}}</div>
            <LI><div *ngFor="let item of items | async">{{item.FuncionElectronica6}}</div>
            <LI><div *ngFor="let item of items | async">{{item.FuncionElectronica7}}</div>
            <LI><div *ngFor="let item of items | async">{{item.FuncionElectronica8}}</div>
            <LI><div *ngFor="let item of items | async">{{item.FuncionElectronica9}}</div>
            <LI><div *ngFor="let item of items | async">{{item.FuncionElectronica10}}</div>
            <LI><div *ngFor="let item of items | async">{{item.FuncionElectronica11}}</div>
            <LI><div *ngFor="let item of items | async">{{item.FuncionElectronica12}}</div>
            <LI><div *ngFor="let item of items | async">{{item.FuncionElectronica13}}</div>
            <LI><div *ngFor="let item of items | async">{{item.FuncionElectronica14}}</div>
            <LI><div *ngFor="let item of items | async">{{item.FuncionElectronica15}}</div>
            <LI><div *ngFor="let item of items | async">{{item.FuncionElectronica16}}</div>
            <LI><div *ngFor="let item of items | async">{{item.FuncionElectronica17}}</div>
          </ul>
        </div>
      </div>
    </div>
   </div>
   <mat-divider></mat-divider>

 <mat-divider></mat-divider>



 <!-- Seccion de documentos; Algunas paginas contienen documentos o enlaces a los que el usuario puede acceder/descargar, si lo necesitas puedes implementarlo en cada uno de los "accordion body" cada uno de estos representa a una opcion o documento -->

 <div class="alert alert-primary d-flex align-items-center" role="alert">
   <div>
 Documentos Anexos

 <div class="accordion" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
        <div *ngFor="let item of items | async">{{item.TituloBoton1Electronica}}</div>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
      <div class="accordion-body">
       <a href="http://www.tese.edu.mx/documentos2004/2104_DYLLGZY.pdf">Ver</a>
      </div>
    </div>
  </div>
   <div class="accordion-item">
     <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
       <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
        <div *ngFor="let item of items | async">{{item.TituloBoton2Electronica}}</div>
       </button>
     </h2>
     <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
       <div class="accordion-body">
        <a href="http://www.tese.edu.mx/documentos2004/8999_EFBFZWI.pdf">Detalles</a>
       </div>
     </div>
   </div>
   <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headinguno">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseuno" aria-expanded="false" aria-controls="panelsStayOpen-collapseuno">
        <div *ngFor="let item of items | async">{{item.TituloBoton3Electronica}}</div>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseuno" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headinguno">
      <div class="accordion-body">
       <a href="http://www.tese.edu.mx/documentos2004/3131_RRVVQZQ.pdf">Detalles</a>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingdos">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapsedos" aria-expanded="false" aria-controls="panelsStayOpen-collapsedos">
        <div *ngFor="let item of items | async">{{item.TituloBoton4Electronica}}</div>
      </button>
    </h2>
    <div id="panelsStayOpen-collapsedos" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingdos">
      <div class="accordion-body">
       <a href="http://www.tese.edu.mx/documentos2004/6251_VERGVUK.pdf">Detalles</a>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingtres">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapsetres" aria-expanded="false" aria-controls="panelsStayOpen-collapsetres">
        <div *ngFor="let item of items | async">{{item.TituloBoton5Electronica}}</div>
      </button>
    </h2>
    <div id="panelsStayOpen-collapsetres" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingtres">
      <div class="accordion-body">
       <a href="http://www.tese.edu.mx/documentos2004/6251_VERGVUK.pdf">Detalles</a>
      </div>
    </div>
  </div>
 </div>


 <div class="accordion-item">
  <h2 class="accordion-header" id="panelsStayOpen-headingcero">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapsecero" aria-expanded="false" aria-controls="panelsStayOpen-collapsecero">
      <div *ngFor="let item of items | async">{{item.TituloBoton6Electronica}}</div>
    </button>
  </h2>
  <div id="panelsStayOpen-collapsecero" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingcero">

<div class="accordion-item">
  <h2 class="accordion-header" id="panelsStayOpen-headingcuatro">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapsecuatro" aria-expanded="false" aria-controls="panelsStayOpen-collapsecuatro">
      <div *ngFor="let item of items | async">{{item.TituloBoton7Electronica}}</div>
    </button>
  </h2>
  <div id="panelsStayOpen-collapsecuatro" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingcuatro">
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingA">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseA" aria-expanded="false" aria-controls="panelsStayOpen-collapseA">
          <div *ngFor="let item of items | async">{{item.TituloBoton8Electronica}}</div>
        </button>
      </h2>
      <div id="panelsStayOpen-collapseA" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingA">
        <div class="accordion-body">
         <a href="http://www.tese.edu.mx/documentos2004/6202_JNCAKVB.doc">Detalles</a>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingB">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseB" aria-expanded="false" aria-controls="panelsStayOpen-collapseB">
          <div *ngFor="let item of items | async">{{item.TituloBoton9Electronica}}</div>
        </button>
      </h2>
      <div id="panelsStayOpen-collapseB" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingB">
        <div class="accordion-body">
         <a href="http://www.tese.edu.mx/documentos2004/6203_CKWTBME.doc">Detalles</a>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingC">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseC" aria-expanded="false" aria-controls="panelsStayOpen-collapseC">
          <div *ngFor="let item of items | async">{{item.TituloBoton10Electronica}}</div>
        </button>
      </h2>
      <div id="panelsStayOpen-collapseC" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingC">
        <div class="accordion-body">
         <a href="http://www.tese.edu.mx/documentos2004/6204_UFAAHEY.docx">Detalles</a>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingD">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseD" aria-expanded="false" aria-controls="panelsStayOpen-collapseD">
          <div *ngFor="let item of items | async">{{item.TituloBoton11Electronica}}</div>
        </button>
      </h2>
      <div id="panelsStayOpen-collapseD" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingD">
        <div class="accordion-body">
         <a href="http://www.tese.edu.mx/documentos2004/6205_JRBZMPU.doc">Detalles</a>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingE">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseE" aria-expanded="false" aria-controls="panelsStayOpen-collapseE">
          <div *ngFor="let item of items | async">{{item.TituloBoton12Electronica}}</div>
        </button>
      </h2>
      <div id="panelsStayOpen-collapseE" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingE">
        <div class="accordion-body">
         <a href="http://www.tese.edu.mx/documentos2004/6206_SUZGSRK.doc">Detalles</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="accordion-item">
  <h2 class="accordion-header" id="panelsStayOpen-headingcinco">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapsecinco" aria-expanded="false" aria-controls="panelsStayOpen-collapsecinco">
      <div *ngFor="let item of items | async">{{item.TituloBoton13Electronica}}</div>
    </button>
  </h2>
  <div id="panelsStayOpen-collapsecinco" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingcinco">
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingF">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseF" aria-expanded="false" aria-controls="panelsStayOpen-collapseF">
          <div *ngFor="let item of items | async">{{item.TituloBoton14Electronica}}</div>
        </button>
      </h2>
      <div id="panelsStayOpen-collapseF" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingF">
        <div class="accordion-body">
         <a href="http://www.tese.edu.mx/documentos2004/6200_XUWXZTE.docx">Detalles</a>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingG">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseG" aria-expanded="false" aria-controls="panelsStayOpen-collapseG">
          <div *ngFor="let item of items | async">{{item.TituloBoton15Electronica}}</div>
        </button>
      </h2>
      <div id="panelsStayOpen-collapseG" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingG">
        <div class="accordion-body">
         <a href="http://www.tese.edu.mx/documentos2004/6247_JSRLDFG.docx">Detalles</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="accordion-item">
  <h2 class="accordion-header" id="panelsStayOpen-headingseis">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseseis" aria-expanded="false" aria-controls="panelsStayOpen-collapseseis">
      <div *ngFor="let item of items | async">{{item.TituloBoton16Electronica}}</div>
    </button>
  </h2>
  <div id="panelsStayOpen-collapseseis" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingseis">
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingH">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseH" aria-expanded="false" aria-controls="panelsStayOpen-collapseH">
          <div *ngFor="let item of items | async">{{item.TituloBoton17Electronica}}</div>
        </button>
      </h2>
      <div id="panelsStayOpen-collapseH" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingH">
        <div class="accordion-body">
         <a href="http://www.tese.edu.mx/documentos2004/6198_QEKZJTG.pdf">Detalles</a>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingI">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseI" aria-expanded="false" aria-controls="panelsStayOpen-collapseI">
          <div *ngFor="let item of items | async">{{item.TituloBoton18Electronica}}</div>
        </button>
      </h2>
      <div id="panelsStayOpen-collapseI" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingI">
        <div class="accordion-body">
         <a href="http://www.tese.edu.mx/documentos2004/6196_JIVFGED.pdf">Detalles</a>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingJ">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseJ" aria-expanded="false" aria-controls="panelsStayOpen-collapseJ">
          <div *ngFor="let item of items | async">{{item.TituloBoton19Electronica}}</div>
        </button>
      </h2>
      <div id="panelsStayOpen-collapseJ" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingJ">
        <div class="accordion-body">
         <a href="http://www.tese.edu.mx/documentos2004/6192_IGFPHXS.pdf">Detalles</a>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingK">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseK" aria-expanded="false" aria-controls="panelsStayOpen-collapseK">
          <div *ngFor="let item of items | async">{{item.TituloBoton20Electronica}}</div>
        </button>
      </h2>
      <div id="panelsStayOpen-collapseK" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingK">
        <div class="accordion-body">
         <a href="http://www.tese.edu.mx/documentos2004/6197_JBEAHMZ.pdf">Detalles</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="accordion-item">
  <h2 class="accordion-header" id="panelsStayOpen-headingsiete">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapsesiete" aria-expanded="false" aria-controls="panelsStayOpen-collapsesiete">
      <div *ngFor="let item of items | async">{{item.TituloBoton21Electronica}}</div>
    </button>
  </h2>
  <div id="panelsStayOpen-collapsesiete" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingsiete">
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingL">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseL" aria-expanded="false" aria-controls="panelsStayOpen-collapseL">
          <div *ngFor="let item of items | async">{{item.TituloBoton22Electronica}}</div>
        </button>
      </h2>
      <div id="panelsStayOpen-collapseL" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingL">
        <div class="accordion-body">
         <a href="http://www.tese.edu.mx/documentos2004/5483_GQPINOY.pdf">Detalles</a>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingM">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseM" aria-expanded="false" aria-controls="panelsStayOpen-collapseM">
          <div *ngFor="let item of items | async">{{item.TituloBoton23Electronica}}</div>
        </button>
      </h2>
      <div id="panelsStayOpen-collapseM" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingM">
        <div class="accordion-body">
         <a href="http://www.tese.edu.mx/documentos2004/6250_OPONQPL.pdf">Detalles</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="accordion-item">
  <h2 class="accordion-header" id="panelsStayOpen-headingN">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseN" aria-expanded="false" aria-controls="panelsStayOpen-collapseN">
      <div *ngFor="let item of items | async">{{item.TituloBoton24Electronica}}</div>
    </button>
  </h2>
  <div id="panelsStayOpen-collapseN" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingN">
    <div class="accordion-body">
     <a href="http://www.tese.edu.mx/documentos2004/5115_NQEKUER.pdf">Detalles</a>
    </div>
  </div>
</div>

<div class="accordion-item">
  <h2 class="accordion-header" id="panelsStayOpen-headingÑ">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseÑ" aria-expanded="false" aria-controls="panelsStayOpen-collapseÑ">
      <div *ngFor="let item of items | async">{{item.TituloBoton25Electronica}}</div>
    </button>
  </h2>
  <div id="panelsStayOpen-collapseÑ" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingÑ">
    <div class="accordion-body">
     <a href="http://www.tese.edu.mx/documentos2004/6254_KLDGTHA.pdf">Detalles</a>
    </div>
  </div>
</div>

<div class="accordion-item">
  <h2 class="accordion-header" id="panelsStayOpen-headingO">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseO" aria-expanded="false" aria-controls="panelsStayOpen-collapseO">
      <div *ngFor="let item of items | async">{{item.TituloBoton26Electronica}}</div>
    </button>
  </h2>
  <div id="panelsStayOpen-collapseO" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingO">
    <div class="accordion-body">
     <a href="http://www.tese.edu.mx/documentos2004/6254_KLDGTHA.pdf">Detalles</a>
    </div>
  </div>
</div>


  </div>
</div>


   </div>
 </div>


       </div>






         </div>




         <!-- Etiqueda de cerrado de la side nav bar, se elimina para retirar la barra de navegacion lateral -->
     </mat-drawer-content>



 </mat-drawer-container>



 <!-- Div del body, esto centra el contenido en modo web y deja fuera los mat card -->





 </div>
 </body>
