<app-carousel-electronica></app-carousel-electronica>
<body>

  <div class="container-fluid" >




 <mat-drawer-container class="side-container">





     <mat-drawer-content class="side-content">

         <mat-divider class="divider"></mat-divider>

         <!-- Empieza el area para ingresar contenido en el panel lateral -->
         <div class="text-side" >
 <div class="box-shadow= 50px 50px;">





   <!-- Breadcrumb, ayuda a que el sitio sea mas agil y el usuario sepa en donde esta localizado, hacia donde puede ir y que paginas le anteceden -->
   <nav aria-label="breadcrumb">
     <ol class="breadcrumb">
       <li class="breadcrumb-item"><a href="/">Home</a></li>
       <li class="breadcrumb-item"><a href="/Carreras">Carreras</a></li>
       <li class="breadcrumb-item"><a href="/Carreras/Electronica">Electronica</a></li>
     </ol>
   </nav>

   <h1 class="titulo">Ingeniería Electrónica
   </h1>


   <div class="card">
     <div class="card-body">
       <h4 class="card-title"><div class="Titulo2">Objetivo de la carrera: </div></h4>
       <p class="card-text"> <p>Formar profesionistas con competencias profesionales para diseñar, modelar, implementar, operar, integrar, mantener, instalar, administrar, innovar y transferir tecnología electrónica existente y emergente en proyectos interdisciplinarios, a nivel nacional e internacional, para resolver problemas y atender las necesidades de su entorno con ética, actitud emprendedora, creativa, analítica y comprometidos con el desarrollo sustentable.
     </div>
   </div>

   <mat-divider></mat-divider>


   <div class="accordion accordion-flush" id="accordionFlushExample">
     <div class="accordion-item">
       <h2 class="accordion-header" id="flush-headingTwo">
         <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          Perfil de Egreso
         </button>
       </h2>
       <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
         <div class="accordion-body">
           <ol start="1">
            <LI >Diseñar, analizar y construir equipos y/o sistemas electrónicos para la solución de problemas en el entorno profesional, aplicando normas técnicas y estándares nacionales e internacionales.
            <LI >Crear, innovar y transferir tecnología aplicando métodos y procedimientos en proyectos de ingeniería electrónica, tomando en cuenta el desarrollo sustentable del entorno.
            <LI >Promover y participar en programas de mejora continua aplicando normas de calidad en toda empresa.
            <LI >Planear, organizar, dirigir y controlar actividades de instalación, actualización, operación y mantenimiento de equipos y/o sistemas electrónicos.
            <LI >Aplicar las nuevas Tecnologías de la información y de la comunicación, para la adquisición y procesamiento de datos.
            <LI >Desarrollar y administrar proyectos de investigación y/o desarrollo tecnológico.
            <LI >Ejercer la profesión de manera responsable, ética y dentro del marco legal.
            <LI >Asumir las implicaciones de su desempeño profesional en el entorno político, social, económico y cultural.
            <LI >Comunicarse con efectividad en forma oral y escrita en el ámbito profesional tanto en su idioma como en un idioma extranjero.
            <LI >Ejercer actitudes emprendedoras, de liderazgo y desarrollar habilidades para la toma de decisiones en su ámbito profesional.
            <LI >Comprometer su formación integral permanente y de actualización profesional continua, de manera autónoma.
            <LI >Dirigir y participar en equipos de trabajo interdisciplinario y multidisciplinario en contextos nacionales e internacionales.
            <LI >Capacitar y actualizar en las diversas áreas de aplicación de ingeniería electrónica.
            <LI >Simular modelos que permitan predecir el comportamiento de sistemas electrónicos empleando plataformas computacionales.
            <LI >Seleccionar y operar equipo de medición y prueba.
            <LI >Utilizar lenguaje de descripción de hardware y programación de microcontroladores en el diseño de sistemas digitales para su aplicación en la resolución de problemas.
            <LI >Resolver problemas en el sector productivo mediante la automatización, instrumentación y control.
            <LI >Desarrollar aplicaciones en un lenguaje de programación de alto nivel para la solución de problemas relacionados con las diferentes disciplinas en el área.
            <LI >Diseñar e implementar interfaces gráficas de usuario para facilitar la interacción entre el ser humano, los equipos y sistemas electrónicos.
          </ol>
        </div>
       </div>
     </div>
     <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          Perfil Profesional
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <ul>
            <LI >Diseña, analiza, adapta, opera y construye sistemas analógicos y digitales.
            <LI >Crea, innova, adapta y transfiere tecnología en el ámbito de ingeniería electrónica mediante la aplicación de métodos y procedimientos, tomando en cuenta el desarrollo sustentable de su entorno.
            <LI >Planea, organiza, dirige y controla actividades de instalación, operación y mantenimiento de sistemas y equipo electrónico.
            <LI >Desarrolla, dirige y participa en proyectos de investigación y desarrollo tecnológico en el área de ingeniería electrónica.
            <LI >Capacita y actualiza al personal en las diversas disciplinas de ingeniería electrónica.
            <LI >Asume el compromiso de su formación integral permante y de su actualización profesional continua de manera autónoma.
            <LI >Ejerce la profesión de manera responsable, legal y ética.
            <LI >Posee los conocimientos básicos de las ciencias exactas, sociales y de humanidades, que le permite aplicar profesionalmente la ingeniería electrónica.
            <LI >Se comunica con efectividad en su ámbito profesional, tanto en su idioma como en un idioma extranjero.
            <LI >Administra proyectos relacionados con su área de manera eficaz y eficiente.
            <LI >Ejerce actitudes emprendedoras, de liderazgo y desarrolla habilidades para la toma de decisiones en su ámbito profesional.
            <LI >Comprende su entorno político, económico, social y cultural.
            <LI >Utiliza la tecnología de la información y comunicación.
            <LI >Promueve y participa en programas de mejora continua, aplicando normas de calidad.
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThr">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThr" aria-expanded="false" aria-controls="flush-collapseThr">
          Visión
        </button>
      </h2>
      <div id="flush-collapseThr" class="accordion-collapse collapse" aria-labelledby="flush-headingThr" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
            Ser la Institución de Educación Superior Tecnológica sustentable, innovadora, consolidada en el liderazgo nacional y con reconocimiento internacional en la generación y aplicación del conocimiento tecnológico, mediante la formación de calidad, la investigación, la solución de problemas tecnológicos relevantes que impulsen el desarrollo del estado y del país, a través del fortalecimiento de valores como el trabajo colaborativo con sentido humano.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTh">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTh" aria-expanded="false" aria-controls="flush-collapseTh">
          Objetivo
        </button>
      </h2>
      <div id="flush-collapseTh" class="accordion-collapse collapse" aria-labelledby="flush-headingTh" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          Planear, organizar, dirigir, ejecutar, controlar y evaluar las actividades académicas de docencia, de investigación y de vinculación de la División de Ingeniería Electrónica y Telemática, a fin de formar profesionistas con capacidad crítica y analítica.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingCua">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseCua" aria-expanded="false" aria-controls="flush-collapseCua">
          Funciones
        </button>
      </h2>
      <div id="flush-collapseCua" class="accordion-collapse collapse" aria-labelledby="flush-headingCua" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
        <P>Colaborar en el diseño y aplicación de los planes y programas de estudio de licenciatura y posgrado, cumpliendo con los requerimientos de calidad, suficiencia, vigencia y sentido de investigación.</P>
        <P>Analizar y actualizar los contenidos temáticos de los programas de estudio, incorporando los avances científicos y tecnológicos para atender las necesidades de la región.</P>
        <P>Promover y vigilar el desarrollo de programas y proyectos de investigación científica y tecnológica, sobre temas específicos de interés regional, estatal y nacional.</P>
        <P>Programar, organizar y controlar el uso de talleres, laboratorios y equipos, así como supervisar su programa de mantenimiento.</P>
        <P>Planear y establecer los horarios de clase, calendarios de exámenes, calendario de reuniones académicas, programas de residencias profesionales, tutorías y asesorías.</P>
        <P>Coadyuvar en el diseño y aplicación de instrumentos de evaluación y diagnóstico en los procesos de admisión de estudiantes.</P>
        <P>Asignar y supervisar el desarrollo de las funciones del personal docente adscrito a la División, considerando los tiempos de carga académica, actividades de investigación, de apoyo y de vinculación.</P>
        <P>Participar en la definición de los perfiles del personal académico que imparte las materias del plan de estudios de las carreras de licenciatura y posgrado de la División, así como colaborar en la formalización de su respectiva contratación.</P>
        <P>Establecer estrategias y acciones orientadas a incrementar el nivel de calidad de los servicios educativos proporcionados a los alumnos, a fin de que el proceso de enseñanza- aprendizaje mejore continuamente sus indicadores de aprovechamiento y eficiencia terminal y titulación.</P>
        <P>Coadyuvar en las acciones de titulación necesaria, conforme a lo establecido en el Reglamento correspondiente.</P>
        <P>Detectar y proponer la adquisición de bienes y servicios necesarios para la adecuada operación de los programas académicos.</P>
        <P>Integrar los órganos colegiados y conformar las comisiones necesarias para impulsar el mejor desempeño de las actividades académicas.</P>
        <P>Participar en la programación y operación de los proyectos y convenios de colaboración tecnológica vinculados con el sector productivo y social.</P>
        <P>Establecer con el Consejo Académico Departamental, las acciones o medidas correctivas académicas reglamentarias que se requieran.</P>
        <P>Desarrollar y difundir, de manera permanente, la oferta educativa del Tecnológico, con el propósito de captar aspirantes a nuevo ingreso, en coordinación con la Unidad de Relaciones Públicas y Difusión y la Unidad de Registro y Certificación.</P>
        <P>Desarrollar las demás funciones inherentes al área de su competencia.</P>

        </div>
      </div>
    </div>
   </div>
   <mat-divider></mat-divider>

 <mat-divider></mat-divider>



 <!-- Seccion de documentos; Algunas paginas contienen documentos o enlaces a los que el usuario puede acceder/descargar, si lo necesitas puedes implementarlo en cada uno de los "accordion body" cada uno de estos representa a una opcion o documento -->

 <div class="alert alert-primary d-flex align-items-center" role="alert">
   <div>
 Documentos Anexos

 <div class="accordion" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
        Triptico
      </button>
    </h2>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
      <div class="accordion-body">
       <a href="http://www.tese.edu.mx/documentos2004/2104_DYLLGZY.pdf">Ver</a>
      </div>
    </div>
  </div>
   <div class="accordion-item">
     <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
       <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
         Oferta Educativa
       </button>
     </h2>
     <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
       <div class="accordion-body">
        <a href="http://www.tese.edu.mx/documentos2004/8999_EFBFZWI.pdf">Detalles</a>
       </div>
     </div>
   </div>
   <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headinguno">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseuno" aria-expanded="false" aria-controls="panelsStayOpen-collapseuno">
        Relación de proyectos de investigación
      </button>
    </h2>
    <div id="panelsStayOpen-collapseuno" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headinguno">
      <div class="accordion-body">
       <a href="http://www.tese.edu.mx/documentos2004/3131_RRVVQZQ.pdf">Detalles</a>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingdos">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapsedos" aria-expanded="false" aria-controls="panelsStayOpen-collapsedos">
        Perfil de egreso
      </button>
    </h2>
    <div id="panelsStayOpen-collapsedos" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingdos">
      <div class="accordion-body">
       <a href="http://www.tese.edu.mx/documentos2004/6251_VERGVUK.pdf">Detalles</a>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingtres">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapsetres" aria-expanded="false" aria-controls="panelsStayOpen-collapsetres">
        Perfil de ingreso
      </button>
    </h2>
    <div id="panelsStayOpen-collapsetres" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingtres">
      <div class="accordion-body">
       <a href="http://www.tese.edu.mx/documentos2004/6251_VERGVUK.pdf">Detalles</a>
      </div>
    </div>
  </div>
 </div>


 <div class="accordion-item">
  <h2 class="accordion-header" id="panelsStayOpen-headingcero">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapsecero" aria-expanded="false" aria-controls="panelsStayOpen-collapsecero">
      Documentos Web de la carrera de Ingenieria Electronica
    </button>
  </h2>
  <div id="panelsStayOpen-collapsecero" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingcero">

<div class="accordion-item">
  <h2 class="accordion-header" id="panelsStayOpen-headingcuatro">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapsecuatro" aria-expanded="false" aria-controls="panelsStayOpen-collapsecuatro">
      Formatos Registro de Tutorías
    </button>
  </h2>
  <div id="panelsStayOpen-collapsecuatro" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingcuatro">
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingA">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseA" aria-expanded="false" aria-controls="panelsStayOpen-collapseA">
          FICHA DE IDENTIFICACION DE ALUMNAS(OS) TUTORADAS(OS)
        </button>
      </h2>
      <div id="panelsStayOpen-collapseA" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingA">
        <div class="accordion-body">
         <a href="http://www.tese.edu.mx/documentos2004/6202_JNCAKVB.doc">Detalles</a>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingB">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseB" aria-expanded="false" aria-controls="panelsStayOpen-collapseB">
          PLAN DE ACCION Y SEGUIMIENTO TUTORIAL ANEXO
        </button>
      </h2>
      <div id="panelsStayOpen-collapseB" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingB">
        <div class="accordion-body">
         <a href="http://www.tese.edu.mx/documentos2004/6203_CKWTBME.doc">Detalles</a>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingC">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseC" aria-expanded="false" aria-controls="panelsStayOpen-collapseC">
          ENCUESTA DE SATISFACCIÓN DEL SERVICIO DE TUTORIA
        </button>
      </h2>
      <div id="panelsStayOpen-collapseC" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingC">
        <div class="accordion-body">
         <a href="http://www.tese.edu.mx/documentos2004/6204_UFAAHEY.docx">Detalles</a>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingD">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseD" aria-expanded="false" aria-controls="panelsStayOpen-collapseD">
          REPORTE PARCIAL PRESENTADO POR LA (EL) TUTORA(OR)
        </button>
      </h2>
      <div id="panelsStayOpen-collapseD" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingD">
        <div class="accordion-body">
         <a href="http://www.tese.edu.mx/documentos2004/6205_JRBZMPU.doc">Detalles</a>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingE">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseE" aria-expanded="false" aria-controls="panelsStayOpen-collapseE">
          EVALUACIÓN DEL PROGRAMA DE TUTORÍAS
        </button>
      </h2>
      <div id="panelsStayOpen-collapseE" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingE">
        <div class="accordion-body">
         <a href="http://www.tese.edu.mx/documentos2004/6206_SUZGSRK.doc">Detalles</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="accordion-item">
  <h2 class="accordion-header" id="panelsStayOpen-headingcinco">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapsecinco" aria-expanded="false" aria-controls="panelsStayOpen-collapsecinco">
      Formatos Registro de Asesorías
    </button>
  </h2>
  <div id="panelsStayOpen-collapsecinco" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingcinco">
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingF">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseF" aria-expanded="false" aria-controls="panelsStayOpen-collapseF">
          REGISTRO DE ASESORIAS ACADÉMICAS
        </button>
      </h2>
      <div id="panelsStayOpen-collapseF" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingF">
        <div class="accordion-body">
         <a href="http://www.tese.edu.mx/documentos2004/6200_XUWXZTE.docx">Detalles</a>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingG">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseG" aria-expanded="false" aria-controls="panelsStayOpen-collapseG">
          CUESTIONARIO SOBRE EL DESEMPEÑO DE LA O DEL ASESOR
        </button>
      </h2>
      <div id="panelsStayOpen-collapseG" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingG">
        <div class="accordion-body">
         <a href="http://www.tese.edu.mx/documentos2004/6247_JSRLDFG.docx">Detalles</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="accordion-item">
  <h2 class="accordion-header" id="panelsStayOpen-headingseis">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseseis" aria-expanded="false" aria-controls="panelsStayOpen-collapseseis">
      Procedimientos Académicos
    </button>
  </h2>
  <div id="panelsStayOpen-collapseseis" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingseis">
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingH">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseH" aria-expanded="false" aria-controls="panelsStayOpen-collapseH">
          Asesorías
        </button>
      </h2>
      <div id="panelsStayOpen-collapseH" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingH">
        <div class="accordion-body">
         <a href="http://www.tese.edu.mx/documentos2004/6198_QEKZJTG.pdf">Detalles</a>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingI">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseI" aria-expanded="false" aria-controls="panelsStayOpen-collapseI">
          Avance Programático
        </button>
      </h2>
      <div id="panelsStayOpen-collapseI" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingI">
        <div class="accordion-body">
         <a href="http://www.tese.edu.mx/documentos2004/6196_JIVFGED.pdf">Detalles</a>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingJ">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseJ" aria-expanded="false" aria-controls="panelsStayOpen-collapseJ">
          Plan de Curso
        </button>
      </h2>
      <div id="panelsStayOpen-collapseJ" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingJ">
        <div class="accordion-body">
         <a href="http://www.tese.edu.mx/documentos2004/6192_IGFPHXS.pdf">Detalles</a>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingK">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseK" aria-expanded="false" aria-controls="panelsStayOpen-collapseK">
          Tutorías
        </button>
      </h2>
      <div id="panelsStayOpen-collapseK" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingK">
        <div class="accordion-body">
         <a href="http://www.tese.edu.mx/documentos2004/6197_JBEAHMZ.pdf">Detalles</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="accordion-item">
  <h2 class="accordion-header" id="panelsStayOpen-headingsiete">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapsesiete" aria-expanded="false" aria-controls="panelsStayOpen-collapsesiete">
      Evaluación y Acreditación de Asignaturas
    </button>
  </h2>
  <div id="panelsStayOpen-collapsesiete" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingsiete">
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingL">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseL" aria-expanded="false" aria-controls="panelsStayOpen-collapseL">
          Evaluación y Acreditación de Asignaturas
        </button>
      </h2>
      <div id="panelsStayOpen-collapseL" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingL">
        <div class="accordion-body">
         <a href="http://www.tese.edu.mx/documentos2004/5483_GQPINOY.pdf">Detalles</a>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingM">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseM" aria-expanded="false" aria-controls="panelsStayOpen-collapseM">
          Lineamiento para la Evaluación y Acreditación de Asignaturas
        </button>
      </h2>
      <div id="panelsStayOpen-collapseM" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingM">
        <div class="accordion-body">
         <a href="http://www.tese.edu.mx/documentos2004/6250_OPONQPL.pdf">Detalles</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="accordion-item">
  <h2 class="accordion-header" id="panelsStayOpen-headingN">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseN" aria-expanded="false" aria-controls="panelsStayOpen-collapseN">
      Objetivo de la Carrera
    </button>
  </h2>
  <div id="panelsStayOpen-collapseN" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingN">
    <div class="accordion-body">
     <a href="http://www.tese.edu.mx/documentos2004/5115_NQEKUER.pdf">Detalles</a>
    </div>
  </div>
</div>

<div class="accordion-item">
  <h2 class="accordion-header" id="panelsStayOpen-headingÑ">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseÑ" aria-expanded="false" aria-controls="panelsStayOpen-collapseÑ">
      Cuadro de honor
    </button>
  </h2>
  <div id="panelsStayOpen-collapseÑ" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingÑ">
    <div class="accordion-body">
     <a href="http://www.tese.edu.mx/documentos2004/6254_KLDGTHA.pdf">Detalles</a>
    </div>
  </div>
</div>

<div class="accordion-item">
  <h2 class="accordion-header" id="panelsStayOpen-headingO">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseO" aria-expanded="false" aria-controls="panelsStayOpen-collapseO">
      Cuadro de honor
    </button>
  </h2>
  <div id="panelsStayOpen-collapseO" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingO">
    <div class="accordion-body">
     <a href="http://www.tese.edu.mx/documentos2004/6254_KLDGTHA.pdf">Detalles</a>
    </div>
  </div>
</div>


  </div>
</div>


   </div>
 </div>


       </div>






         </div>




         <!-- Etiqueda de cerrado de la side nav bar, se elimina para retirar la barra de navegacion lateral -->
     </mat-drawer-content>



 </mat-drawer-container>



 <!-- Div del body, esto centra el contenido en modo web y deja fuera los mat card -->





 </div>
 </body>
