<div class="container-fluid px-0">
  <div class="row bg-dark h-100">
    <div class="col-12 px-0">
      <app-carousel [items]="carouselData"></app-carousel>
    </div>
  </div>
</div>

<mat-drawer-container class="side-container">

  <!-- Inicio de la SIDE NAV BAR; Si se desea eliminar se borrara este bloque de codigo y el final mat drawer  -->
    <mat-drawer mode="side" class="sidebar" id="side" #drawer opened>
        <mat-selection-list role="list container" [multiple]="false">
            <mat-list-option role="listitem" (click)="getId(1)">
             PERFIL DEL EGRESADO
            </mat-list-option>
            <br>
            <mat-list-option role="listitem" (click)="getId(2)">
             MATERIAS
            </mat-list-option>
            <br>
        </mat-selection-list>
    </mat-drawer>

    <mat-drawer-content class="side-content">
        <button id="arrow" type="button" mat-button (click)="drawer.toggle()" (click)="open()">
            <mat-icon id="right" class="open">arrow_forward</mat-icon>
            <mat-icon id="left">arrow_back</mat-icon>
        </button>

        <mat-divider class="divider"></mat-divider>

        <!-- Empieza el area para ingresar contenido en el panel lateral -->
        <div class="text-side" >
       <div class="box-shadow= 50px 50px;">


   <h1 class="titulo">MAESTRÍA EN CIENCIAS INGENIERÍA BIOQUÍMICA</h1>
    <div *ngIf = "op">
      <!-- Breadcrumb, ayuda a que el sitio sea mas agil y el usuario sepa en donde esta localizado, hacia donde puede ir y que paginas le anteceden -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
       <li class="breadcrumb-item active" aria-current="page">Egresados y Exalumnos</li>
       <li class="breadcrumb-item"><a routerLink="/egresadosyexalumnos">Posgrados</a></li>
       <li class="breadcrumb-item active" aria-current="page">MaestriaIngenieriaBioquimica</li>
      </ol>
    </nav>

     <div class="cards">
       <div class="card-body">
        <h4 class="card-title"><div class="Titulo2">CONCEPTOS GENERALES</div></h4>
         <p class="card-text"> La producción biotecnológica dio origen a diversos productos al mercado como
           fermentados, yogures, antibióticos, hormonas, vitaminas, algunos precursores de medicamentos,
           bebidas alcohólicas entre otros. La ingeniería bioquímica es el medio de que los procesos de laboratorio
           son comprendidos con el fin de llevarlo a un nivel de escala industrial.
         </p>
        <br>
       </div>
     </div>

     <div class="cards">
      <div class="card-body">
       <h4 class="card-title"><div class="Titulo2">OBJETIVO</div></h4>
        <p class="card-text"> Formar profesionistas de la ingeniería con alta calidad académica para desarrollas
          aspectos de la bioquímica y fomentar la aplicación de las investigaciones en este campo, de tal forma
          que se optimicen los recursos humanos y materiales.
        </p>
        <br>
      </div>
    </div>

    <div class="cards">
      <div class="card-body">
       <h4 class="card-title"><div class="Titulo2">AREAS DE INVESTIGACIÓN</div></h4>
       <p class="card-text">Alimentos.</p>
       <p class="card-text">Ingeniería ambiental.</p>
       <p class="card-text">Biotecnología.</p>
        <br>
      </div>
    </div>
     </div>


   <div *ngIf = "op2">
     <!-- Breadcrumb, ayuda a que el sitio sea mas agil y el usuario sepa en donde esta localizado, hacia donde puede ir y que paginas le anteceden -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
       <li class="breadcrumb-item active" aria-current="page">Egresados y Exalumnos</li>
       <li class="breadcrumb-item"><a href="/egresadosyexalumnos">Posgrados</a></li>
       <li class="breadcrumb-item"><a href="/Mbioquimica">MaestriaIngenieriaBioquimica</a></li>
      </ol>
    </nav>
     <div class="cards">
       <div class="card-body">
         <h4 class="card-title"><div class="Titulo2">PERFIL DEL EGRESADO</div></h4>
         <div class="row row-cols-1 row-cols-md-2 g-1">
          <div class="col">
            <p class="card-text">El egresado de esta maestría adquirirá las competencias para:<BR></p>
           <UL>
             <LI>Generar conocimientos científicos y tecnológicos a través del planteamiento y desarrollo de trabajos de investigación aplicando metodologías de investigación experimental.</LI>
             <LI>Incorporarse y participar en trabajos de investigación y en el desarrollo científico y tecnológico del país, aplicando sus conocimientos y las metodologías necesarias, de forma original e innovadora.</LI>
             <LI>Detectar y analizar problemas de relevancia en procesos productivos, planteando alternativas de solución originales e innovadoras.</LI>
             <LI>Participar en actividades docentes a nivel de licenciatura y posgrado en instituciones de educación superior y centros de investigación.</LI>
             <LI>Incorporarse al sector industrial en las áreas de producción y de evaluación y control de la calidad de los procesos y productos.</LI>
             <LI>Innovar, mejorar, optimizar y asimilar tecnologías y procesos industriales.</LI>
           </UL>
         <BR>
         <BR>
          </div>
          <div class="col">
            <div class="card">
              <img src="../../../../../assets/IMAGENES_EGRESADOS/GRADUATION1.jpg" class="card-img-top">
            </div>
          </div>
          </div>
          </div>
          </div>
          </div>


    <div *ngIf = "op3">
    <!-- Breadcrumb, ayuda a que el sitio sea mas agil y el usuario sepa en donde esta localizado, hacia donde puede ir y que paginas le anteceden -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
       <li class="breadcrumb-item active" aria-current="page">Egresados y Exalumnos</li>
       <li class="breadcrumb-item"><a href="/egresadosyexalumnos">Posgrados</a></li>
       <li class="breadcrumb-item"><a href="/Mbioquimica">MaestriaIngenieriaBioquimica</a></li>
      </ol>
    </nav>
    <h4 class="card-title"><div class="Titulo2">MATERIAS</div></h4>

      <div class="row row-cols-1 row-cols-md-2 g-2">
        <div class="col">
          <div class="cards">
            <div class="card-body">
              <h4 class="card-title"><div class="Titulo2">BASICAS</div></h4>
              <ul>
                <li>Bioquímica.</li>
                <li>Diseño estadístico de experimentos.</li>
                <li>Ingeniería bioquímica.</li>
                <li>Metodología de la investigación.</li>
                <li>Microbiología aplicada.</li>
                <li>Técnicas analíticas.</li>
              </ul>
              <BR>
              <BR>
            </div>
          </div>
          </div>

          <div class="col">
            <div class="cards">
              <div class="card-body">
                <h4 class="card-title"><div class="Titulo2">OPTATIVAS</div></h4>
                <ul>
                  <li>Alimentos funcionales y nutracéuticos.</li>
                  <li>Biocombustibles.</li>
                  <li>Biología molecular.</li>
                  <li>Bioprocesos.</li>
                  <li>Bioquímica microbiana.</li>
                  <li>Bioquímica nutricional.</li>
                  <li>Bioseparaciones.</li>
                  <li>Biotecnología ambiental.</li>
                  <li>Biotecnología industrial.</li>
                  <li>Desarrollo de nuevos productos.</li>
                  <li>Enzimología.</li>
                  <li>Fisicoquímica de alimentos.</li>
                  <li>Ingeniería de alimentos.</li>
                  <li>Ingeniería de bioreactores.</li>
                  <li>Ingeniería genética.</li>
                  <li>Ingeniería de procesos.</li>
                  <li>Ingeniería metabólica.</li>
                  <li>Innovación tecnológica de alimentos y biotecnología.</li>
                  <li>Mecanismos de desarrollo limpio</li>
                  <li>Microbiología de alimentos.</li>
                  <li>Termodinámica estadística.</li>
                  <li>Optimización y simulación de procesos.</li>
                  <li>Química de alimentos.</li>
                  <li>Química de productos naturales.</li>
                  <li>Tecnología de alimentos balanceados.</li>
                  <li>Tecnología de alimentos de origen animal</li>
                  <li>Tecnología de alimentos de origen vegetal</li>
                  <li>Tecnología de fermentaciones</li>
                  <li>Transferencia de calor y masa</li>
                  <li>Tratamiento y disposición de residuos sólidos</li>
                  <li>Tratamiento de aguas residuales</li>
                  <li>Toxicología de alimentos</li>
                </ul>
              </div>
            </div>
            </div>
        </div>
      </div>

  <mat-divider></mat-divider>

   </div>


 <!--<div class="card">
   <div class="card-body">
     <h4 class="card-title"><div class="Titulo2">Acerca de:</div></h4>
     <p class="card-text"> Es el trámite que realizan los y las egresados(as) de esta Institución para la obtención de su Título y Cédula Profesional>, para ello deberán llevar a cabo en la jefatura de su división correspondiente la acreditación de alguna de las opciones de Titulación establecidas en el Reglamento respetivo y posteriormente presentar la documentación solicitada en la Oficina de Titulación.

       <br>
       <br>
     </p>
   </div>
 </div>

 <mat-divider></mat-divider>-->

     </div>



       <!-- Etiqueda de cerrado de la side nav bar, se elimina para retirar la barra de navegacion lateral -->
   </mat-drawer-content>


</mat-drawer-container>
