<!-- Empieza el area para ingresar contenido en el panel lateral -->
<div class="text-side" >
  <div class="box-shadow= 50px 50px;">

  <!-- BANNER -->
  <div class="container-fluid px-0">
    <div class="row bg-dark h-100">
      <div class="col-12 px-0">
      <app-carousel-carreras [items]="carouselData"></app-carousel-carreras>
      </div>
    </div>
  </div>


    <!-- Breadcrumb, ayuda a que el sitio sea mas agil y el usuario sepa en donde esta localizado, hacia donde puede ir y que paginas le anteceden -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
       <li class="breadcrumb-item active" aria-current="page">Egresados y Exalumnos</li>
       <li class="breadcrumb-item"><a routerLink="/egresadosyexalumnos">Posgrados</a></li>
       <li class="breadcrumb-item active" aria-current="page">MaestriaIngenieriaBioquimica</li>
      </ol>
    </nav>

    <h1 class="titulo">
      <div *ngFor="let item of items | async">
        {{item.BioquimicaTitulo}}
      </div>
     </h1>

     <div class="cards">
        <div class="card-body" style="background-color:#E3E3E3; text-align: center;">
          <h4 class="card-title"><div class="Titulo2">
            <div *ngFor="let item of items | async">
              {{item.ConceptosGenerales}}
            </div>
          </div></h4>
         <p class="card-text">
           <div *ngFor="let item of items | async">
          {{item.BioquimicaGenerales}}
        </div>
        <br>
       </div>
     </div>

     <div class="cards">
      <div class="card-body" style="text-align: center;">
       <h4 class="card-title"><div class="Titulo2"><div *ngFor="let item of items | async">
        {{item.Objetivo}}
      </div></div></h4>
        <p class="card-text">
          <div *ngFor="let item of items | async">
            {{item.BioquimicaObjetivo}}
          </div>
        <br>
      </div>
    </div>

    <div class="cards">
      <div class="card-body" style="text-align: center;">
       <h4 class="card-title"><div class="Titulo2"><div *ngFor="let item of items | async">
        {{item.CampoAccion}}
      </div></div></h4>
        <p class="card-text">
          <div *ngFor="let item of items | async">
            {{item.BioquimicaCampo}}
          </div>
        <br>
      </div>
    </div>

      <div class="accordion accordion-flush" id="accordionFlushExample">

        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              <h4 class="card-title"><div class="subtitulo">
                <div *ngFor="let item of items | async">
                  {{item.PerfilEgresado}}
                </div>
              </div></h4>
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body" style="text-align: justify;">
              <div class="row row-cols-1 row-cols-md-2 g-1">
                <div class="col">
                  <p class="card-text">
                    <div *ngFor="let item of items | async">
                      {{item.BioquimicaPerfil}}
                    </div>
                    <BR>
                 <ul>
                   <li>
                    <div *ngFor="let item of items | async">
                      {{item.BioquimicaPerfilop1}}
                    </div>
                   </li>
                   <li>
                      <div *ngFor="let item of items | async">
                      {{item.BioquimicaPerfilop2}}
                    </div>
                   </li>
                   <li>
                      <div *ngFor="let item of items | async">
                      {{item.BioquimicaPerfilop3}}
                    </div>
                   </li>
                   <li>
                      <div *ngFor="let item of items | async">
                      {{item.BioquimicaPerfilop4}}
                    </div>
                   </li>
                   <li>
                      <div *ngFor="let item of items | async">
                      {{item.BioquimicaPerfilop5}}
                    </div>
                   </li>
                   <li>
                      <div *ngFor="let item of items | async">
                      {{item.BioquimicaPerfilop6}}
                    </div>
                   </li>
                 </ul>
                </div>
                <div class="col">
                  <div class="card">
                    <img src="https://firebasestorage.googleapis.com/v0/b/app-tese.appspot.com/o/EgresadosYExalumnos%2FMBioquimica%2FBioquimicaPerfil.jpg?alt=media&token=85808ff3-91a6-4b4d-9e23-b52e4913c15d" class="card-img-top">
                  </div>
                </div>
                </div>
        </div>
        <br>
        <br>
        </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              <h4 class="card-title"><div class="subtitulo">
                <div *ngFor="let item of items | async">
                  {{item.Materias}}
                </div>
              </div></h4>
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">

              <div class="row row-cols-1 row-cols-md-2 g-2">
                <div class="col">
                  <div class="cards">
                    <div class="card-body">
                      <h4 class="card-title"><div class="Titulo2">
                        <div *ngFor="let item of items | async">
                          {{item.Basicas}}
                        </div>
                      </div></h4>
                      <ul>
                        <div *ngFor="let materiasbasicas of materiasB | async">
                          <li>{{materiasbasicas.BioquimicaMateriaBasica}}</li>
                        </div>
                      </ul>
                      <br>
                      <br>
                    </div>
                  </div>
                  </div>

                  <div class="col">
                    <div class="cards">
                      <div class="card-body">
                        <h4 class="card-title"><div class="Titulo2">
                          <div *ngFor="let item of items | async">
                            {{item.Optativas}}
                          </div>
                        </div></h4>
                        <ul>
                          <div *ngFor="let materiasoptativas of materiasO | async">
                            <li>{{materiasoptativas.BioquimicaMateriaOptativa}}</li>
                          </div>
                        </ul>
                      </div>
                    </div>
                    </div>
                </div>

            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              <h4 class="card-title"><div class="subtitulo">
                <div *ngFor="let item of items | async">
                  {{item.Areas}}
                </div>
              </div></h4>
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body" style="text-align: center;">
              <ul style="list-style-type: none;">
              <li>
                <div *ngFor="let item of items | async">
                  {{item.BioquimicaAreasop1}}
                </div>
              </li>
              <li>
                <div *ngFor="let item of items | async">
                  {{item.BioquimicaAreasop2}}
                </div>
              </li>
              <li>
                <div *ngFor="let item of items | async">
                  {{item.BioquimicaAreasop3}}
                </div>
              </li>
            </ul>
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
