<div class="container-fluid">
  <mat-drawer-container class="side-container">
    <!-- Inicio de la SIDE NAV BAR; Si se desea eliminar se borrara este bloque de codigo y el final mat drawer  -->

      <mat-divider class="divider"></mat-divider>

      <!-- Empieza el area para ingresar contenido en el panel lateral -->
      <div class="text-side">
        <div class="box-shadow= 50px 50px;">

          <!-- Breadcrumb, ayuda a que el sitio sea mas agil y el usuario sepa en donde esta localizado, hacia donde puede ir y que paginas le anteceden -->
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="home">Home</a></li>

              <li class="breadcrumb-item active" aria-current="page">Admision Y trramites </li>
            </ol>
          </nav>

          <!-- Carrousel dentro de la pagina; de no ser necesario puede ser
eliminado sin ningun problema: Para la implementacion en tu componente tendras que realizar las importaciones necesarias en el ts; ir al archivo para mas informacion -->
          <app-carousel [items]="carouselData"></app-carousel>

          <h1 class="titulo">Admision Y Tramites</h1>

          <div class="card">
            <div class="card-body">
              <h4 class="card-title">
                <div class="Titulo2">Acerca de: </div>
              </h4>
              <br class="card-text" font-weight="bold"> <span STYLE="font-size:large;color:#414141; text-align: justify;">
               Seccion enfocada a los diversos tramites que se realizan en la institucion, estos tienen que ver con nuevos solicitantes como podria ser la admision de estos, y ademas tramites enfocados a estudiantes que ya estan involucrados en la institucion educativa<br><br>

               </span>

                <br>
                <br>
                <mat-divider></mat-divider>


            </div>
          </div>
    <!-- Seccion de "carrousel", donde se puede enlazar a otras cosas que quiza no consideren poner una sidebar -->




    <mat-divider></mat-divider>
          <mat-divider></mat-divider>


          <div class="card mb-3">
            <img src="../../../../assets/images/admisionytramitesimg/admisionytramites/inscripcion.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="subtitulo">Inscripcion</h5>
              <p class="card-text">Nuestro modelo educativo, activa y potencializa tus capacidades de innovación y te permite no sólo mantenerte vigente, si no ser un agente de cambio en tiempos sin precedentes, en la que la educación está experimentando una transformación completa.<br><a href="inscripcion" class="btn btn-primary">Acceder</a> </p>
              <mat-divider></mat-divider>


            </div>
          </div>

          <mat-divider></mat-divider>
          <mat-divider></mat-divider>
          <hr>

          <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../../../../assets/images/admisionytramitesimg/admisionytramites/carou1.jpeg" class="card-img-top" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../../../../assets/images/admisionytramitesimg/admisionytramites/carou2.jpeg" class="card-img-top" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../../../../assets/images/admisionytramitesimg/admisionytramites/carou3.jpeg" class="card-img-top" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>


          <mat-divider></mat-divider>
          <mat-divider></mat-divider>
          <hr>

          <div class="card mb-3">
            <img src="../../../../assets/images/admisionytramitesimg/reinscripcion/rein2.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="subtitulo">Reinscripcion</h5>
              <p class="card-text">Nuestro modelo educativo, activa y potencializa tus capacidades de innovación y te permite no sólo mantenerte vigente, si no ser un agente de cambio en tiempos sin precedentes, en la que la educación está experimentando una transformación completa.<br><a href="reinscripcion" class="btn btn-primary">Acceder</a> </p>
              <mat-divider></mat-divider>

              <mat-divider></mat-divider>

            </div>
          </div>

          <div class="card mb-3">
            <img src="../../../../assets/images/admisionytramitesimg/admisionytramites/becas.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="subtitulo">Becas</h5>
              <p class="card-text">   Nuestro modelo educativo desarrolla las competencias que te permitirán enfrentar los retos actuales y futuros. Tus profesores te retarán continua y deliberadamente a plantear y resolver problemas para forjar en ti la persona que estás llamada a ser.

                Descubre nuestras becas y préstamos educativos para llevar tu talento al siguiente nivel.<br><a href="becas" class="btn btn-primary">Acceder</a> </p>
              <mat-divider></mat-divider>





            </div>
          </div>

          <div class="card mb-3">
            <img src="../../../../assets/images/admisionytramitesimg/admisionytramites/cursos.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="subtitulo">Cursos</h5>
              <p class="card-text">En el Tecnologico de Estudios Superiores de Ecatepec tendrás la oportunidad de elegir el programa académico que te permitirá vivir una experiencia única que contribuirá a forjar tu camino en el mundo.

                Conoce también las opciones de apoyo económico que tenemos para impulsar tu propósito de vida.<br><a href="cursos" class="btn btn-primary">Acceder</a> </p>
              <mat-divider></mat-divider>


            </div>
          </div>

          <div class="card mb-3">
            <img src="../../../../assets/images/admisionytramitesimg/admisionytramites/TITULACION.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="subtitulo">Titulacion</h5>
              <p class="card-text">
                En este apartado tendrán la oportunidad de ver la descripción de las  opciones de titulación disponibles.<br><a href="titulacion" class="btn btn-primary">Acceder</a> </p>
              <mat-divider></mat-divider>

            </div>
          </div>

          <div class="card mb-3">
            <img src="../../../../assets/images/admisionytramitesimg/admisionytramites/serviciosocial.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="subtitulo">Servicio Social</h5>
              <p class="card-text">El Servicio Social es la actividad profesional a través de cuya práctica, el universitario participa en la sociedad, identificando problemáticas y coadyuvando a su solución. A través del servicio social se trabaja para impulsar las condiciones necesarias que fomentan la formación integral de los universitarios, en el marco de respeto a los derechos humanos, sociales y de los pueblos, así como el desarrollo sustentable, tal y como lo marca el objeto de nuestro Modelo Universitario. <br><a href="serviciosocial" class="btn btn-primary">Acceder</a>
              </p>
              <mat-divider></mat-divider>

            </div>
          </div>


<!-- zS -->



</div>
        </div>

      <!-- Etiqueda de cerrado de la side nav bar, se elimina para retirar la barra de navegacion lateral -->

  </mat-drawer-container>
</div>
