<div class="text-side" >
  <div class="box-shadow= 50px 50px;">

      <h1 class="titulo">
        PANEL QUIMICA
      </h1>

      <div class="card">
        <div class="card-body">
          <span *ngIf="submitted && createConcepto" class="badge badge-danger">SE DEBEN LLENAR TODOS LOS CAMPOS</span>
          <form class="mt-1" [formGroup]="createConcepto" (ngSubmit)="agregarConcepto()">
            <input type="text" class="form-control form-control-lg" formControlName="ConceptosMQuimica"
                placeholder="Conceptos*">
            <input type="text" class="form-control form-control-lg mt-3" formControlName="ConceptosMQuimicaDesc"
                placeholder="Conceptos Generales*">

            <div class="text-center">
              <button type="submit" class="btn btn-danger btn-lg mt-5 mr-3">CANCELAR</button>
              <button type="submit" class="btn btn-success btn-lg mt-5 ">AGREGAR</button>
            </div>


          </form>
        </div>

      </div>







  </div>
</div>
