<app-menu></app-menu>
<body>

  <div class="container-fluid" >




 <mat-drawer-container class="side-container">





     <mat-drawer-content class="side-content">

         <mat-divider class="divider"></mat-divider>

         <!-- Empieza el area para ingresar contenido en el panel lateral -->
         <div class="text-side" >
 <div class="box-shadow= 50px 50px;">





   <!-- Breadcrumb, ayuda a que el sitio sea mas agil y el usuario sepa en donde esta localizado, hacia donde puede ir y que paginas le anteceden -->
   <nav aria-label="breadcrumb">
     <ol class="breadcrumb">
       <li class="breadcrumb-item"><a href="/">Home</a></li>
       <li class="breadcrumb-item"><a href="/Carreras">Carreras</a></li>
     </ol>
   </nav>

   <h1 class="titulo">CARRERAS TESE
   </h1>


   <div class="card">
     <div class="card-body">
       <h4 class="card-title"><div class="Titulo2">División Academica</div></h4>
       <p class="card-text"> breve descripcion

         <br>
         <br>
       </p>
     </div>
   </div>

   <mat-divider></mat-divider>


   <div class="accordion accordion-flush" id="accordionFlushExample">
     <div class="accordion-item">
       <h2 class="accordion-header" id="flush-headingOne">
         <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Misión de la División Académica
         </button>
       </h2>
       <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
         <div class="accordion-body">Coordinar y supervisar el desarrollo de actividades de docencia e investigación a cargo de las Divisiones Académicas para proporcionar a los estudiantes educación superior tecnológica de calidad con el objeto de formar profesionales competitivos capaces de guiarse con éxito en los sectores productivo, social y de servicios.</div>
       </div>
     </div>
     <div class="accordion-item">
       <h2 class="accordion-header" id="flush-headingTwo">
         <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          Visión de la División Académica
         </button>
       </h2>
       <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
         <div class="accordion-body">La Dirección Académica del Tecnológico de Estudios Superiores de Ecatepec será un área de excelencia que a través de las Divisiones Académicas permitirá generación, transmisión y aplicación del conocimiento científico, humanístico y tecnológico capaz de garantizar programas académicos y de investigación acreditados, vinculados con la sociedad y el sector productivo, dando una formación con valores cívicos y éticos y desarrollando habilidades intelectuales y competencias profesionales, con el objetivo de que los egresados sean competitivos a nivel nacional e internacional.</div>
       </div>
     </div>
   </div>
   <mat-divider></mat-divider>


   <div class="card">
     <div class="card-body" >

      <span class="text-center">
       <div class="subtitulo">Texto central</div>

      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus aspernatur aliquid rem consectetur quam veniam, ab doloremque id ullam in modi sit. Dolore beatae tempora similique atque esse placeat nam?
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse voluptatem quo animi pariatur eaque veritatis voluptate, expedita enim accusantium aliquid molestiae libero, mollitia voluptatibus ipsa assumenda facere ut sint at!lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam illum quia consequuntur nihil asperiores repellat odio nesciunt illo, quo cum a amet dolorum esse facere! Adipisci quis dolore nemo voluptas? Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur quo modi quisquam iusto saepe accusamus odit, corrupti velit suscipit similique expedita. Ullam praesentium libero earum! Beatae deserunt molestias quia ad!



     </span>
     </div>
   </div>

 <mat-divider></mat-divider>



 <!-- Seccion de documentos; Algunas paginas contienen documentos o enlaces a los que el usuario puede acceder/descargar, si lo necesitas puedes implementarlo en cada uno de los "accordion body" cada uno de estos representa a una opcion o documento -->

 <div class="alert alert-primary d-flex align-items-center" role="alert">
   <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
     <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
   </svg>
   <div>
 Documentos Anexos

 <div class="accordion" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
        Calendario de Admisión de aspirantes
      </button>
    </h2>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
      <div class="accordion-body">
       <a href="http://www.tese.edu.mx/documentos2004/6592_HUORPEL.doc">Descargar</a>
      </div>
    </div>
  </div>
    <div class="accordion-item">
     <h2 class="accordion-header" id="panelsStayOpen-headingOne">
       <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
         Calendario Escolar 2018-2019
       </button>
     </h2>
     <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
       <div class="accordion-body">
         <mat-card-content>
         </mat-card-content>
         <mat-card-actions style="margin-right: auto; font-size: 8pt;">
          <a  href="javascript:void(window.open('loader_gallery.aspx?n=WT4KU0OLOZ&i_d=0','popup','toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,width=600,resizable=yes,height=500,top=50,left=50'))" class="enlace-pdf" mat-button>
            <img id="imagen1" src="./../../../../../assets/images/Carreras/Calendario.jpg">
          </a>

         </mat-card-actions>
       </div>
     </div>
   </div>
   <div class="accordion-item">
     <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
       <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
         Programa Academico
       </button>
     </h2>
     <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
       <div class="accordion-body">
        <a href="https://www.tecnm.mx/academica/normateca-de-la-direcion-de-docencia">Detalles</a>
       </div>
     </div>
   </div>
 </div>
   </div>
 </div>


       </div>






         </div>




         <!-- Etiqueda de cerrado de la side nav bar, se elimina para retirar la barra de navegacion lateral -->
     </mat-drawer-content>



 </mat-drawer-container>



 <!-- Div del body, esto centra el contenido en modo web y deja fuera los mat card -->





 </div>
 </body>
