<div class="container-fluid px-0">
  <div class="row bg-dark h-100">
    <div class="col-12 px-0">
      <app-carousel [items]="carouselData"></app-carousel>
    </div>
  </div>
</div>

<mat-drawer-container class="side-container">

  <!-- Inicio de la SIDE NAV BAR; Si se desea eliminar se borrara este bloque de codigo y el final mat drawer  -->
    <mat-drawer mode="side" class="sidebar" id="side" #drawer opened>
        <mat-selection-list role="list container" [multiple]="false">
            <mat-list-option role="listitem" (click)="getId(1)">
             PERFIL DEL EGRESADO
            </mat-list-option>
            <br>
            <mat-list-option role="listitem" (click)="getId(2)">
             PLAN DE ESTUDIOS VIGENTE
            </mat-list-option>
            <br>
        </mat-selection-list>
    </mat-drawer>

    <mat-drawer-content class="side-content">
        <button id="arrow" type="button" mat-button (click)="drawer.toggle()" (click)="open()">
            <mat-icon id="right" class="open">arrow_forward</mat-icon>
            <mat-icon id="left">arrow_back</mat-icon>
        </button>

        <mat-divider class="divider"></mat-divider>

        <!-- Empieza el area para ingresar contenido en el panel lateral -->
        <div class="text-side" >
       <div class="box-shadow= 50px 50px;">


   <h1 class="titulo">MAESTRÍA EN CIENCIAS INGENIERÍA MECATRÓNICA</h1>
    <div *ngIf = "op">
      <!-- Breadcrumb, ayuda a que el sitio sea mas agil y el usuario sepa en donde esta localizado, hacia donde puede ir y que paginas le anteceden -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
       <li class="breadcrumb-item active" aria-current="page">Egresados y Exalumnos</li>
       <li class="breadcrumb-item"><a routerLink="/egresadosyexalumnos">Posgrados</a></li>
       <li class="breadcrumb-item active" aria-current="page">MaestriaIngenieriaMecatronicaa</li>
      </ol>
    </nav>

     <div class="cards">
       <div class="card-body">
        <h4 class="card-title"><div class="Titulo2">CONCEPTOS GENERALES</div></h4>
         <p class="card-text"> En este campo se diseñan e implementan procesos eficientes y automatizados.
           <BR>La industria metal-mecánica, la automotriz, la aeronáutica, el diseño y desarrollo de equipos
            de rehabilitación, y aquellas dónde se haga uso de la robótica, control y automatización,
            telecomunicaciones y sistemas informáticos requiere de profesionales altamente preparados
            en dichos campos.
         </p>
        <br>
       </div>
     </div>

     <div class="cards">
      <div class="card-body">
       <h4 class="card-title"><div class="Titulo2">OBJETIVO</div></h4>
        <p class="card-text"> Satisfacer las necesidades que se presentan en el sector productivo en un entorno
          cada vez más cambiante, competitivo, tecnológico y globalizado que enfrenta la industrialización del
          siglo XXI. Proporcionar al graduado una formación académica y profesional con conocimientos científicos
          y técnicos especializados para la solución de problemas complejos.
        </p>
        <br>
      </div>
    </div>

    <div class="cards">
      <div class="card-body">
       <h4 class="card-title"><div class="Titulo2">AREAS DE INVESTIGACIÓN</div></h4>
       <p class="card-text">Energías renovables.</p>
       <p class="card-text">Energías no renovables.</p>
       <p class="card-text">Maquinarias y procesos industriales.</p>
        <br>
      </div>
    </div>
     </div>


   <div *ngIf = "op2">
     <!-- Breadcrumb, ayuda a que el sitio sea mas agil y el usuario sepa en donde esta localizado, hacia donde puede ir y que paginas le anteceden -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
       <li class="breadcrumb-item active" aria-current="page">Egresados y Exalumnos</li>
       <li class="breadcrumb-item"><a href="/egresadosyexalumnos">Posgrados</a></li>
       <li class="breadcrumb-item"><a href="/Mmecatronica">MaestriaIngenieriaMecatronica</a></li>
      </ol>
    </nav>
     <div class="cards">
       <div class="card-body">
         <h4 class="card-title"><div class="Titulo2">PERFIL DEL EGRESADO</div></h4>

            <p class="card-text">El plan de estudios de la maestría busca que los egresados tengan un dominio
              amplio en el área del conocimiento de Ingeniería Mecatrónica. Asimismo, generar en él, la habilidad
              de integrar los conocimientos de las ingenierías: mecánica, de precisión, electrónica, control
              automático y procesamiento de la información.<BR></p>

            <p class="card-text">Una preparación multidisciplinaria que le permitirá la aplicación de sus conocimientos en las diferentes áreas de la ingeniería, facultándolo en habilidades como:<br></p>

           <UL>
             <LI>Innovar tecnologías existentes y comprender tecnologías emergentes y con ello estar en capacidad de resolver los problemas de ingeniería que se le presenten.</LI>
             <LI>Trabajar eficazmente en áreas que estén soportadas por diferentes disciplinas, proponiendo sistemas cuyo diseño haga uso óptimo de tecnologías desde el punto de vista de operatividad y de recursos económicos.</LI>
             <LI>Contemplar ampliamente los aspectos de mercado, servicios y de relación costo-beneficio.</LI>
             <LI>Conocimientos de mecánica, control de sistemas, computación, electrónica mecánica y electricidad como un Ingeniero compenetrado en las tecnologías actuales, como es el caso del diseño de sistemas electromecánicos inteligentes.</LI>
             <LI>Identificar la información técnica relacionada con la Mecatrónica y aplicarla en posibles innovaciones dentro de los problemas que se le presenten durante su desempeño profesional.</LI>
           </UL>
         <BR>
         <BR>
          </div>

          </div>
          </div>


    <div *ngIf = "op3">
    <!-- Breadcrumb, ayuda a que el sitio sea mas agil y el usuario sepa en donde esta localizado, hacia donde puede ir y que paginas le anteceden -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
       <li class="breadcrumb-item active" aria-current="page">Egresados y Exalumnos</li>
       <li class="breadcrumb-item"><a href="/egresadosyexalumnos">Posgrados</a></li>
       <li class="breadcrumb-item"><a href="/Mmecatronica">MaestriaIngenieriaMecatronica</a></li>
      </ol>
    </nav>
    <h4 class="card-title"><div class="Titulo2">PLAN DE ESTUDIOS VIGENTE</div></h4>

      <div class="row row-cols-1 row-cols-md-2 g-2">
        <div class="col">
          <div class="cards">
            <div class="card-body">
              <p class="card-text">El plan de estudios de la Maestría en Ciencias en Ingeniería Mecatrónica tiene 90 créditos totales distribuidos de la siguiente manera: </p>
              <ul>
                <li>42 créditos de asignaturas básicas obligatorias (46.66%)</li>
                <li>5 créditos de seminarios de investigación (5.55%)</li>
                <li>18 créditos de asignaturas optativas (20%)</li>
                <li>25 créditos de la tesis (27.77%)</li>
              </ul>
              <BR>
              <BR>
            </div>
          </div>
          </div>


            <div class="col">
              <div class="card">
                <img src="../../../../../assets/IMAGENES_EGRESADOS/EGRESADOS_M.jpg" class="card-img-top">
              </div>
            </div>

        </div>
      </div>

  <mat-divider></mat-divider>

   </div>


 <!--<div class="card">
   <div class="card-body">
     <h4 class="card-title"><div class="Titulo2">Acerca de:</div></h4>
     <p class="card-text"> Es el trámite que realizan los y las egresados(as) de esta Institución para la obtención de su Título y Cédula Profesional>, para ello deberán llevar a cabo en la jefatura de su división correspondiente la acreditación de alguna de las opciones de Titulación establecidas en el Reglamento respetivo y posteriormente presentar la documentación solicitada en la Oficina de Titulación.

       <br>
       <br>
     </p>
   </div>
 </div>

 <mat-divider></mat-divider>-->

     </div>



       <!-- Etiqueda de cerrado de la side nav bar, se elimina para retirar la barra de navegacion lateral -->
   </mat-drawer-content>


</mat-drawer-container>
