  <!-- Empieza el area para ingresar contenido en el panel lateral -->
        <div class="text-side" >
       <div class="box-shadow= 50px 50px;">

        <!-- BANNER-->
        <div class="container-fluid px-0">
          <div class="row bg-dark h-100">
            <div class="col-12 px-0">
              <app-carousel-carreras [items]="carouselData"></app-carousel-carreras>
            </div>
          </div>
        </div>


   <h1 class="titulo">MAESTRÍA EN CIENCIAS INGENIERÍA MECATRÓNICA</h1>
      <!-- Breadcrumb, ayuda a que el sitio sea mas agil y el usuario sepa en donde esta localizado, hacia donde puede ir y que paginas le anteceden -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
       <li class="breadcrumb-item active" aria-current="page">Egresados y Exalumnos</li>
       <li class="breadcrumb-item"><a routerLink="/egresadosyexalumnos">Posgrados</a></li>
       <li class="breadcrumb-item active" aria-current="page">MaestríaIngenieríaMecatrónica</li>
      </ol>
    </nav>

    <div class="cards">
      <div class="card-body" style="background-color:#C0C0C0; text-align: center;">
        <h4 class="card-title"><div class="Titulo2">CONCEPTOS GENERALES</div></h4>
         <p class="card-text"> En este campo se diseñan e implementan procesos eficientes y automatizados.
           <BR>La industria metal-mecánica, la automotriz, la aeronáutica, el diseño y desarrollo de equipos
            de rehabilitación, y aquellas dónde se haga uso de la robótica, control y automatización,
            telecomunicaciones y sistemas informáticos requiere de profesionales altamente preparados
            en dichos campos.
         </p>
        <br>
       </div>
     </div>

     <div class="cards">
      <div class="card-body" style="text-align: center;">
       <h4 class="card-title"><div class="Titulo2">OBJETIVO</div></h4>
        <p class="card-text"> Satisfacer las necesidades que se presentan en el sector productivo en un entorno
          cada vez más cambiante, competitivo, tecnológico y globalizado que enfrenta la industrialización del
          siglo XXI. Proporcionar al graduado una formación académica y profesional con conocimientos científicos
          y técnicos especializados para la solución de problemas complejos.
        </p>
        <br>
      </div>
    </div>

      <div class="accordion accordion-flush" id="accordionFlushExample">

        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              <h4 class="card-title"><div class="subtitulo">PERFIL DEL EGRESADO</div></h4>
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p class="card-text">El plan de estudios de la maestría busca que los egresados tengan un dominio
                amplio en el área del conocimiento de Ingeniería Mecatrónica. Asimismo, generar en él, la habilidad
                de integrar los conocimientos de las ingenierías: mecánica, de precisión, electrónica, control
                automático y procesamiento de la información.<BR></p>

              <p class="card-text">Una preparación multidisciplinaria que le permitirá la aplicación de sus conocimientos en las diferentes áreas de la ingeniería, facultándolo en habilidades como:<br></p>

             <UL>
               <LI>Innovar tecnologías existentes y comprender tecnologías emergentes y con ello estar en capacidad de resolver los problemas de ingeniería que se le presenten.</LI>
               <LI>Trabajar eficazmente en áreas que estén soportadas por diferentes disciplinas, proponiendo sistemas cuyo diseño haga uso óptimo de tecnologías desde el punto de vista de operatividad y de recursos económicos.</LI>
               <LI>Contemplar ampliamente los aspectos de mercado, servicios y de relación costo-beneficio.</LI>
               <LI>Conocimientos de mecánica, control de sistemas, computación, electrónica mecánica y electricidad como un Ingeniero compenetrado en las tecnologías actuales, como es el caso del diseño de sistemas electromecánicos inteligentes.</LI>
               <LI>Identificar la información técnica relacionada con la Mecatrónica y aplicarla en posibles innovaciones dentro de los problemas que se le presenten durante su desempeño profesional.</LI>
             </UL>
           <BR>
           <BR>
        </div>
        <br>
        <br>
        </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              <h4 class="card-title"><div class="subtitulo">PLAN DE ESTUDIOS VIGENTE</div></h4>
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">

              <div class="row row-cols-1 row-cols-md-2 g-2">
                <div class="col">
                  <div class="cardS">
                    <div class="card-body">
                      <p class="card-text">El plan de estudios de la Maestría en Ciencias en Ingeniería Mecatrónica tiene 90 créditos totales distribuidos de la siguiente manera: </p>
                      <ul>
                        <li>42 créditos de asignaturas básicas obligatorias (46.66%)</li>
                        <li>5 créditos de seminarios de investigación (5.55%)</li>
                        <li>18 créditos de asignaturas optativas (20%)</li>
                        <li>25 créditos de la tesis (27.77%)</li>
                      </ul>
                      <BR>
                      <BR>
                    </div>
                  </div>
                  </div>

                    <div class="col">
                      <div class="card">
                        <img src="../../../../../assets/IMAGENES_EGRESADOS/EGRESADOS_G.jpg" class="card-img-top">
                      </div>
                    </div>
                </div>

            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              <h4 class="card-title"><div class="subtitulo">ÁREAS DE INVESTIGACIÓN</div></h4>
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body" style="text-align: center;">
              <ul style="list-style-type: none;">
              <li>Energías renovables.</li>
              <li>Energías no renovables</li>
              <li>Maquinarias y procesos industriales..</li>
            </ul>
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>





  <mat-divider></mat-divider>

   </div>
</div>
