<div class="container-fluid">
    <mat-drawer-container class="side-container">
      <!-- Inicio de la SIDE NAV BAR; Si se desea eliminar se borrara este bloque de codigo y el final mat drawer  -->
      <mat-drawer mode="side" class="sidebar" id="side" #drawer opened>
        <mat-selection-list role="list container" [multiple]="false">
            <a href="normatividad">
                <mat-list-option>
                  Normatividad
                </mat-list-option>
              </a>
              <a href="informe">
                <mat-list-option role="listitem">
                  Informe de Actividades
                </mat-list-option>
                </a>
                <a href="compromiso">
                <mat-list-option role="listitem">
                  Compromiso Social
                </mat-list-option>
                </a>
        
                <a href="politica">
                  <mat-list-option>
                    Politica del Sistema de Gestión Integral
                  </mat-list-option>
                </a>
                <a href="calendario">
                <mat-list-option role="listitem">
                   Calendario Escolar
                </mat-list-option>
                </a>
                <a href="contraloria">
                <mat-list-option role="listitem">
                  Contraloria Social
                </mat-list-option>
                </a>
      
        </mat-selection-list>
      </mat-drawer>
  
      <mat-drawer-content class="side-content">
        <button id="arrow" type="button" mat-button (click)="drawer.toggle()" (click)="open()">
          <mat-icon id="right" class="open">arrow_forward</mat-icon>
          <mat-icon id="left">arrow_back</mat-icon>
        </button>
  
        <mat-divider class="divider"></mat-divider>
  
        <!-- Empieza el area para ingresar contenido en el panel lateral -->
        <div class="text-side">
          <div class="box-shadow= 50px 50px;">
  
            <!-- Breadcrumb, ayuda a que el sitio sea mas agil y el usuario sepa en donde esta localizado, hacia donde puede ir y que paginas le anteceden -->
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="normatividad">Normatividad</a></li>
                <li class="breadcrumb-item active" aria-current="page">Informe de Actividades</li>
              </ol>
            </nav>
  
            <!-- Carrousel dentro de la pagina; de no ser necesario puede ser
  eliminado sin ningun problema: Para la implementacion en tu componente tendras que realizar las importaciones necesarias en el ts; ir al archivo para mas informacion -->
            <app-carousel [items]="carouselData"></app-carousel>
  
            <h1 class="titulo">
                Informe de Actividades</h1>
  
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">
            <div class="Titulo2">Acerca de:</div>
                </h4>
                <p class="card-text"> <b>El Director General del TESE Rinde Informe de Actividades Anuales.
                </b>
                    <br>
                    <br>
                  </p>
              </div>
            </div>
  
            <mat-divider></mat-divider>
  
            
  
            
  
            
            
            
              
            <mat-divider></mat-divider>
            <!-- Seccion de documentos; Algunas paginas contienen documentos o enlaces a los que el usuario puede acceder/descargar, si lo necesitas puedes implementarlo en cada uno de los "accordion body" cada uno de estos representa a una opcion o documento -->
          <div class="alert alert-primary d-flex align-items-center" id="acordeon" role="alert">
            <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
              class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img"
              aria-label="Warning:">
              <path
                d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
            </svg> -->
            <div>
              <h2>Documentos Anexos</h2>
              <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button accordion-color" type="button" data-bs-toggle="collapse"
                      data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                      aria-controls="panelsStayOpen-collapseOne">
                      Informe Anual de actividades 2011-2012
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                    aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                      <mat-card-content>
                      </mat-card-content>
                      <mat-card-actions style="margin-right: auto; font-size: 8pt; color: black">
                        <a  href="http://www.tese.edu.mx/documentos2004/3960_YVBJHHA.pdf" target="_blank" class="enlace-pdf"
                          mat-button><img src="../../../../assets/images/pdf.jpg" width="8%" height="8%"><br>Archivo PDF</a>

                      </mat-card-actions>
                    </div>
                  </div>
                </div>
               
               
              
  
           
         
               
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                      <button class="accordion-button accordion-color" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseTwo">
                       Informe Anual de actividades 2012-2013
                      </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show"
                      aria-labelledby="panelsStayOpen-headingtwo">
                      <div class="accordion-body">
                        <mat-card-content>
                        </mat-card-content>
                        <mat-card-actions style="margin-right: auto; font-size: 8pt;">
                          <a href="http://www.tese.edu.mx/documentos2004/3949_ZAOXTET.pdf" target="_blank" class="enlace-pdf"
                            mat-button><img src="../../../../assets/images/pdf.jpg" width="8%" height="8%"><br>Archivo PDF</a>
  
                        </mat-card-actions>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                      <button class="accordion-button accordion-color" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseThree">
                       Informe Anual de actividades 2013
                      </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show"
                      aria-labelledby="panelsStayOpen-headingthree">
                      <div class="accordion-body">
                        <mat-card-content>
                        </mat-card-content>
                        <mat-card-actions style="margin-right: auto; font-size: 8pt;">
                          <a href="http://www.tese.edu.mx/documentos2004/3950_GVOORKH.pdf" target="_blank" class="enlace-pdf"
                            mat-button><img src="../../../../assets/images/pdf.jpg" width="8%" height="8%"><br>Archivo PDF</a>
  
                        </mat-card-actions>
                      </div>
                    </div>
                  </div>
  
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                      <button class="accordion-button accordion-color" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseFour">
                       Informe Anual de actividades 2014 
                      </button>
                    </h2>
                    <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse show"
                      aria-labelledby="panelsStayOpen-headingfour">
                      <div class="accordion-body">
                        <mat-card-content>
                        </mat-card-content>
                        <mat-card-actions style="margin-right: auto; font-size: 8pt;">
                          <a href="http://www.tese.edu.mx/documentos2004/4669_JCEVOPN.pdf" target="_blank" class="enlace-pdf"
                            mat-button><img src="../../../../assets/images/pdf.jpg" width="8%" height="8%"><br>Archivo PDF</a>
  
                        </mat-card-actions>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                      <button class="accordion-button accordion-color" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseFive">
                       Informe Anual de actividades 2015
                      </button>
                    </h2>
                    <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse show"
                      aria-labelledby="panelsStayOpen-headingfive">
                      <div class="accordion-body">
                        <mat-card-content>
                        </mat-card-content>
                        <mat-card-actions style="margin-right: auto; font-size: 8pt;">
                          <a href="http://www.tese.edu.mx/documentos2004/5048_OHFITKG.pdf" target="_blank" class="enlace-pdf"
                            mat-button> <img src="../../../../assets/images/pdf.jpg" width="8%" height="8%"><br>Archivo PDF</a>
  
                        </mat-card-actions>
                      </div>
                    </div>
                  </div>

                  
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingSix">
                      <button class="accordion-button accordion-color" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseSix">
                       Informe Anual de Actividades 2016
                      </button>
                    </h2>
                    <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse show"
                      aria-labelledby="panelsStayOpen-headingsix">
                      <div class="accordion-body">
                        <mat-card-content>
                        </mat-card-content>
                        <mat-card-actions style="margin-right: auto; font-size: 8pt;">
                          <a href="http://www.tese.edu.mx/documentos2004/6166_HJBRRXX.pdf" target="_blank" class="enlace-pdf"
                            mat-button><img src="../../../../assets/images/pdf.jpg" width="8%" height="8%"><br>Archivo PDF</a>
  
                        </mat-card-actions>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingSeven">
                      <button class="accordion-button accordion-color" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseSeven" aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseSeven">
                       Informe Anual de actividades 2017 
                      </button>
                    </h2>
                    <div id="panelsStayOpen-collapseSeven" class="accordion-collapse collapse show"
                      aria-labelledby="panelsStayOpen-headingseven">
                      <div class="accordion-body">
                        <mat-card-content>
                        </mat-card-content>
                        <mat-card-actions style="margin-right: auto; font-size: 8pt;">
                          <a href="http://www.tese.edu.mx/documentos2004/9019_HTSAKCD.pdf" target="_blank" class="enlace-pdf"
                            mat-button><img src="../../../../assets/images/pdf.jpg" width="8%" height="8%"><br>Archivo PDF</a>
  
                        </mat-card-actions>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingEigth">
                      <button class="accordion-button accordion-color" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseEigth" aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseEigth">
                       Informe Anual de actividades 2019 
                      </button>
                    </h2>
                    <div id="panelsStayOpen-collapseEigth" class="accordion-collapse collapse show"
                      aria-labelledby="panelsStayOpen-headingeigth">
                      <div class="accordion-body">
                        <mat-card-content>
                        </mat-card-content>
                        <mat-card-actions style="margin-right: auto; font-size: 8pt;">
                          <a href="http://www.tese.edu.mx/documentos2004/9018_BKDJNPQ.pdf" target="_blank" class="enlace-pdf"
                            mat-button><img src="../../../../assets/images/pdf.jpg" width="8%" height="8%"><br>Archivo PDF</a>
  
                        </mat-card-actions>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingNine">
                      <button class="accordion-button accordion-color" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseNine" aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseNine">
                       Informe Anual de Actividades 2020 
                      </button>
                    </h2>
                    <div id="panelsStayOpen-collapseNine" class="accordion-collapse collapse show"
                      aria-labelledby="panelsStayOpen-headingnine">
                      <div class="accordion-body">
                        <mat-card-content>
                        </mat-card-content>
                        <mat-card-actions style="margin-right: auto; font-size: 8pt;">
                          <a href="http://www.tese.edu.mx/documentos2004/9197_DMJFDZI.pdf" target="_blank" class="enlace-pdf"
                            mat-button><img src="../../../../assets/images/pdf.jpg" width="8%" height="8%"><br>Archivo PDF</a>
  
                        </mat-card-actions>
                      </div>
                    </div>
                  </div>
  

                
              </div>
  
           </div>
            
            </div>
          </div>
        </div>
  
        <!-- Etiqueda de cerrado de la side nav bar, se elimina para retirar la barra de navegacion lateral -->
      </mat-drawer-content>
    </mat-drawer-container>
  </div>