<div>
<mat-drawer-container>

  <mat-drawer>
    <mat-selection-list>
        <a href="admin-historia">
          <mat-list-option>
            Historia
          </mat-list-option>
        </a>
        <a href="admin-mision">
          <mat-list-option role="/Logo">
            Mision Vision
          </mat-list-option>
        </a>

        <a href="admin-organigrama">
          <mat-list-option role="/Logo">
            Organigrama
          </mat-list-option>
        </a>
      </mat-selection-list>
    </mat-drawer>

    <mat-drawer-content class="side-content">
      <button id="arrow" type="button" mat-button (click)="open()">
        <mat-icon id="right" class="open">arrow_forward</mat-icon>
        <mat-icon id="left">arrow_back</mat-icon>
      </button>
      <mat-divider class="divider"></mat-divider>

    <div class="text-side">
      <div class="box-shadow= 50px 50px;">
        <nav arial-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="ubicacion-pag" href="#">Administracion</a></li>
            <li class="breadcrumb-item"><a class="ubicacion-pag" href="#">Identidad Institucional</a></li>
            <li class="breadcrumb-item active" aria-current="page">Logo</li>
          </ol>
        </nav>
      </div>
    </div>

    <h1 class="fw-bold lh-sm fs-4 shadow p-3 mb-5 bg-body rounded">Panel Administracion Logo</h1>

    <section class="lh-sm fs-4 shadow p-3 mb-5 bg-body rounded">




        <label for="exampleFormControlTextarea1" class="form-label fw-bold">CONTENIDO</label>
      <form>
      <div *ngFor="let logo_contend of contenido_logo" class="row g-3">


        <div class="col-10">
          <label for="inputAddress" class="form-label" >Posicion en Pagina : {{logo_contend.id_logo}}</label>
        </div>

        <label for="inputAddress" class="form-label" >Contenido</label>
        <div class="col-10" >
          <p class="fs-6">{{logo_contend.contenido}}</p>

        </div>

        <div class="col">
          <button (click)="eliminarContenido_Logo(logo_contend.id)" type="button" class="btn btn-danger">Eliminar</button>
        </div>




      </div>
      </form>

    <hr>

    <h1 class="fw-bold">Agregar Contenido</h1>


    <form class="" [formGroup]="ingresarContentLogo" (ngSubmit)="agregarContenido()">
    <div class="row g-3">
    <span *ngIf="submittedContLogo && ingresarContentLogo.invalid" class="alert alert-danger" >
      El campo debe tener datos para agregar contenido
    </span>

      <label for="exampleFormControlTextarea1" class="form-label ">POSICION EN PAGINA</label>
      <div class="col-2">
        <input class="form-control" placeholder="Posicion de Parrafo" id="exampleFormControlTextarea1" rows="3" type="number"
        formControlName="id_logo">
      </div>

      <label for="exampleFormControlTextarea1" class="form-label ">CONTENIDO</label>
      <div class="col-10">
        <textarea class="form-control" placeholder="Contenido" id="exampleFormControlTextarea1" rows="3"
        formControlName="contenido_logo"></textarea>
      </div>

      <div class="col">
        <button type="submit" class="btn btn-secondary">Agregar</button>
      </div>

    </div>
  </form>

  <hr>

  <h1 class="fw-bold">IMAGEN</h1>
  <form>
    <div  class="row g-3" *ngFor="let logo_imgs of imgs_logo">


        <div class="col">
          <label for="inputAddress" class="form-label fw-bold" >TITULO</label>
          <input type="text" class="form-control" id="inputAddress" value="{{logo_imgs.Titulo}}">
        </div>



      <div class="col">
        <label for="inputAddress" class="form-label fw-bold" >DIRECCION </label>
        <input type="text" class="form-control" id="inputAddress" value="{{logo_imgs.Dir}}">
      </div>



      <div class="col-10">
        <button [routerLink]="['/edit-img-logo/',logo_imgs.id]"  type="button" class="btn btn-success">Editar</button>
      </div>


    </div>
  </form>


    </section>

    </mat-drawer-content>
  </mat-drawer-container>
  </div>

