<app-carousel [items]="carouselData"></app-carousel>

<mat-drawer-container class="side-container">
    <mat-drawer mode="side" class="sidebar" id="side" #drawer opened>
        <mat-selection-list role="list container" [multiple]="false">

        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Self aware panel
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <a
                    href="https://www.google.com/maps/place/TecNM+-+Tecnol%C3%B3gico+de+Estudios+Superiores+de+Ecatepec/@19.510275,-99.04016,15z/data=!4m5!3m4!1s0x0:0x700d93a5d515a259!8m2!3d19.5102753!4d-99.0401602?hl=es-419">
                    Ubicaci&oacute;n
                </a>
            </mat-expansion-panel>
        </mat-accordion>

            <select class="form-select" aria-label="Default select example">
                <option selected>La Institución</option>
                <option><a href="#">
                        <mat-list-option>Misión y Visión</mat-list-option>
                    </a></option>
                <option><a href="#">
                        <mat-list-option>Política del Sistema de Gestión Integral</mat-list-option>
                    </a></option>
                <option><a href="#">
                        <mat-list-option>Bienvenida</mat-list-option>
                    </a></option>
                <option><a href="#">
                        <mat-list-option>Infraestructura</mat-list-option>
                    </a></option>
                <option><a href="#">
                        <mat-list-option>Logo</mat-list-option>
                    </a></option>
                <option><a href="#">
                        <mat-list-option>Compromiso Social</mat-list-option>
                    </a></option>
                <option><a href="#">
                        <mat-list-option>Reseña Histórica</mat-list-option>
                    </a></option>
                <option><a href="#">
                        <mat-list-option>Estadísticas</mat-list-option>
                    </a></option>
                <option><a href="#">
                        <mat-list-option>Documentos de Colaboración Institucional</mat-list-option>
                    </a></option>
                <option><a href="#">
                        <mat-list-option>Transparencia</mat-list-option>
                    </a></option>
                <option><a href="#">
                        <mat-list-option>Informes de Actividades</mat-list-option>
                    </a></option>
                <option><a href="#">
                        <mat-list-option>Atribuciones</mat-list-option>
                    </a></option>
                <option><a href="#">
                        <mat-list-option>Modelo Educativo</mat-list-option>
                    </a></option>
            </select>
            <select class="form-select" aria-label="Default select example">
                <option selected>Organización Institucional</option>
                <option><a href="#">
                        <mat-list-option>Organigrama Institucional</mat-list-option>
                    </a></option>
                <option><a href="#">
                        <mat-list-option>Directorio</mat-list-option>
                    </a></option>
            </select>
            <select class="form-select" aria-label="Default select example">
                <option selected>Oferta Educativa</option>
                <option><a href="#">
                        <mat-list-option>Carreras</mat-list-option>
                    </a></option>
                <option><a href="#">
                        <mat-list-option>Posgrados</mat-list-option>
                    </a></option>
                <option><a href="#">
                        <mat-list-option>Cursos y Diplomados</mat-list-option>
                    </a></option>
            </select>
            <select class="form-select" aria-label="Default select example">
                <option selected>Servicios Escolares</option>
                <option><a href="#">
                        <mat-list-option>Inscripción</mat-list-option>
                    </a></option>
                <option><a href="#">
                        <mat-list-option>Certificados/Boletas</mat-list-option>
                    </a></option>
                <option><a href="#">
                        <mat-list-option>Historial Académico</mat-list-option>
                    </a></option>
                <option><a href="#">
                        <mat-list-option>Servicio Social y Prácticas</mat-list-option>
                    </a></option>
                <option><a href="#">
                        <mat-list-option>Titulación</mat-list-option>
                    </a></option>
                <option><a href="#">
                        <mat-list-option>Bolsa de Trabajo</mat-list-option>
                    </a></option>
                <option><a href="#">
                        <mat-list-option>Becas</mat-list-option>
                    </a></option>
                <option><a href="#">
                        <mat-list-option>Proceso de Admisión</mat-list-option>
                    </a></option>
                <option><a href="#">
                        <mat-list-option>Reinscripción</mat-list-option>
                    </a></option>
                <option><a href="#">
                        <mat-list-option>Intercambios Académicos</mat-list-option>
                    </a></option>
                <option><a href="#">
                        <mat-list-option>Tutorías</mat-list-option>
                    </a></option>
            </select>
            <select class="form-select" aria-label="Default select example">
                <option><a href="#">
                        <mat-list-option>Extensión y Vinculación</mat-list-option>
                    </a></option>
            </select>
            <select class="form-select" aria-label="Default select example">
                <option><a href="#">
                        <mat-list-option>Biblioteca</mat-list-option>
                    </a></option>
            </select>
            <select class="form-select" aria-label="Default select example">
                <option><a href="#">
                        <mat-list-option>Publicaciones</mat-list-option>
                    </a></option>
            </select>
            <select class="form-select" aria-label="Default select example">
                <a
                    href="https://www.google.com/maps/place/TecNM+-+Tecnol%C3%B3gico+de+Estudios+Superiores+de+Ecatepec/@19.510275,-99.04016,15z/data=!4m5!3m4!1s0x0:0x700d93a5d515a259!8m2!3d19.5102753!4d-99.0401602?hl=es-419">
                    <mat-list-option>

                        Ubicación

                    </mat-list-option>
                </a>
            </select>

            <select class="form-select" aria-label="Default select example">
                <option><a href="#">
                        <mat-list-option>Investigación</mat-list-option>
                    </a></option>
            </select>
        </mat-selection-list>
    </mat-drawer>

    <mat-drawer-content class="side-content">
        <button id="arrow" type="button" mat-button (click)="drawer.toggle()" (click)="open()">
            <mat-icon id="right" class="open">arrow_forward</mat-icon>
            <mat-icon id="left">arrow_back</mat-icon>
        </button>

        <mat-divider class="divider"></mat-divider>

        <div class="text-side">

        </div>
    </mat-drawer-content>

</mat-drawer-container>

<div class="cards">
    <mat-card class="careers">
        <mat-divider></mat-divider>

        <p class="text-center display-4 mt-2">Conóce nuestras carreras!</p>

        <mat-divider></mat-divider>

        <div class="row">
            <a href="#" class="card-career informatica col">
                <mat-card>
                    <span class="h1">Ingeniería informática</span>
                </mat-card>
            </a>

            <a href="#" class="card-career quimica col">
                <mat-card>
                    <span class="h1">Ingeniería química</span>
                </mat-card>
            </a>

            <a href="#" class="card-career contador col">
                <mat-card>
                    <span class="h1">Licenciatura contaduría</span>
                </mat-card>
            </a>

            <a href="#" class="card-career informatica col">
                <mat-card>
                    <span class="h1">Ingeniería informática</span>
                </mat-card>
            </a>
        </div>
    </mat-card>


    <mat-card class="careers">
        <mat-divider></mat-divider>

        <p class="text-center display-4 mt-2">Actividades</p>

        <mat-divider></mat-divider>

        <div class="row">
            <a href="#" class="col">
                <mat-card class="act">
                    <span>Actividad 1</span>
                </mat-card>
            </a>

            <a href="#" class="col">
                <mat-card class="act">
                    <span>Actividad 2</span>
                </mat-card>
            </a>

            <a href="#" class="col">
                <mat-card class="act">
                    <span>Actividad 3</span>
                </mat-card>
            </a>

            <a href="#" class="col">
                <mat-card class="act">
                    <span>Actividad 4</span>
                </mat-card>
            </a>

            <a href="#" class="col">
                <mat-card class="act">
                    <span>Actividad 5</span>
                </mat-card>
            </a>

            <a href="#" class="col">
                <mat-card class="act">
                    <span>Actividad 6</span>
                </mat-card>
            </a>
        </div>
    </mat-card>
</div>