<!-- Empieza el area para ingresar contenido en el panel lateral -->
  <div class="text-side" >
    <div class="box-shadow= 50px 50px;">

    <!-- BANNER -->
    <div class="container-fluid px-0">
        div class="row bg-dark h-100">
        <div class="col-12 px-0">
        <app-carousel-carreras [items]="carouselData"></app-carousel-carreras>
        </div>
      </div>
     </div>


   <h1 class="titulo">MAESTRÍA EN GESTIÓN ADMINISTRATIVA</h1>
      <!-- Breadcrumb, ayuda a que el sitio sea mas agil y el usuario sepa en donde esta localizado, hacia donde puede ir y que paginas le anteceden -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Egresados y Exalumnos</li>
        <li class="breadcrumb-item"><a routerLink="/egresadosyexalumnos">Posgrados</a></li>
       <li class="breadcrumb-item active" aria-current="page">MaestríaGestiónAdministrativa</li>
      </ol>
    </nav>

    <div class="cards">
      <div class="card-body" style="background-color:#C0C0C0; text-align: center;">
        <h4 class="card-title"><div class="Titulo2">CONCEPTOS GENERALES</div></h4>
         <p class="card-text"> La  maestria en la gestión hace posible la realización de proceso en tiempo y
           forma permitiendo alcanzar altos niveles de eficiencia y el alcance de metas y su adaptación a
           condiciones diferentes a las planeadas.
         </p>
        <br>
       </div>
     </div>

     <div class="cards">
      <div class="card-body" style="text-align: center;">
       <h4 class="card-title"><div class="Titulo2">OBJETIVO</div></h4>
        <p class="card-text"> Formar capital humano idóneo con capacidad creativa e innovadora en el ámbito
          administrativo, para la dirección, desarrollo, y promoción efectiva de las empresas, con conocimientos
          científicos y tecnológicos de vanguardia capacidad de análisis para la formulación e implantación de
          estrategias, así como con habilidades de liderazgo, negociación y manejo de grupos de trabajo,
          coadyuvantes al cumplimiento de objetivos organizacionales sin perder de vista las normas éticas y
          de responsabilidad social con un enfoque de sustentabilidad.
        </p>
        <br>
      </div>
      </div>

        <div class="accordion accordion-flush" id="accordionFlushExample">

          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                <h4 class="card-title"><div class="subtitulo">PERFIL DEL EGRESADO</div></h4>
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body" style="text-align: justify;">
                <div class="row row-cols-1 row-cols-md-2 g-2">
                  <div class="col">
                    <p class="card-text">El egresado tendrá conocimiento en:</p>
                    <li>La aplicación de modelos de gestión administrativa para el diseño y desarrollo de proyectos de innovación y mejora administrativa.</li>
                    <li>Formulación e implantación de estrategias administrativas a través del uso de tecnologías de información y comunicación.</li>
                    <li>Formular planes estratégicos orientados a la competitividad y sustentabilidad organizacional.</li>
                    <li>Diseño de administración y control de sistemas de gestión de calidad.</li>
                    <li>Toma de decisiones estratégicas.</li>
                    <li>Inglés como segunda lengua.</li>
                  </div>
                  <div class="col">
                    <div class="card">
                      <img src="../../../../../assets/IMAGENES_EGRESADOS/grad.jpg" class="card-img-top">
                    </div>
                  </div>
                  </div>
          </div>
          <br>
          <br>
          </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                <h4 class="card-title"><div class="subtitulo">ESTRUCTURA DEL PLAN DE ESTUDIOS</div></h4>
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <ul>
                  <li>24 CREDITOS Asignaturas Básicas</li>
                  <li>12 CREDITOS Seminarios Tópicos Selectos</li>
                  <li>24 CREDITOS Asignaturas Optativas</li>
                  <li>40 CREDITOS Trabajo de Tesis</li>
                  <li>con un total de 100 Créditos</li>
                  </ul>

              </div>
            </div>
          </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
              <h4 class="card-title"><div class="subtitulo">DURACION Y CRÉDITOS</div></h4>
            </button>
          </h2>
          <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body" style="text-align: center;">
              <p class="card-text">El tiempo para el desarrollo de la Maestría en Gestión Administrativa es
                de cuatro semestres. Cada semestre tendrá una duración efectiva de 16 semanas, sin incluir
                periodo de evaluación.<BR></p>
              <p class="card-text">El plan y programa de Maestría en Gestión Administrativa fue diseñado
                de tal forma que el estudiante cubra la estructura académica, desarrolle su tesis y apruebe
                el examen de grado de Maestro en dos años, contados a partir de la fecha en que inicie sus estudios
                </p>
                <br>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              <h4 class="card-title"><div class="subtitulo">CARRERAS RELACIONADAS</div></h4>
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body" style="text-align: center;">
              <ul style="list-style-type: none;">
                <li>Administración.</li>
                <li>Ingenierías tales como Ingeniería en Gestión Empresarial, industrial o a fin.</li>
                <li>Contaduría.</li>
                <li>Economía y Finanzas</li>
            </ul>
            <br>
          </div>
        </div>
      </div>


      </div>


  <mat-divider></mat-divider>

   </div>


 <!--<div class="card">
   <div class="card-body">
     <h4 class="card-title"><div class="Titulo2">Acerca de:</div></h4>
     <p class="card-text"> Es el trámite que realizan los y las egresados(as) de esta Institución para la obtención de su Título y Cédula Profesional>, para ello deberán llevar a cabo en la jefatura de su división correspondiente la acreditación de alguna de las opciones de Titulación establecidas en el Reglamento respetivo y posteriormente presentar la documentación solicitada en la Oficina de Titulación.

       <br>
       <br>
     </p>
   </div>
 </div>

 <mat-divider></mat-divider>-->
       <!-- Etiqueda de cerrado de la side nav bar, se elimina para retirar la barra de navegacion lateral -->
