<app-carousel-sistemas></app-carousel-sistemas>
<body>

  <div class="container-fluid" >




 <mat-drawer-container class="side-container">





     <mat-drawer-content class="side-content">

         <mat-divider class="divider"></mat-divider>

         <!-- Empieza el area para ingresar contenido en el panel lateral -->
         <div class="text-side" >
 <div class="box-shadow= 50px 50px;">





   <!-- Breadcrumb, ayuda a que el sitio sea mas agil y el usuario sepa en donde esta localizado, hacia donde puede ir y que paginas le anteceden -->
   <nav aria-label="breadcrumb">
     <ol class="breadcrumb">
       <li class="breadcrumb-item"><a href="/">Home</a></li>
       <li class="breadcrumb-item"><a href="/Carreras">Carreras</a></li>
       <li class="breadcrumb-item"><a href="/Carreras/Sistemas">Sistemas</a></li>
     </ol>
   </nav>

   <h1 class="titulo">Sistemas Computacionales
   </h1>


   <div class="card">
     <div class="card-body">
       <h4 class="card-title"><div class="Titulo2">Objetivo de la carrera: </div></h4>
       <p class="card-text"> <p>Formar profesionales de manera integral con capacidad analítica, crítica, creativa y de liderazgo, que aporten soluciones computacionales en las organizaciones,
        aplicando las tecnologías de la información y de las comunicaciones, comprometidos con su entorno.
        <p>El egresado de esta carrera contará con habilidades técnicas y metodológicas de investigación, que le permitirán integrarse con facilidad en grupos interdisciplinarios de desarrollo tecnológico y empresarial. Poseerá
        una sólida formación profesional, que de manera visionaria, ética e innovadora, ayude al fortalecimiento de la tecnología nacional, desarrollando un compromiso con la sociedad y la ecología.
         <br>
         <br>
       </p>
     </div>
   </div>

   <mat-divider></mat-divider>


   <div class="accordion accordion-flush" id="accordionFlushExample">
     <div class="accordion-item">
       <h2 class="accordion-header" id="flush-headingOne">
         <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Objetivo General
         </button>
       </h2>
       <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
         <div class="accordion-body">Formar profesionistas líderes, analíticos, críticos y creativos, con visión estratégica y amplio sentido ético, capaces de diseñar, implementar y administrar infraestructura computacional para aportar soluciones innovadoras en beneficio de la sociedad, en un contexto global, multidisciplinario y sustentable.</div>
       </div>
     </div>
     <div class="accordion-item">
       <h2 class="accordion-header" id="flush-headingTwo">
         <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          Perfil de Egreso
         </button>
       </h2>
       <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
         <div class="accordion-body">
           <ol start="1">
            <LI >Diseñar, configurar y administrar redes computacionales aplicando las normas y estándares vigentes.
            <LI>Desarrollar, implementar y administrar software de sistemas o de aplicación que cumpla con los estándares de calidad con el fin de apoyar la productividad y competitividad de las organizaciones.
            <LI>Coordinar y participar en proyectos interdisciplinarios.
            <LI>Diseñar e implementar interfaces hombre-máquina y máquina-máquina para la automatización de sistemas.
            <LI>Identificar y comprender las tecnologías de hardware para proponer, desarrollar y mantener aplicaciones eficientes.
            <LI>Diseñar, desarrollar y administrar bases de datos conforme a requerimientos definidos, normas organizacionales de manejo y seguridad de la información, utilizando tecnologías emergentes.
            <LI>Integrar soluciones computacionales con diferentes tecnologías, plataformas o dispositivos.
            <LI>Desarrollar una visión empresarial para detectar áreas de oportunidad que le permitan emprender y desarrollar proyectos aplicando las tecnologías de la información y comunicación.
            <LI>Desempeñar sus actividades profesionales considerando los aspectos legales, éticos, sociales y de desarrollo sustentable.
            <LI>Poseer habilidades metodológicas de investigación que fortalezcan el desarrollo cultural, científico y tecnológico en el ámbito de sistemas computacionales y disciplinas afines.
            <LI>Seleccionar y aplicar herramientas matemáticas para el modelado, diseño y desarrollo de tecnología computacional.
          </ol>
        </div>
       </div>
     </div>
     <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          Campo Laboral
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <p>El Ingeniero en Sistemas Computacionales egresado del TESE, no sólo desempeña actividades donde el uso de las computadoras es indispensable, sino además puede participar en grupos de investigación y desarrollo en diversas disciplinas. Estará capacitado para ejercer su profesión en cualquier organización productiva de bienes y servicios, tanto del sector privado o público, o en forma independiente.
          <p>Dada su especialidad, el Ingeniero en Sistemas Computacionales estará en condiciones de ejercer en las áreas de administración, desarrollo y mantenimiento de sistemas, ocupar puestos directivos o ejecutivos en centros de cómputo, docencia e investigación
        </div>
      </div>
    </div>
   </div>
   <mat-divider></mat-divider>

 <mat-divider></mat-divider>



 <!-- Seccion de documentos; Algunas paginas contienen documentos o enlaces a los que el usuario puede acceder/descargar, si lo necesitas puedes implementarlo en cada uno de los "accordion body" cada uno de estos representa a una opcion o documento -->

 <div class="alert alert-primary d-flex align-items-center" role="alert">
   <div>
 Documentos Anexos

 <div class="accordion" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
        Triptico
      </button>
    </h2>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
      <div class="accordion-body">
       <a href="http://tese.edu.mx/documentos2004/2096_IRGOSUS.pdf">Ver</a>
      </div>
    </div>
  </div>
   <div class="accordion-item">
     <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
       <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
         Oferta Educativa
       </button>
     </h2>
     <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
       <div class="accordion-body">
        <a href="http://www.tese.edu.mx/documentos2004/8996_NVKIVQN.pdf">Detalles</a>
       </div>
     </div>
   </div>
 </div>
   </div>
 </div>


       </div>






         </div>




         <!-- Etiqueda de cerrado de la side nav bar, se elimina para retirar la barra de navegacion lateral -->
     </mat-drawer-content>



 </mat-drawer-container>



 <!-- Div del body, esto centra el contenido en modo web y deja fuera los mat card -->





 </div>
 </body>
