<p>cuerpo-bioquimica works!</p>
<app-carousel-bioquimica></app-carousel-bioquimica>
<body>

  <div class="container-fluid" >




 <mat-drawer-container class="side-container">





     <mat-drawer-content class="side-content">

         <mat-divider class="divider"></mat-divider>

         <!-- Empieza el area para ingresar contenido en el panel lateral -->
         <div class="text-side" >
 <div class="box-shadow= 50px 50px;">





   <!-- Breadcrumb, ayuda a que el sitio sea mas agil y el usuario sepa en donde esta localizado, hacia donde puede ir y que paginas le anteceden -->
   <nav aria-label="breadcrumb">
     <ol class="breadcrumb">
       <li class="breadcrumb-item"><a href="/">Home</a></li>
       <li class="breadcrumb-item"><a href="/Carreras">Carreras</a></li>
       <li class="breadcrumb-item"><a href="/Carreras/Sistemas">Bioquimica</a></li>
     </ol>
   </nav>

   <h1 class="titulo">Ingeniería Bioquimica
   </h1>


   <div class="card">
     <div class="card-body">
       <h4 class="card-title"><div class="Titulo2">Objetivo de la carrera: </div></h4>
       <p class="card-text"> <p>La Ingeniería Bioquímica se encarga de transformar los materiales biológicos para la generación de productos con valor social y comercial. Por ello, analiza los procesos biotecnológicos para el diseño,
              organización, control y operación de equipos y procesos aplicables en la transformación de materiales de origen orgánico (animal, vegetal y microbiano), con el propósito de satisfacer necesidades en sectores como alimentario, farmacéutico, agroindustrial, energético y medio ambiente. La biotecnología completa la producción de los materiales biológicos mediante la bioconversión, utilizando sistemas biológicos tales como: Microorganismos (bacterias, hongos, levaduras y algas), Enzimas (proteasas, lipasas, ligasas) y Anticuerpos. La actividad industrial que se realiza por medio de la biotecnología, constituye uno de los campos de desarrollo más importantes de esta carrera.
         <br>
         <br>
       </p>
     </div>
   </div>

   <mat-divider></mat-divider>


   <div class="accordion accordion-flush" id="accordionFlushExample">
     <div class="accordion-item">
       <h2 class="accordion-header" id="flush-headingOne">
         <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Objetivo General:
         </button>
       </h2>
       <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
         <div class="accordion-body">Formar profesionistas líderes, analíticos, críticos y creativos, con visión estratégica y amplio sentido ético, capaces de diseñar, implementar y administrar infraestructura computacional para aportar soluciones innovadoras en beneficio de la sociedad, en un contexto global, multidisciplinario y sustentable.</div>
       </div>
     </div>
     <div class="accordion-item">
       <h2 class="accordion-header" id="flush-headingTwo">
         <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          Perfil de Egreso:
         </button>
       </h2>
       <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
         <div class="accordion-body">
           <ol start="1">
            <LI >Diseña, adapta, controla, selecciona y optimiza equipos y procesos industriales químico-biológicos.
            <LI>Participa en la planeación, organización y administración de proyectos de la industria bioquímica, así como en el diseño de normas y programas de control de calidad.
            <LI>Proporciona asesoría técnica para la transformación y conservación de recursos biólogicos
            <LI> Mantiene una actitud crítica y emprendedora para la creación de empresas de origen biotecnológico.
            <LI> Realiza investigación tecnológica de Ingeniería Bioquímica y en sus áreas de aplicación.
          </ol>
        </div>
       </div>
     </div>
     <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          Campo Laboral:
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <p> Se busca que los egresados se integren en el sector industrial: empresas procesadoras de alimentos (empacadoras de lácteos, enlatadoras, congeladoras, etcétera), de fermentación (productores de vino, cerveza, antibióticos, aminoácidos, enzimas, ácidos orgánicos, levaduras, etcétera), farmacéuticas (vacunas, hemoderivados, etcétera), industria de la transformación (tratamiento biológico de e?uentes industriales). En el sector académico y de investigación, sus potenciales de desarrollo son los campos tradicionales: ciencia y tecnología de alimentos, tecnología microbiana y tecnología de enzimas. Sin embargo, los campos emergentes, tales como la ingeniería genética, la biotecnología vegetal y ambiental, así como el cultivo de células y tejidos animales, amplían su ámbito de acción.
        </div>
      </div>
    </div>
   </div>
   <mat-divider></mat-divider>

 <mat-divider></mat-divider>





 <!-- Seccion de documentos; Algunas paginas contienen documentos o enlaces a los que el usuario puede acceder/descargar, si lo necesitas puedes implementarlo en cada uno de los "accordion body" cada uno de estos representa a una opcion o documento -->

 <div class="alert alert-primary d-flex align-items-center" role="alert">
   <div>
 Documentos Anexos

 <div class="accordion" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
       Mapa curricular
      </button>
    </h2>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
      <div class="accordion-body">
       <a href="http://www.tese.edu.mx/documentos2004/2105_PIHGWTQ.pdf">Ver</a>
      </div>
    </div>
  </div>
   <div class="accordion-item">
     <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
       <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
         		Tríptico Informativo (Incluye plan de estudios)
       </button>
     </h2>
     <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
       <div class="accordion-body">
        <a href="http://www.tese.edu.mx/documentos2004/2106_ZSLFYPN.pdf">Detalles</a>
       </div>
     </div>
   </div>
 </div>
   </div>
 </div>



       </div>






         </div>




         <!-- Etiqueda de cerrado de la side nav bar, se elimina para retirar la barra de navegacion lateral -->
     </mat-drawer-content>



 </mat-drawer-container>



 <!-- Div del body, esto centra el contenido en modo web y deja fuera los mat card -->





 </div>
    </body>
