<div class="">
  <mat-drawer-container class="side-container">
    <mat-drawer mode="side"class="sidebar" id="side" #drawer opened>
      <mat-selection-list role="list-container" [multiple]="false">
        <a href="admin-historia">
          <mat-list-option>
            Historia
          </mat-list-option>
        </a>
        <a href="admin-mision">
          <mat-list-option role="/Logo">
            Mision Vision
          </mat-list-option>
        </a>

        <a href="admin-logo">
          <mat-list-option role="/Logo">
            Logo
          </mat-list-option>
        </a>
      </mat-selection-list>
    </mat-drawer>

    <mat-drawer-content class="side-content">
      <button id="arrow" type="button" mat-button (click)="drawer.toggle()" (click)="open()">
        <mat-icon id="right" class="open">arrow_forward</mat-icon>
        <mat-icon id="left">arrow_back</mat-icon>
      </button>
      <mat-divider class="divider"></mat-divider>

    <div class="text-side">
      <div class="box-shadow= 50px 50px;">
        <nav arial-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="ubicacion-pag" href="#">Administracion</a></li>
            <li class="breadcrumb-item"><a class="ubicacion-pag" href="#">Identidad Institucional</a></li>
            <li class="breadcrumb-item active" aria-current="page">Organigrama</li>
          </ol>
        </nav>
      </div>
    </div>

    <h1 class="fw-bold lh-sm fs-4 shadow p-3 mb-5 bg-body rounded">Panel Administracion Organigrama</h1>

    <section class="lh-sm fs-4 shadow p-3 mb-5 bg-body rounded">
      <form>

        <div *ngFor="let organigrama_contends of organigrama" class="row g-3">
          <label for="inputAddress" class="form-label fw-bold" >Ruta de Organigrama</label>
        <div class="col">
          <input type="text" class="form-control" id="inputAddress" value="{{organigrama_contends.Dir}}">
        </div>

        <div class="col">
          <button type="button" class="btn btn-success">Actualizar</button>
        </div>
      </div>

      </form>
    </section>


    </mat-drawer-content>
  </mat-drawer-container>
  </div>

