<div class="">
  <mat-drawer-container class="side-container">
    <mat-drawer mode="side"class="sidebar" id="side" #drawer opened>
      <mat-selection-list role="list-container" [multiple]="false">
        <a routerLink="/ControlVinculacion">
          <mat-list-option style="margin-top: 10%;">
            VINCULACION EMPRESARIAL E INCUBADORA DE EMPRESAS
          </mat-list-option>
        </a>
          <br>
          <br>
        <a routerLink="/ControlActividades">
          <mat-list-option>
           ACTIVIDADES Y CREDENCIALES EGRESADOS
          </mat-list-option>
        </a>
          <br>
          <br>
        <a routerLink="/ControlCursos">
          <mat-list-option>
           CURSOS Y DIPLOMADOS
          </mat-list-option>
        </a>
          <br>
          <br>
        <a routerLink="/ControlHistorial">
          <mat-list-option>
           HISTORIAL ACADEMICO
          </mat-list-option>
        </a>
          <br>
          <br>
        <a routerLink="/ControlServicio">
          <mat-list-option>
           SERVICIO A LA COMUNIDAD
          </mat-list-option>
        </a>
      </mat-selection-list>
    </mat-drawer>

    <mat-drawer-content class="side-content">
      <button id="arrow" type="button" mat-button (click)="drawer.toggle()" (click)="open()">
        <mat-icon id="right" class="open">arrow_forward</mat-icon>
        <mat-icon id="left">arrow_back</mat-icon>
      </button>
      <mat-divider class="divider"></mat-divider>

     <!--ENLACE-->
     <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#" class="Link">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">ControlEgresados</li>
        <li class="breadcrumb-item"><a routerLink="/ControlEgresados" class="Link">Posgrados</a></li>
        <li class="breadcrumb-item active" aria-current="page">MaestríaEficienciaEnergetica</li>
      </ol>
    </nav>

    <h1 class="fw-bold lh-sm fs-4 shadow p-3 mb-5 bg-body rounded titulo">CONTROL MAESTRÍA EN EFICIENCÍA ENERGÉTICA Y ENERGÍAS RENOVABLES</h1>

    <section  class="lh-sm fs-4 shadow p-3 mb-5 bg-body rounded">

      <label for="inputAddress" class="form-label fw-bold subtitulo">CONCEPTO</label>

      <form [formGroup]="ingresarConcepto" (ngSubmit)="agregarConcepto()">
        <div class="row ">
          <span *ngIf="submitedConcepto && ingresarConcepto.invalid" class="alert alert-danger">DEBE LLENAR LOS CAMPOS...</span>
          <label for="inputAddress" class="form-label fw-bold" >Agregar</label>

          <div class="col-10">
            <input type="text" class="form-control" id="inputAddress" value="" formControlName="ConceptoEficiencia" placeholder="CONCEPTO*">
          </div>

          <div class="col">
            <button type="submit" class="btn btn-success">Agregar</button>
          </div>

        </div>
      </form>
      <br>
      <h1 class="fw-bold lh-sm fs-4 shadow p-3 mb-5 bg-body rounded" *ngIf="Concepto.length==0">AUN NO HAY DATOS</h1>
      <form *ngIf="Concepto.length>0">
        <label for="inputAddress" class="form-label fw-bold" >Eliminar/Editar</label>
        <div *ngFor="let Concepto of Concepto " class="row" >
          <div class="col-8">
            <input type="text" class="form-control mb-2" id="inputAddressConcepto" value="{{Concepto.ConceptosMeficienciaDesc}}">
          </div>

          <div class="col float-rigth">
            <button type="button" (click)="eliminaConcepto(Concepto.id)"  class="btn btn-danger">Eliminar</button>
          </div>


        </div>
        </form>
        </section>

        <section  class="lh-sm fs-4 shadow p-3 mb-5 bg-body rounded">
        <label for="inputAddress" class="form-label fw-bold subtitulo" >OBJETIVO</label>

      <form [formGroup]="ingresarObjetivo" (ngSubmit)="agregarObjetivo()">
        <div class="row ">
          <span *ngIf="submitedObjetivo && ingresarObjetivo.invalid" class="alert alert-danger">DEBE LLENAR LOS CAMPOS...</span>
          <label for="inputAddress" class="form-label fw-bold" >Agregar</label>

          <div class="col-10">
            <input type="text" class="form-control" id="inputAddress" value="" formControlName="ObjetivoEficiencia" placeholder="OBJETIVO*">
          </div>

          <div class="col">
            <button type="submit" class="btn btn-success">Agregar</button>
          </div>

        </div>
      </form>
      <br>
      <h1 class="fw-bold lh-sm fs-4 shadow p-3 mb-5 bg-body rounded" *ngIf="Objetivo.length==0">AUN NO HAY DATOS</h1>
      <form *ngIf="Objetivo.length>0">
        <label for="inputAddress" class="form-label fw-bold" >Eliminar/Editar</label>
        <div *ngFor="let Objetivo of Objetivo" class="row">
          <div class="col-8">
            <input type="text" class="form-control mb-2" id="inputAddressObjetivo" value="{{Objetivo.ObjetivoMeficienciaDesc}}">
          </div>
          <div class="col float-rigth">
            <button type="button" (click)="eliminaObjetivo(Objetivo.id)"  class="btn btn-danger">Eliminar</button>
          </div>
        </div>
      </form>
    </section>

    <section  class="lh-sm fs-4 shadow p-3 mb-5 bg-body rounded">
      <label for="inputAddress" class="form-label fw-bold subtitulo" >PERFIL DEL EGRESADO</label>

    <form [formGroup]="ingresarPerfil" (ngSubmit)="agregarPerfil()">
      <div class="row ">
        <span *ngIf="submitedPerfil && ingresarPerfil.invalid" class="alert alert-danger">DEBE LLENAR LOS CAMPOS...</span>
        <label for="inputAddress" class="form-label fw-bold" >Agregar</label>

        <div class="col-10">
          <input type="text" class="form-control" id="inputAddress" value="" formControlName="PerfilEficiencia" placeholder="PERFIL*">
        </div>

        <div class="col">
          <button type="submit" class="btn btn-success">Agregar</button>
        </div>

      </div>
    </form>
    <br>
    <h1 class="fw-bold lh-sm fs-4 shadow p-3 mb-5 bg-body rounded" *ngIf="Perfil.length==0">AUN NO HAY DATOS</h1>
    <form *ngIf="Perfil.length>0">
      <label for="inputAddress" class="form-label fw-bold" >Eliminar/Editar</label>
      <div *ngFor="let Perfil of Perfil" class="row">
        <div class="col-8">
          <input type="text" class="form-control mb-2" id="inputAddressPerfil" value="{{Perfil.PerfilMeficienciaDesc}}">
        </div>
        <div class="col float-rigth">
          <button type="button" (click)="eliminaPerfil(Perfil.id)"  class="btn btn-danger">Eliminar</button>
        </div>
      </div>
    </form>
  </section>


  <section  class="lh-sm fs-4 shadow p-3 mb-5 bg-body rounded">
    <label for="inputAddress" class="form-label fw-bold subtitulo" >MATERIAS BÁSICAS</label>

  <form [formGroup]="ingresarMateriaB" (ngSubmit)="agregarMateriaB()">
    <div class="row ">
      <span *ngIf="submitedMateriaB && ingresarMateriaB.invalid" class="alert alert-danger">DEBE LLENAR LOS CAMPOS...</span>
      <label for="inputAddress" class="form-label fw-bold" >Agregar</label>

      <div class="col-10">
        <input type="text" class="form-control" id="inputAddress" value="" formControlName="MateriaBEficiencia" placeholder="MATERIA BASICA*">
      </div>

      <div class="col">
        <button type="submit" class="btn btn-success">Agregar</button>
      </div>

    </div>
  </form>
  <br>
  <h1 class="fw-bold lh-sm fs-4 shadow p-3 mb-5 bg-body rounded" *ngIf="MateriaB.length==0">AUN NO HAY DATOS</h1>
  <form *ngIf="MateriaB.length>0">
    <label for="inputAddress" class="form-label fw-bold" >Eliminar/Editar</label>
    <div *ngFor="let MateriaB of MateriaB" class="row">
      <div class="col-8">
        <input type="text" class="form-control mb-2" id="inputAddressMateriaB" value="{{MateriaB.EficienciaMateriaBasica}}">
      </div>
      <div class="col float-rigth">
        <button type="button" (click)="eliminaMateriaB(MateriaB.id)" class="btn btn-danger">Eliminar</button>
      </div>
    </div>
  </form>
</section>

<section  class="lh-sm fs-4 shadow p-3 mb-5 bg-body rounded">
  <label for="inputAddress" class="form-label fw-bold subtitulo" >MATERIAS OPTATIVAS</label>

<form [formGroup]="ingresarMateriaO" (ngSubmit)="agregarMateriaO()">
  <div class="row ">
    <span *ngIf="submitedMateriaO && ingresarMateriaO.invalid" class="alert alert-danger">DEBE LLENAR LOS CAMPOS...</span>
    <label for="inputAddress" class="form-label fw-bold" >Agregar</label>

    <div class="col-10">
      <input type="text" class="form-control" id="inputAddress" value="" formControlName="MateriaOEficiencia" placeholder="MATERIA OPTATIVA*">
    </div>

    <div class="col">
      <button type="submit" class="btn btn-success">Agregar</button>
    </div>

  </div>
</form>
<br>
<h1 class="fw-bold lh-sm fs-4 shadow p-3 mb-5 bg-body rounded" *ngIf="MateriaO.length==0">AUN NO HAY DATOS</h1>
<form *ngIf="MateriaO.length>0">
  <label for="inputAddress" class="form-label fw-bold" >Eliminar/Editar</label>
  <div *ngFor="let MateriaO of MateriaO" class="row">
    <div class="col-8">
      <input type="text" class="form-control mb-2" id="inputAddressMateriaO" value="{{MateriaO.EficienciaMateriaOptativa}}">
    </div>
    <div class="col float-rigth">
      <button type="button" (click)="eliminaMateriaO(MateriaO.id)" class="btn btn-danger">Eliminar</button>
    </div>
  </div>
</form>
</section>

<section  class="lh-sm fs-4 shadow p-3 mb-5 bg-body rounded">
  <label for="inputAddress" class="form-label fw-bold subtitulo" >CAMPOS DE ACCIÓN</label>

<form [formGroup]="ingresarCampo" (ngSubmit)="agregarCampo()">
  <div class="row ">
    <span *ngIf="submitedCampo && ingresarCampo.invalid" class="alert alert-danger">DEBE LLENAR LOS CAMPOS...</span>
    <label for="inputAddress" class="form-label fw-bold" >Agregar</label>

    <div class="col-10">
      <input type="text" class="form-control" id="inputAddress" value="" formControlName="CampoEficiencia" placeholder="CAMPOS DE ACCIÓN*">
    </div>

    <div class="col">
      <button type="submit" class="btn btn-success">Agregar</button>
    </div>

  </div>
</form>
<br>
<h1 class="fw-bold lh-sm fs-4 shadow p-3 mb-5 bg-body rounded" *ngIf="Campo.length==0">AUN NO HAY DATOS</h1>
<form *ngIf="Campo.length>0">
  <label for="inputAddress" class="form-label fw-bold" >Eliminar/Editar</label>
  <div *ngFor="let Campo of Campo" class="row">
    <div class="col-8">
      <input type="text" class="form-control mb-2" id="inputAddressCampo" value="{{Campo.CampoMeficienciaOpc}}">
    </div>
    <div class="col float-rigth">
      <button type="button" (click)="eliminaCampo(Campo.id)" class="btn btn-danger">Eliminar</button>
    </div>
  </div>
</form>
</section>

    </mat-drawer-content>
  </mat-drawer-container>
</div>

