<div class="container">
  <div class="row">
    <div class="col-sm">
    
      <p style="color:#e04018" class="fs-1" align="center">CONTACTO</p>
      <br>
      <div  class="col input-group mb-4">
          <span class="input-group-text fondo text-light" id="basic-addon1"><h4>NOMBRE</h4></span>
          <input type="text" class="form-control" placeholder="name" aria-label="name" aria-describedby="basic-addon1">
      </div>

          <div class="input-group mb-4">
              <input type="text" class="form-control"  placeholder="Email" aria-label="Email" aria-describedby="basic-addonaddon2">
              <span class="input-group-text fondo text-light" id="basic-addon2"><h4>@example.com</h4></span>
          </div>

          <div  class="col input-group mb-4">
              <span class="input-group-text fondo text-light" id="basic-addon1"><h4>TELEFONO</h4></span>
              <input type="text" class="form-control" placeholder="Numero" aria-label="Numero" aria-describedby="basic-addon1">
          </div>

          <div class="input-group">
              <span class="input-group-text fondo text-light"><h4>MENSAJE</h4></span>
              <textarea type="text" class="form-control" placeholder="Escriba su Mensaje" aria-label="Escribe tu Mensaje" aria-describedby="basic-addon1">
              </textarea>
          </div>
    <br>
        </div>
    
    <button type="button" align="center" class="btn btn-danger"><h4>ENVIAR</h4></button>
  </div>
</div>

<br><br>

<style>
.fondo{
  background:rgb(206, 77, 77);
}
</style>
