<div class="container">
    <div class="row">
      <div class="col-sm">
        <div  class="col input-group mb-4">
            <span class="input-group-text" id="basic-addon1">Ingrese Nombre </span>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>

            <div class="input-group mb-4">
                <input type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addonaddon2">
                <span class="input-group-text" id="basic-addon2">@example.com</span>
            </div>

            <div  class="col input-group mb-4">
                <span class="input-group-text" id="basic-addon1">Telefono</span>
                <input type="text" class="form-control" placeholder="Numero" aria-label="Numero" aria-describedby="basic-addon1">
            </div>

            <div class="input-group">
                <span class="input-group-text">Mensaje</span>
                <textarea class="form-control" aria-label="With textarea"></textarea>
            </div>
      </div>
    </div>
  </div>
<br><br><br><br><br><br><br><br><br><br><br>