

<hr>
<br>

<a href="historia.html">ir</a>
<h1 class="center">Misión 2019-2024</h1>
<div class="justificar">
  <span>
    Ofrecer educación superior tecnológica pertinente e integral de calidad, para formar profesionistas con atributos de egreso y
    competencias para identificar y resolver problemas de su especialidad,
    con un sentido científico, tecnológico, humanístico, ético y sostenible,
    comprometidos con el desarrollo tecnológico, con sentido social,
    así como generar y aplicar conocimientos en beneficio del entorno Local,
    Estatal y Nacional
  </span>

</div>

<br>
<h1 class="center"> Visión 2019-2024 </h1>
<div class="justificar">
  <span>
    Ser la Institución de Educación Superior Tecnológica del Estado de México
     y del país con reconocimiento nacional e internacional en la generación y
      aplicación del conocimiento, por la excelencia de la formación y
      los servicios que otorga, para la generación de soluciones
      innovadoras que aporten a las prioridades locales, estatales y
      nacionales en un ambiente sostenible, de inclusión, equidad y transparencia.
  </span>

</div>
<hr>


<mat-card >
  <mat-card-header>

    <mat-card-title style="font-size: 3ch;">Documentos Relacionados
    </mat-card-title>
    <mat-card-subtitle style="font-size: 2ch;">PDF</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>
     <img  class="img-icon" src="../../../../assets/images/PDF-ICON.png">
    </p>
  </mat-card-content>
  <mat-card-actions style="margin-right: auto;">
   <a href="http://www.tese.edu.mx/documentos2004/9249_ITKITWD.pdf" class="enlace-pdf" mat-button>MOSTRAR</a>
  </mat-card-actions>
</mat-card>

