<div class="">
  <mat-drawer-container class="side-container">
    <mat-drawer mode="side"class="sidebar" id="side" #drawer opened>
      <mat-selection-list role="list-container" [multiple]="false">
        <a href="Historia">
          <mat-list-option role="/Logo">
            Historia
          </mat-list-option>
        </a>

        <a href="Logo">
          <mat-list-option role="/Logo">
            Logo
          </mat-list-option>
        </a>
        <a href="http://www.tese.edu.mx/documentos2004/7285_BGNZNIQ.pdf">
          <mat-list-option role="/Logo">
            Organigrama
          </mat-list-option>
        </a>
      </mat-selection-list>
    </mat-drawer>

    <mat-drawer-content class="side-content">
      <button id="arrow" type="button" mat-button (click)="drawer.toggle()" (click)="open()">
        <mat-icon id="right" class="open">arrow_forward</mat-icon>
        <mat-icon id="left">arrow_back</mat-icon>
      </button>
      <mat-divider class="divider"></mat-divider>

    <div class="text-side">
      <div class="box-shadow= 50px 50px;">
        <nav arial-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="ubicacion-pag" href="#">Home</a></li>
            <li class="breadcrumb-item"><a class="ubicacion-pag" href="#">Identidad Institucional</a></li>
            <li class="breadcrumb-item active" aria-current="page">Mision y Vision</li>
          </ol>
        </nav>
      </div>
    </div>

    <app-carousel [items]="carouselData"></app-carousel>
    <div class="lh-sm fs-4 shadow p-3 bg-body rounded" *ngFor="let contend of contends | async" >
      <h1 class="text-center fs-4 fw-bold ">{{contend.Titulo}}</h1>
      <p class="margen">
        {{contend.contenido}}
      </p>

  </div>


    <br>

    <mat-card >
      <mat-card-header>

        <mat-card-title style="font-size: 3ch;">Documentos Relacionados
        </mat-card-title>
        <mat-card-subtitle style="font-size: 2ch;">PDF</mat-card-subtitle>
      </mat-card-header>

      <div *ngFor="let document of documents | async">
        <mat-card-content>
        <p>
         <img  class="img-icon" src="{{document.Icono_Documento}}">
        </p>
      </mat-card-content>
      <mat-card-actions style="margin-right: auto;">
       <a href="{{document.Dir_Documento}}" class="enlace-pdf" mat-button>MOSTRAR</a>
      </mat-card-actions>
    </div>


    </mat-card>




    </mat-drawer-content>
  </mat-drawer-container>
  </div>
