/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;background-color: #fff;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #ccc;
  
}

body::-webkit-scrollbar-thumb {
  background-color: #eb2a30;
  border-radius: 10px;
}