<div class="">
<mat-drawer-container class="side-container">
  <mat-drawer mode="side"class="sidebar" id="side" #drawer opened>
    <mat-selection-list role="list-container" [multiple]="false">



      <a href="Mision">
        <mat-list-option>
          Mision Vision
        </mat-list-option>
      </a>
      <a href="Logo">
        <mat-list-option >
          Logo
        </mat-list-option>
      </a>
      <a href="http://www.tese.edu.mx/documentos2004/7285_BGNZNIQ.pdf">
        <mat-list-option >
          Organigrama
        </mat-list-option>
      </a>
    </mat-selection-list>
  </mat-drawer>

  <mat-drawer-content class="side-content">
    <button id="arrow" type="button" mat-button (click)="drawer.toggle()" (click)="open()">
      <mat-icon id="right" class="open">arrow_forward</mat-icon>
      <mat-icon id="left">arrow_back</mat-icon>
    </button>
    <mat-divider class="divider"></mat-divider>

  <div class="text-side">
    <div class="box-shadow= 50px 50px;">
      <nav arial-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Identidad Institucional</a></li>
          <li class="breadcrumb-item active" aria-current="page">Historia</li>
        </ol>
      </nav>
    </div>
  </div>

  <app-carousel [items]="carouselData"></app-carousel>
  <h1 class="titulo-item text-center fs-4 fw-bold shadow p-3 mb-5 bg-body rounded">HISTORIA</h1>
  <P class="lh-sm fs-4 shadow p-3 mb-5 bg-body rounded">
    El Tecnológico de Estudios Superiores de Ecatepec se creó en 1990 por Decreto de la Legislatura del Estado,
    como Organismo Descentralizado del Estado de México con personalidad jurídica y patrimonio propio,
    Opera mediante el financiamiento de los Gobiernos Federal y Estatal,
    así como por la generación de ingresos propios es el primer Tecnológico creado con carácter Descentralizado en el país,
    actualmente oferta 11 programas educativos de nivel licenciatura, dos son de reciente creación,
    el programa de Ingeniería en Gestión Empresarial y el de Ingeniería Aeronáutica,
    todos los demás están reconocidos por su calidad por COPAES, además oferta 6 programas de Maestría,
    tres en la categoría de investigación y tres con orientación profesional,
    el programa de Maestría en ciencias en Ingeniería Bioquímica está reconocido por el CONACyT por su calidad,
    pertenece al PNPC. Actualmente se atiende una matrícula de 6, 764 estudiantes de licenciatura y posgrado,
    la cual es atendida por 351 docentes, 147 de tiempo completo,
    de los cuales 28 se reconocen como perfil deseable y 10 tienen reconocimiento CONACYT por pertenecer al S.N.I.
    <br>
    <br>
    Además como una prueba de la buena calidad de la educación que se imparte,
     es la distinción que en diez ocasiones consecutivas, desde el 2004 al 2014,
     ha recibido de parte del Gobierno Federal, a través de la Secretaria de Educación Pública,
     por contar con programas académicos de calidad certificada, en las carreras que imparte.
  </P>


  <div class="lh-sm fs-4 accordion accordion-flush shadow p-3 mb-5 bg-body rounded" id="accordionFlushExample">
    <p class="fw-bold">Proporciona enseñanza superior en 11 carreras y seis posgrados, siendo estos:</p>
    <div class="accordion-item ">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed lh-sm fs-4  " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Carreras
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body lh-sm fs-4">

          <div class="row">

            <div class="col-sm-3 mb-3">

              <div class="card">
                <img src="../../../../../assets/images/Ing-Quimica.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h3 class="card-title">Ingeniería Química</h3>

                  <a href="#" class="btn btn-primary">Mas Info..</a>
                </div>
              </div>
            </div>

            <div class="col-sm-3  mb-3">
              <div class="card">
                <img src="../../../../../assets/images/Ing-Bioquimica.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h3 class="card-title">Ingeniería Bioquímica</h3>

                  <a href="#" class="btn btn-primary">Mas Info..</a>
                </div>
              </div>
            </div>

            <div class="col-sm-3  mb-3">
              <div class="card">
                <img src="../../../../../assets/images/Ing-Electronica.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h3 class="card-title">Ingeniería Electrónica</h3>

                  <a href="#" class="btn btn-primary">Mas Info..</a>
                </div>
              </div>
            </div>

            <div class="col-sm-3  mb-3">
              <div class="card">
                <img src="../../../../../assets/images/Ing-industrial.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h3 class="card-title">Ingeniería Industrial</h3>

                  <a href="#" class="btn btn-primary">Mas info..</a>
                </div>
              </div>
            </div>

            <div class="col-sm-3  mb-3">
              <div class="card">
                <img src="../../../../../assets/images/Ing-Mecanica.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h3 class="card-title">Ingeniería Mecánica</h3>

                  <a href="#" class="btn btn-primary">Mas Info.</a>
                </div>
              </div>
            </div>

            <div class="col-sm-3  mb-3">
              <div class="card">
                <img src="../../../../../assets/images/Ing-Mecatronica.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h3 class="card-title">Ingeniería Mecatrónica</h3>

                  <a href="#" class="btn btn-primary">Mas Info..</a>
                </div>
              </div>
            </div>

            <div class="col-sm-3 mb-3">
              <div class="card">
                <img src="../../../../../assets/images/Ing-Sistemas-Computacionales.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h3 class="card-title">Ingeniería Sistemas Computacionales</h3>

                  <a href="#" class="btn btn-primary">Mas Info..</a>
                </div>
              </div>
            </div>

            <div class="col-sm-3 mb-3">
              <div class="card">
                <img src="../../../../../assets/images/Ing-Gestion-Informatica.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h3 class="card-title">Ingeniería en Informática</h3>

                  <a href="#" class="btn btn-primary">Mas Info..</a>
                </div>
              </div>
            </div>

            <div class="col-sm-3 mb-3">
              <div class="card">
                <img src="../../../../../assets/images/Ing-Gestion-Empresarial.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h3 class="card-title">Ingeniería en Gestión Empresarial</h3>

                  <a href="#" class="btn btn-primary">Mas Info..</a>
                </div>
              </div>
            </div>



            <div class="col-sm-3 mb-3">
              <div class="card">
                <img src="../../../../../assets/images/Ing-Contador-Publico.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h3 class="card-title">Contador Público</h3>

                  <a href="#" class="btn btn-primary">Mas Info..</a>
                </div>
              </div>
            </div>

            <div class="col-sm-3 mb-3">
              <div class="card">
                <img src="../../../../../assets/images/Ing-Aeronautica.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h3 class="card-title">Ingeniería Aeronáutica</h3>

                  <a href="#" class="btn btn-primary">Mas Info..</a>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed lh-sm fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          Posgrados
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">

          <div class="row">

            <div class="col-sm-3 mb-3">
              <div class="card">
                <img src="../../../../../assets/images/Ing-Quimica.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h3 class="card-title">Maestría en Ciencias en Ingeniería Química</h3>

                  <a href="#" class="btn btn-primary">Mas Info..</a>
                </div>
              </div>
            </div>

            <div class="col-sm-3 mb-3">
              <div class="card">
                <img src="../../../../../assets/images/Ing-Bioquimica.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h3 class="card-title">Maestría en Ciencias en Ingeniería Bioquímica</h3>

                  <a href="#" class="btn btn-primary">Mas Info..</a>
                </div>
              </div>
            </div>

            <div class="col-sm-3 mb-3">
              <div class="card">
                <img src="../../../../../assets/images/Ing-Mecatronica.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h3 class="card-title">Maestría en Ciencias en Ingeniería Mecatrónica</h3>

                  <a href="#" class="btn btn-primary">Mas Info..</a>
                </div>
              </div>
            </div>

            <div class="col-sm-3 mb-3">
              <div class="card">
                <img src="../../../../../assets/images/Ing-Sistemas-Computacionales.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h3 class="card-title">Maestría en Ingeniería en Sistemas Computacionales</h3>

                  <a href="#" class="btn btn-primary">Mas Info..</a>
                </div>
              </div>
            </div>

            <div class="col-sm-3 mb-3">
              <div class="card">
                <img src="../../../../../assets/images/Ing-Gestion-Empresarial.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h3 class="card-title">Maestría en Gestión Administrativa </h3>

                  <a href="#" class="btn btn-primary">Mas Info..</a>
                </div>
              </div>
            </div>

            <div class="col-sm-3 mb-3">
              <div class="card">
                <img src="../../../../../assets/images/Ing-Aeronautica.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h3 class="card-title">Maestría en Eficiencia Energética y Energías Renovables  </h3>

                  <a href="#" class="btn btn-primary">Mas Info..</a>
                </div>
              </div>
            </div>


          </div>

        </div>
      </div>
    </div>

  </div>

  <div class="accordion accordion-flush lh-sm fs-4 shadow p-3 mb-5 bg-body rounded" id="accordionFlushExample">
    <p class="fw-bold">Actividades TESE</p>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        <p class="lh-sm fs-4">Programas educativos del TESE</p>
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <P>
            Los programas educativos del TESEestán sometidos a evaluación y acreditación permanentes,
            y cumplen con los requisitos académicos establecidos por los Comités Interinstitucionales
            para la acreditación de la Educación Superior (COPAES).
          </P>
          <br>
          <p>
            A la fecha, se cuenta con la acreditación por parte del Consejo de Acreditación de la Enseñanza de la Ingeniería, A.C (CACEI),
            para las ingenierías en: Mecánica, Sistemas Computacionales, Química, Bioquímica, Industrial y Electrónica asimismo,
            la Licenciatura en Informática está acreditada por parte del Consejo Nacional de Acreditación en Informática y Computación, A. C (CONAIC),
             y la Licenciatura en Contaduría, por el Consejo de Acreditación de la Enseñanza en Contaduría y la Administración, A. C. (CACECA).
          </p>
          <br>
          <p>
            Cabe destacar que el TESE fue el único en su tipo que recibió tal distinción,
            ya que dentro del Sistema Nacional de Institutos Tecnológicos (que abarca a los Tecnológicos Federales y Descentralizados),
            es el primero en contar con la acreditación externa del 100% de los programas académicos que integran la oferta educativa.
             Además de haber figurado en excelentes posiciones dentro de la encuesta Las Mejores Universidades de la Zona Metropolitana,
             que cada año efectúa el periódico Reforma.
          </p>
          <br>
          <p>
            También, con el propósito de ampliar la cobertura de la oferta educativa,
            con base en el estudio de factibilidad y el desarrollo de investigaciones de mercado,
            se implementó una nueva carrera a nivel licenciatura, denominada Ingeniería en Gestión Empresarial,
            que tiene como propósito formar integralmente profesionales que contribuyan a la gestión de empresas e innovación de procesos,
            así como al diseño, implementación y desarrollo de sistemas de negocios, optimizando recursos en un contexto global,
            con ética y responsabilidad social, iniciando actividades en el periodo 2012-2 con 64 alumnos.
          </p>
          <br>
          <p>
          Paulatinamente se iniciaron trabajos para la integración de la carrera de Ingeniería Aeronáutica,
          a través de la Reunión Nacional de Innovación y Diseño Curricular, en la que participaron expertos de todo el país,
          provenientes de 15 instituciones de Educación Superior, de colegios y asociaciones de profesionales,
          del sector gubernamental y del sector productivo. Por lo que una vez concluidos los mismos y autorizado el plan curricular,
          se le autorizo al Tecnológico su impartición e inició actividades en el periodo 2014-1 con una matrícula de 153 alumnos.
          </p>

        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingCuatro">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseCuatro" aria-expanded="false" aria-controls="flush-collapseCuatro">
          <p class="lh-sm fs-4">Ambito académico</p>
          </button>
        </h2>
        <div id="flush-collapseCuatro" class="accordion-collapse collapse" aria-labelledby="flush-headingCuatro" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <p>
              En el ámbito académico, hoy se cuenta con otro importante avance:
              Fueron autorizadas por la Dirección de Institutos Tecnológicos Descentralizados a partir del semestre 2012-2,
              10 especialidades denominadas: Sistemas autómatas industriales, mantenimiento industrial, alimentos, biotecnología,
              procesos químicos en desarrollo sustentable, bases de datos, calidad y productividad, contabilidad integral,
              sistemas de información y automatización de procesos.
              Además en el 2015 nuevamente se realiza la autorización de especialidades por parte del Tecnológico Nacional de México para la Ingeniería
              Electrónica la de Automatización de Procesos Industriales y Comunicaciones Digitales y Móviles para el caso de la Ingeniería
              Bioquímica las especialidades en Biotecnología y Alimentos y para la Ingeniería en Química la especialidad en Petroquímica.
            </p>
            <br>
            <p>
              Las estrategias para brindar educación de calidad con pertinencia,
              se han complementado con la oferta de estudios de posgrado,
              ya que representan la continuación natural en la formación tanto de nuestros egresados de licenciatura en sus respectivas áreas,
              como de profesionistas de otras instituciones afines. Dentro del Subsistema, es la Institución que imparte la mayor cantidad de posgrados.
            </p>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingCinco">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseCinco" aria-expanded="false" aria-controls="flush-collapseCinco">
          <p class="lh-sm fs-4">Programas de investigación tecnológica</p>
          </button>
        </h2>
        <div id="flush-collapseCinco" class="accordion-collapse collapse" aria-labelledby="flush-headingCinco" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <p>
              Mediante programas de investigación tecnológica, asesoría y asistencia técnica, concertación de convenios,
              cartas compromiso y acuerdos de buena voluntad, se fortalece la colaboración e intercambio académico y/o
              profesional con los distintos sectores de la sociedad. </p>
            <br>
            <p>
              Asimismo, en el Tecnológico se realizan continuamente actividades que le confieren mayor prestigio,
              como el pertenecer a destacados organismos y asociaciones, entre los que destaca: la Asociación Nacional de Universidades e
              Instituciones de Educación Superior (ANUIES) la Asociación Nacional de Facultades y Escuelas de Ingeniería, A.C.(ANFEI)
              la Asociación Mexicana de Directivos de la Investigación Aplicada y el Desarrollo Tecnológico, A. C. (ADIAT),
              y la Asociación Nacional de Instituciones de Educación en Informática, A.C.(ANIEI). De igual forma,
              está incorporado al Registro Nacional de Instituciones y Empresas científicas y Tecnológicas (RENIECYT),
              es miembro observador de la Asociación Nacional de Facultades y Escuelas de Contaduría y Administración, A. C. (ANFESCA),
              y es Miembro Regular en la Organización Universitaria Interamericana (OUI).
            </p>
            <br>
            <p>
              Fomenta, además, las actividades de investigación científica y tecnológica en las áreas de Tratamiento de aguas residuales,
              Restauración de suelos contaminados, Síntesis y caracterización de polímeros conductores,
              y la Producción de metabolismos de interés agroalimentario. Dentro de estas líneas,
              se han desarrollado proyectos con el apoyo de instancias externas, como el COSNET y el CONACYT. En este último,
              destaca el ingreso de la Maestría en Ciencias en Ingeniería Bioquímica al Programa Integral de Fortalecimiento del Posgrado (PIFOP 2.0)
              y al Padrón Nacional de Posgrado (PNP).
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="lh-sm fs-4 shadow p-3 mb-5 bg-body rounded">
     <P>
    Desde su creación, el Tecnológico ha tenido el compromiso de desarrollar una cultura de Sistemas de Gestión entre todos los
    miembros que conforman su comunidad, por lo que periódicamente se elaboran proyectos estratégicos de impacto hacia las actividades
    sustantivas y adjetivas de la institución. Ejemplo de ello es que en el año 2006 se obtuvo la certificación de los procesos de Inscripción,
    Reinscripción y Titulación, bajo la Norma ISO 900I:2000, reconocida por EMA (México) UKAS (Reino Unido) y ANAB (Estados Unidos), y
    en el 2008 se le otorgó la recomendación para certificar tres nuevos procesos: Servicios de Consulta de Información Documental,
    Ingreso y Alta de Personal y Administración de Recursos Financieros. Sin embargo al paso del tiempo se han ido incrementando
    otros procesos de las diversas áreas que integran a la Institución en este sentido al cierre del 2012 se tienen certificados nueve procesos,
    aunado a los anteriores: Selección, Planeación y Promoción Cultural.Además se cuenta con la certificación de Equidad de Género.
  </P>
  <br>
  <p>
    Para el año de 2014 se obtuvo la recertificación hasta el año de 2017 de ISO 9001:2008.
  </p>
  </div>

  <div class="accordion accordion-flush lh-sm fs-4 shadow p-3 mb-5 bg-body rounded" id="accordionFlushExample">
    <p class="fw-bold">Extra</p>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingSeis">
        <button class="accordion-button collapsed lh-sm fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeis" aria-expanded="false" aria-controls="flush-collapseSeis">
        2014 Norma ISO: 14000
        </button>
      </h2>
      <div id="flush-collapseSeis" class="accordion-collapse collapse" aria-labelledby="flush-headingSeis" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <p>
            Desde 2014 se iniciaron trabajos sobre la Norma ISO: 14000,
            para estar en posibilidades de obtener la certificación por lo que en el mes de diciembre se realizó la primera revisión y
            se realiza la atención de las recomendaciones para que en 2016 se ente en posibilidades de obtenerla.
          </p>
          <br>
          <p>
            Nuestros egresados cuentan con un respaldo no sólo en el área de formación profesional,
            sino que se impulsa la certificación de competencias laborales por ejemplo,
            se promueve el Examen General de Egreso de Licenciatura, convocado por el CENEVAL las diversas certificaciones en áreas
            propias del conocimiento que emiten las respectivas carreras para ello, se tienen firmados convenios con empresas
            como CISCO SYSTEM, MICROSOFT JAVA y SOLARIS, y se cuenta con un Centro de Evaluación de Competencia Laboral (CECL),
            acreditado por el Consejo de Normalización y Certificación de Competencia Laboral (CONOCER),
            y dos Laboratorios para la Certificación de Redes CISCO.
          </p>
          <br>
          <p>
            Con el fin de fortalecer la vinculación con el sector productivo y formar una generación de profesionales bajo el nuevo
            paradigma del constructivismo en su máxima expresión, se implementó el Sistema de Educación Dual,
            el cual es impulsado por el Gobierno del Estado de México como un plan especial, mediante el cual se combina la formación
            teórica que se imparte en las aulas con el aprendizaje práctico realizado directamente en las empresas, contando al 2015 con 22 alumnos.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-heading7">
        <button class="accordion-button collapsed lh-sm fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse7" aria-expanded="false" aria-controls="flush-collapse7">
        Cursos TESE
        </button>
      </h2>
      <div id="flush-collapse7" class="accordion-collapse collapse" aria-labelledby="flush-heading7" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <p>
            El TESE brinda cursos y diplomados en áreas de computación, docencia y enseñanza de idiomas, que están abiertos al público en general.
          </p>
          <br>
          <P>
           Su planta docente se encuentra altamente capacitada, ya alrededor del 42% de sus académicos tienen estudios de posgrado (147 profesores),
           y las instalaciones son de primer nivel. Además de formar profesionales capaces en las áreas económico-administrativas,
           y físico-matemáticas, se destinan los espacios necesarios para el desarrollo integral de individuos comprometidos con el crecimiento social
           y económico del país, a través de las actividades culturales y deportivas.
          </P>
          <br>
          <p>
           Mantiene una infraestructura moderna, suficiente y acorde a los requerimientos del proceso de enseñanza, lo cual,
           aunado a lo anterior, ha propiciado que el Tecnológico de Estudios Superiores de Ecatepec se convierta en una excelente opción
           para quienes buscan ingresar a instituciones de educación superior pública de calidad.
          </p>
          <br>
          <p>
            El TESE ha establecido como estrategia, la mejora continua e innovación en todas las actividades que influyen en su operación,
            por lo que se promueve el trabajo en equipo y se pone énfasis en los factores clave para el logro de nuestra:
          </p>
          <br>
          <p class="text-center fw-bold">Misión:
          </p>
          <br>
          <p class="fst-italic">
            "Ofrecer educación superior integral de calidad por competencias, que permita formar profesionistas líderes,
            creativos y competitivos en una realidad global, con capacidades para identificar y resolver problemas,
            comprometidos con el desarrollo tecnológico, económico, cultural y social del País, Estado y entrono local”
          </p>
        </div>
      </div>
    </div>

  </div>


  </mat-drawer-content>
</mat-drawer-container>
</div>
