<div class="">
  <mat-drawer-container class="side-container">
    <mat-drawer mode="side"class="sidebar" id="side" #drawer opened>
      <mat-selection-list role="list-container" [multiple]="false">
        <a href="Admin-Carrera/Contador">
          <mat-list-option>
            Contador Publico
          </mat-list-option>
        </a>
        <a href="Admin-Carrera/Gestion">
          <mat-list-option role="/Logo">
            Gestion Empresarial
          </mat-list-option>
        </a>

        <a href="Admin-Carrera/Aeronautica">
          <mat-list-option role="/Logo">
            Ingenieria Aeronautica
          </mat-list-option>
        </a>

        <a href="Admin-Carrera/Bioquimica">
          <mat-list-option role="/Logo">
            Ingenieria Bioquimica
          </mat-list-option>
        </a>

        <a href="Admin-Carrera/Electronica">
          <mat-list-option role="/Logo">
            Ingenieria Electronica
          </mat-list-option>
        </a>

        <a href="Admin-Carrera/Industrial">
          <mat-list-option role="/Logo">
            Ingenieria Industrial
          </mat-list-option>
        </a>

        <a href="Admin-Carrera/Informatica">
          <mat-list-option role="/Logo">
            Ingenieria Informatica
          </mat-list-option>
        </a>

        <a href="Admin-Carrera/Mecanica">
          <mat-list-option role="/Logo">
            Ingenieria Mecanica
          </mat-list-option>
        </a>

        <a href="Admin-Carrera/Mecatronica">
          <mat-list-option role="/Logo">
            Ingenieria Mecatronica
          </mat-list-option>
        </a>

        <a href="Admin-Carrera/Quimica">
          <mat-list-option role="/Logo">
            Ingenieria Quimica
          </mat-list-option>
        </a>

        <a href="Admin-Carrera/Sistemas">
          <mat-list-option role="/Logo">
            Ingeniería Sistemas Computacionales
          </mat-list-option>
        </a>
      </mat-selection-list>
    </mat-drawer>

    <mat-drawer-content class="side-content">
      <button id="arrow" type="button" mat-button (click)="drawer.toggle()" (click)="open()">
        <mat-icon id="right" class="open">arrow_forward</mat-icon>
        <mat-icon id="left">arrow_back</mat-icon>
      </button>
      <mat-divider class="divider"></mat-divider>

    <div class="text-side">
      <div class="box-shadow= 50px 50px;">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Admin</a></li>
            <li class="breadcrumb-item"><a href="/Admin-Carrera">Carreras</a></li>
          </ol>
        </nav>
      </div>
    </div>

    <h1 class="fw-bold lh-sm fs-4 shadow p-3 mb-5 bg-body rounded">Panel Administracion Carreras</h1>

    <section  class="lh-sm fs-4 shadow p-3 mb-5 bg-body rounded">

      <label for="inputAddress" class="form-label fw-bold" >Mision</label>

      <form [formGroup]="ingresarMision" (ngSubmit)="agregarMision()">
        <div class="row ">
          <span *ngIf="submitedMision && ingresarMision.invalid" class="alert alert-danger">Los campos deben tener datos para ingresar</span>
          <label for="inputAddress" class="form-label fw-bold" >Agregar</label>

          <div class="col-10">
            <input type="text" class="form-control" id="inputAddress" value="" formControlName="titulo_mision" placeholder="Mision">
          </div>

          <div class="col">
            <button type="submit" class="btn btn-success">Agregar</button>
          </div>

        </div>
      </form>
      <br>
      <h1 class="fw-bold lh-sm fs-4 shadow p-3 mb-5 bg-body rounded" *ngIf="Mision.length==0">No hay datos en Mision para mostrar</h1>
      <form *ngIf="Mision.length>0" >
        <label for="inputAddress" class="form-label fw-bold" >Eliminar</label>

        <div *ngFor="let Mision of Mision " class="row" >
          <div class="col-10">
            <input type="text" class="form-control" id="inputAddressMision" formControlName="mision_contenido" value="{{Mision.contenido}}" disabled>
          </div>
          <div class="col float-rigth">
            <button type="button" (click)="eliminaMision(Mision.id)"  class="btn btn-danger">Eliminar</button>
          </div>
        </div>

        <hr>
      </form>
    </section>



    <section  class="lh-sm fs-4 shadow p-3 mb-5 bg-body rounded">

      <label for="inputAddress" class="form-label fw-bold" >Vision</label>

      <form [formGroup]="ingresarVision" (ngSubmit)="agregarVision()">
        <div class="row ">
          <span *ngIf="submitedVision && ingresarVision.invalid" class="alert alert-danger">Los campos deben tener datos para ingresar</span>
          <label for="inputAddress" class="form-label fw-bold" >Agregar</label>

          <div class="col-10">
            <input type="text" class="form-control" id="inputAddress" value="" formControlName="titulo_vision" placeholder="Vision">
          </div>

          <div class="col">
            <button type="submit" class="btn btn-success">Agregar</button>
          </div>

        </div>
      </form>
      <br>
      <h1 class="fw-bold lh-sm fs-4 shadow p-3 mb-5 bg-body rounded" *ngIf="Vision.length==0">No hay datos en Vision para mostrar</h1>
      <form *ngIf="Vision.length>0">
        <label for="inputAddress" class="form-label fw-bold" >Eliminar</label>
        <div *ngFor="let Vision of Vision " class="row" >
          <div class="col-10">
            <input type="text" class="form-control" id="inputAddressVision" value="{{Vision.contenido}}" disabled>

          </div>
          <div class="col float-rigth">
            <button type="button" (click)="eliminaVision(Vision.id)"  class="btn btn-danger">Eliminar</button>
          </div>
        </div>
        <hr>
      </form>
    </section>



    <section  class="lh-sm fs-4 shadow p-3 mb-5 bg-body rounded">

      <label for="inputAddress" class="form-label fw-bold" >Mision Division Academica</label>

      <form [formGroup]="ingresarMisionDiv" (ngSubmit)="agregarMisionDiv()">
        <div class="row ">
          <span *ngIf="submitedMisionDiv && ingresarMisionDiv.invalid" class="alert alert-danger">Los campos deben tener datos para ingresar</span>
          <label for="inputAddress" class="form-label fw-bold" >Agregar</label>

          <div class="col-10">
            <input type="text" class="form-control" id="inputAddress" value="" formControlName="titulo_misionDiv" placeholder="Mision Division Academica">
          </div>

          <div class="col">
            <button type="submit" class="btn btn-success">Agregar</button>
          </div>

        </div>
      </form>
      <br>
      <h1 class="fw-bold lh-sm fs-4 shadow p-3 mb-5 bg-body rounded" *ngIf="MisionDiv.length==0">No hay datos en Vision para mostrar</h1>
      <form *ngIf="MisionDiv.length>0">
        <label for="inputAddress" class="form-label fw-bold" >Eliminar</label>
        <div *ngFor="let MisionDiv of MisionDiv " class="row" >
          <div class="col-10">
            <input type="text" class="form-control" id="inputAddressMisionDiv" value="{{MisionDiv.contenido}}" disabled>

          </div>
          <div class="col float-rigth">
            <button type="button" (click)="eliminaMisionDiv(MisionDiv.id)"  class="btn btn-danger">Eliminar</button>
          </div>
        </div>
        <hr>
      </form>
    </section>



    <section  class="lh-sm fs-4 shadow p-3 mb-5 bg-body rounded">

      <label for="inputAddress" class="form-label fw-bold" >Vision Division Academica</label>

      <form [formGroup]="ingresarVisionDiv" (ngSubmit)="agregarVisionDiv()">
        <div class="row ">
          <span *ngIf="submitedVisionDiv && ingresarVisionDiv.invalid" class="alert alert-danger">Los campos deben tener datos para ingresar</span>
          <label for="inputAddress" class="form-label fw-bold" >Agregar</label>

          <div class="col-10">
            <input type="text" class="form-control" id="inputAddress" value="" formControlName="titulo_visionDiv" placeholder="Vision Division Academica">
          </div>

          <div class="col">
            <button type="submit" class="btn btn-success">Agregar</button>
          </div>

        </div>
      </form>
      <br>
      <h1 class="fw-bold lh-sm fs-4 shadow p-3 mb-5 bg-body rounded" *ngIf="VisionDiv.length==0">No hay datos en Vision para mostrar</h1>
      <form *ngIf="VisionDiv.length>0">
        <label for="inputAddress" class="form-label fw-bold" >Eliminar</label>
        <div *ngFor="let VisionDiv of VisionDiv " class="row" >
          <div class="col-10">
            <input type="text" class="form-control" id="inputAddressVisionDiv" value="{{VisionDiv.contenido}}" disabled>

          </div>
          <div class="col float-rigth">
            <button type="button" (click)="eliminaVisionDiv(VisionDiv.id)"  class="btn btn-danger">Eliminar</button>
          </div>
        </div>
        <hr>
      </form>
    </section>


    <section  class="lh-sm fs-4 shadow p-3 mb-5 bg-body rounded">

      <label for="inputAddress" class="form-label fw-bold" >Documentos</label>

      <form [formGroup]="ingresarDoc" (ngSubmit)="agregarDoc()">
        <div class="row ">
          <span *ngIf="submitedDoc && ingresarDoc.invalid" class="alert alert-danger">Los campos deben tener datos para ingresar</span>
          <label for="inputAddress" class="form-label fw-bold" >Agregar</label>

          <div class="col-10">
            <input type="text" class="form-control" id="inputAddress" value="" formControlName="titulo_Doc" placeholder="Titulo Boton">
            <input type="text" class="form-control" id="inputAddress1" value="" formControlName="contenido_Doc" placeholder="Contenido Boton">
          </div>

          <div class="col">
            <button type="submit" class="btn btn-success">Agregar</button>
          </div>

        </div>
      </form>
      <br>
      <h1 class="fw-bold lh-sm fs-4 shadow p-3 mb-5 bg-body rounded" *ngIf="Doc.length==0">No hay datos en Vision para mostrar</h1>
      <form *ngIf="Doc.length>0">
        <label for="inputAddress" class="form-label fw-bold" >Eliminar</label>
        <div *ngFor="let Doc of Doc " class="row" >
          <div class="col-10">
            Titulo-Boton
            <input type="text" class="form-control" id="inputAddressDoc" value="{{Doc.titulo}}" disabled>
            Contenido-Boton
            <input type="text" class="form-control" id="inputAddressDoc1" value="{{Doc.contenido}}" disabled>
          </div>
          <div class="col float-rigth">
            <button type="button" (click)="eliminaDoc(Doc.id)"  class="btn btn-danger">Eliminar</button>
          </div>
        </div>
        <hr>
      </form>
    </section>



    </mat-drawer-content>
  </mat-drawer-container>
  </div>

